<h2 class="u-padding-top--xlarge" id="print-export-all">Download / Print All Materials</h2>
<p>Click the button below to preview and download this entire lesson as a PDF. Microsoft Word and other formats will be available in August.
</p>
<div>
<% lesson_document.links.each do |type, link| %>
  <% next unless type == 'pdf' %>
  <%= link_to t("ui.export_#{type}"), link, class: 'o-ub-btn o-ub-btn--yellow', data: { no_turbolink: true }, target: '_blank' %>
<% end %>
  <%# TODO: Turn on back after June 15th %>
  <%#= link_to t('resources.btn.download', title: 'Google Doc'), export_gdoc_lesson_document_path(lesson_document),
              class: 'o-ub-btn o-ub-btn--yellow', data: { no_turbolink: true }, target: '_blank' %>
</div>

<h2 class="u-padding-top--xlarge">Download / Print Teacher Materials</h2>
<p>Click the button below to preview and download teacher materials for this lesson as a PDF. Microsoft Word and other formats will be available in August.
</p>
<% if lesson_document.links['pdf_tm'].present? %>
  <%= link_to t('ui.export_pdf'), lesson_document.links['pdf_tm'], class: 'o-ub-btn o-ub-btn--yellow', data: { no_turbolink: true }, target: '_blank' %>
<% end %>


<h2 class="u-padding-top--xlarge">Download / Print Student Materials</h2>
<p>Click the button below to preview and download student materials for this lesson as a PDF. Microsoft Word and other formats will be available in August.
</p>
<% if lesson_document.links['pdf_sm'].present? %>
  <%= link_to t('ui.export_pdf'), lesson_document.links['pdf_sm'], class: 'o-ub-btn o-ub-btn--yellow', data: { no_turbolink: true }, target: '_blank' %>
<% end %>
