.o-ld-activity {
  // TODO: check if we do need to be this flex
  > div { width: 100%; }

  &.c-ld-toc {
    @include add-gutter(padding, top, 1);
    border-top: 4px solid map-get($ub-colorcodes, math-base);
  }

  @include e(guidance) {
    @include add-column-padding($x: 1);
    @include add-gutter(margin, bottom, 1);
    @include add-top-bottom-padding($y: 0.5);
    background-color: map-get($ub-ld-colorcodes, math-activity-guidance-bg);

    @include m(title) {
      @include add-gutter(margin, bottom, 0.5);
      display: block;
    }
  }

  @include add-column-padding($x: 1);
  @include flex;
  @include clearfix;
  background-color: map-get($ub-ld-colorcodes, math-activity-bg);
  flex-flow: row wrap;

  @include e(source) {
    @include add-gutter(padding, bottom, 1);
    display: block;

    p {
      &:empty { line-height: 0; }
      &:after {
        content: "";
        display: inline-block;
        width: 0;
      }
    }
  }
}
