.o-ld-callout {
  @include clearfix;
  border-left-style: solid;
  border-left-width: .125rem;
  float: right;
  font: italic 1.25rem / 1.3 $ub-serif;
  margin: 0 0 1rem 3.25rem;
  padding-left: 1.125rem;
  width: 50%;

  @include e(content) {
    font-size: 17px;
  }

  @include e(header) {
    @include txt-element(ld-callout-header);
  }

  @include m(math) {
    border-color: map-get($ub-colorcodes, math-base);
    &, *, ul, li, ol {
      &, * { color: map-get($ub-colorcodes, math-base); }
    }
  }

  @include m(ela) {
    border-color: map-get($ub-colorcodes, ela-base);
    &, *, ul, li, ol {
      &, * { color: map-get($ub-colorcodes, ela-base); }
    }
  }
}
