.o-ld-callout {
  @include clearfix;
  border-left: .125rem solid;
  float: right;
  font: italic 1.25rem / 1.3 $ub-serif;
  margin: 1.5rem 0 1.5rem 1.5rem;
  max-width: 300px;
  padding-left: 1.125rem;
  width: 50%;

  @include e(content) {
    font-size: 17px;
  }

  @include e(header) {
    @include txt-element(ld-callout-header);
  }

  @include m(math) {
    border-color: map-get($ub-colorcodes, math-base);

    &, *, ul, li, ol {
      &, * { color: map-get($ub-colorcodes, math-base); }
    }
  }

  @include m(ela) {
    border-color: map-get($ub-colorcodes, ela-base);

    &, *, ul, li, ol {
      &, * { color: map-get($ub-colorcodes, ela-base); }
    }
  }
}
