.c-ld-keyword {
  cursor: help;
  font-weight: bold !important;
  white-space: nowrap;

  @include m(ela) {
    color: map-get($ub-colorcodes, ela-base);
  }

  @include m(math) {
    color: map-get($ub-colorcodes, math-base);
  }
}

.c-ld-dropdown {
  background: #fff8e5;
  border: none;
  font-size: 1rem !important;
  line-height: 1.2 !important;
  padding: 1rem;

  * {
    word-wrap: break-word;
  }
}
