.o-lesson-expand {
  background-color: rgba(0, 166, 153, .15);
  clear: both;

  @include e(content) {
    padding: 10px;

    @include m(hidden) {
      display: none;
      padding: 0 10px;
    }
  }

  @include e(toggler) {
    @include txt-element(button);
    background-color: rgba(0, 166, 153, .3);
    color: #00a699;
    cursor: pointer;
    display: block;
    padding: .75rem 0;
    text-align: center;

    @include m(hide) {
      display: none;
    }
  }
}
