.o-ld-icon {
  background-size: cover;
  display: inline-block;

  @for $i from 1 through 3 {
    @include m('priority#{$i}') {
      $height: 1rem;
      background-image: asset-url('ld_p#{$i}.svg');
      vertical-align: baseline;
      height: $height;
      width: 16 / 9 * $height;
    }
  }
}
