@mixin icon-dim($height) {
  height: $height;
  width: 18 / 18 * $height;
}

.o-ld-icon {
  background-size: cover;
  display: inline-block;

  @include m(small) {
    @include icon-dim(12px);
    margin-top: -.2rem;
    vertical-align: middle;
  }

  @include m(base) {
    @include icon-dim(18px);
    vertical-align: baseline;
  }

  @for $i from 1 through 3 {
    @include m('priority#{$i}') {
      background-image: asset-url('ld_p#{$i}.svg');
    }
  }
}

$icons-png: (tens);
$icons-svg: (wp);

.o-m-icon {
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
}

@each $icon in $icons-png {
  .o-m-icon {
    @include m($icon) {
      background-image: asset-data-url("lessons/#{$icon}.png");
    }
  }
}

@each $icon in $icons-svg {
  .o-m-icon {
    @include m($icon) {
      background-image: asset-url("lessons/#{$icon}.svg");
    }
  }
}
