// TODO: should be refactored, inconsistent with BEM
.o-ld-image {
  .o-ld-image-clearfix {
    clear: both;
  }

  .o-ld-image-container {
    background-color: map-get($ub-ld-colorcodes, default-image-bg);

    &.o-ld-image-math {
      background-color: map-get($ub-ld-colorcodes, math-image-bg);
    }

    &.o-ld-image-ela {
      background-color: map-get($ub-ld-colorcodes, ela-image-bg);
    }

    figure {
      margin: 0;

      img {
        margin-top: -5px;
        width: 100%;

        @include breakpoint(ipad) {
          width: 30%;
        }
      }
      figcaption {
        width: 69%;
        display: inline-block;
        padding: 1.5em;
        font-weight: bold;
      }
    }
  }
}
