.o-ld-optbreak {
  @include flex;
  @include flex-align($x: spaced, $y: middle);
  color: $ub-hr;
  margin-bottom: $ub-base-padding;
  margin-top: $ub-base-padding;

  @include e(delimeter) {
    border-bottom: 1px solid $ub-hr;
    border-top: 1px solid $ub-hr;
    flex: 1 1 auto;
    height: 4px;
  }

  @include e(text) {
    @include txt-element(ld-optbreak);
    padding-left: $ub-base-padding;
    padding-right: $ub-base-padding;
  }
}
