@mixin ld-content-dropdown {
  // rewrite some css rules to meet foundation accordition
  .is-accordion-submenu-parent > a::after { display: none; }
  li[aria-expanded=true] > a > .o-ld-sidebar-item__icon {
    transform: rotate(90deg);
  }
}

.o-ld-sidebar {
  @include ld-content-dropdown;
  position: relative;

  @include e(wrap) {
    position: relative;
    width: 100%;

    &.is-stuck {
      @include add-top-bottom-padding;
      margin-top: $ub-nav-height !important;
    }
  }

  @include e(item) {
    opacity: .7;
    padding: $ub-base-padding / 2 0;

    @include m(active) {
      opacity: 1;
    }
  }

  @include e(menu) {
    @include menu-base;
    @include menu-direction(vertical);

    width: auto;

    @include m(nested) {
      padding-left: 1.2rem;
    }

    > li.o-ld-sidebar__item:last-child { padding-bottom: 0; }
  }

  @include e(toc-customizer) {
    overflow-x: hidden;
    padding-top: 60px;
  }
}

.o-ld-sidebar-header {
  @include flex;
  align-items: baseline;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0;

  @include e(title) {
    @include txt-element(ld-sidebar-header);
    flex: 0 1 auto;
  }

  @include e(toggle) {
    @include txt-element(ld-sidebar-toggle);
    cursor: pointer;
    flex: 0 0 auto;

    @include m(hide) { display: none; }
  }

  @include e(sep) {
    @include clearfix;
    border-bottom: 2px solid map-get($ub-yellow, base);
    border-radius: 4px;
    border-top: 2px solid map-get($ub-yellow, base);
    margin-bottom: $ub-base-margin;
    margin-top: $ub-base-margin / 2;
    width: 40px;
  }
}

.o-ld-sidebar-item {
  // rewrite foundation accordition styles
  outline: none !important;
  padding: 0 !important;

  @include e(content) {
    @include flex;
    align-items: baseline;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;

    @include m(disabled) {
      text-decoration: line-through;
    }
  }

  @include e(header) {
    flex: 0 1 auto;

    @include m(l1) {
      @include txt-element(ld-sidebar-l1);
    }

    @include m(l2) {
      @include txt-element(ld-sidebar-l2);

      .doc-subject-ela .is-submenu-item.o-ld-sidebar__item--active & {
        color: map-get($ub-colorcodes, ela-base);
      }

      .doc-subject-math .is-submenu-item.o-ld-sidebar__item--active & {
        color: map-get($ub-colorcodes, math-base);
      }

      .o-ld-sidebar-foundational-skills .o-ld-sidebar__item--active & {
        color: map-get($ub-ld-colorcodes, math-activity-foundational) !important;
      }
    }

    @include m(summary) {
      @include txt-element(ld-sidebar-total);
    }
  }

  @include e(hr) {
    border-top: 2px solid $ub-hr;
    margin-bottom: $ub-base-margin;
    margin-top: $ub-base-margin;
  }

  @include e(icon) {
    cursor: pointer;
    float: left;
    margin-right: .4rem;

    @include m(blank) {
      cursor: none;
      height: 1px;
      width: map-get(map-get($ub-element-typography, ld-sidebar-icon), font-size);
    }

    i { @include txt-element(ld-sidebar-icon); }
  }

  @include e(time) {
    flex: 0 0 auto;

    @include m(l1) {
      @include txt-element(ld-sidebar-l1-mins);
    }

    @include m(l2) {
      @include txt-element(ld-sidebar-l2-mins);
    }

    @include m(summary) {
      @include txt-element(ld-sidebar-total-mins);
    }
  }
}

.o-ld-sidebar-break {
  @include flex;
  @include flex-align($x: spaced, $y: middle);
  color: $ub-hr;

  @include e(delimeter) {
    border: 1px dotted $ub-hr;
    flex: 1 1 auto;

    .doc-subject-math & {
      border-color: map-get($ub-ld-colorcodes, math-activity-foundational);
    }
  }

  @include e(text) {
    @include txt-element(ld-sidebar-break);
    padding-left: $ub-small-padding;
    padding-right: $ub-small-padding;

    .doc-subject-math & {
      @include txt-element(ld-sidebar-break-foundational);
    }
  }
}
