.o-ld-smp {
  display: flex;
  justify-content: space-between;

  @include e(content) {
    flex: 1 1 0px;
    margin-right: 120px;
  }

  @include e(lines) {
    @include flex;
    @include flex-align($x: center, $y: center);
    flex: 0 0 100px;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
  }
}

.o-ld-smp-figure {
  background-color: map-get($ub-colorcodes, math-base);
  padding: 5px;
  z-index: $reveal-zindex;

  @include e(name) {
    @include txt-element(ld-smp);
    margin: 0;
  }
}

.o-ld-smp-bracket {
  border: 3px map-get($ub-colorcodes, math-base) solid;
  border-left: 0;
  border-radius: 3px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}
