<div class=nc-content>
  <div class=clearfix>
    <div class=pull-right>
      <%= link_to t('ui.edit'), edit_unbounded_admin_collection_type_path(@collection_type), class: 'btn btn-default' %>
      <%= button_to t('ui.delete'), unbounded_admin_collection_type_path(@collection_type), class: 'btn btn-danger', data: { confirm: t('ui.are_you_sure') }, form_class: 'inline', method: :delete %>
    </div>
  </div>

  <h2 class=text-center><%= @collection_type.name %></h2>
</div>
