<div class=nc-content>
  <div class=clearfix>
    <div class=pull-right>
      <%= link_to t('ui.edit'), edit_unbounded_admin_collection_type_path(@collection_type), class: 'btn btn-default' %>
    </div>
  </div>

  <h2 class=text-center><%= @collection_type.name %></h2>
</div>
