@mixin footer-links-styles {
  a {
    @include txt-fd-element(footer-links);
    margin: 0;
  }

  a + a:not(.cookie-link) { margin-left: 5px; }

  a:first-child { margin-right: 5px; }

  a:first-child::before, a.cookie-link::before {
    content: none;
  }

  a::before {
    content: '\2022';
    margin-left: -10px;
  }
}

.footer {
  @include add-gutter(margin, top, 1);

  @include breakpoint(small down) {
    .footer-links {
      @include footer-links-styles;
      a {
        background: 0;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
      }
      a.cookie-link {
        margin-top: 5px;
        width: 100%;
      }
    }
  }

  .footer-links {
    @include footer-links-styles;
  }
}
