<div class="media">
  <div class="media-body">
    <h5>
      <% if lobject.sources.engageny && lobject.sources.engageny.any? { |source| !source.active } %>
      <strong>Not active</strong>
      <% end %>
      <%= link_to(lobject.title, unbounded_show_path(id: lobject.id)) %>
    </h5>
    <div class="list-description">
      <%= truncate_html(lobject.description.try(:html_safe), length: 150) %>
    </div>
  </div>
</div>