<!DOCTYPE html>
<body class="c-pdf-cover__wrap" onload="subst()">
  <div class="c-pdf-cover--<%= lesson_document.subject %>">
    <div class="c-pdf-cover">
      <div class="c-pdf-cover__content" style="padding-top: 60px;">
        <div class="c-pdf-cover__title">
          <h1><%= simple_format(lesson_document.title) %></h1>
          <h2><%= raw lesson_document.description %></h2>
          <div class="c-pdf-timestamp">
            Generated on <%= Time.now.strftime("%B %d, %Y") %>
          </div>
        </div>
        <div class="c-pdf-cover__logo">
          <span class="c-pdf-logo--u">Unbound</span><span class="c-pdf-logo--ed">Ed</span>
        </div>
      </div>
    </div>
  </div>
</body>
