<!DOCTYPE html>
<body onload="subst()">
  <div class="c-pdf-footer__wrap">
    <table class="c-pdf-footer c-pdf-footer--ld">
      <tr>
        <td class="c-pdf-footer__left">
          <span>Created by</span>
          <strong>Unbound</strong>Ed
          <span> | </span>
          <span><%= lesson_document.pdf_footer %></span>
        </td>
        <td class="c-pdf-footer__right">
          <span class="page"></span>
        </td>
      </tr>
    </table>
  </div>
</body>
