.o-twitter {
  @include e(body) {
    @include add-column-padding;
    @include add-top-bottom-padding;
    flex: 1 1 0px;

    p {
      @include add-gutter;
      @include txt-element(twitter-txt);

      a {
        color: #a269bf;
      }
    }
  }

  @include e(header) {
    @include add-column-padding;
    @include add-top-bottom-padding;
    background: linear-gradient(180deg, #565656 2.95%, #4a4a4a 100%);
    flex: 0 0 100%;

    &, h2 { color: $ub-white; }
    h2 i {
      color: #c9c9c9;
      float: right;
      opacity: .3;
    }

    @include breakpoint(ipad) {
      flex: 0 0 auto;
      width: 380px;
    }

    @include breakpoint(medium down) {
      p { margin-bottom: 0; }
    }
  }

  @include e(user) {
    &, &:hover, &:focus {
      @include txt-element(twitter-subheader);
    }
  }
}
