.o-gdoc-icon {
  background-size: cover;
  display: inline-block;

  @for $i from 1 through 3 {
    @include m('priority#{$i}') {
      background-image: asset-data-url('lessons/ld_p#{$i}.png');
    }
  }
}

.o-ld-icon {
  display: inline-block;
  height: 20pt;
  width: 20pt;
}
