.o-ld-section {
  @include e(quote) {
    @extend %u-pdf-nobreak;
    @include txt-gdoc-element(pullquote);
  }

  @include m(bg-color) {
    background-color: map-get($ub-ld-colorcodes, ela6-section-bg);
  }
}

.o-ld-section-wrapper {
  .o-simple-table {
    td {
      > ol, > p, > ul {
        background-color: initial !important;

        :not(.o-ld-gls) {
          background-color: initial !important;
        }
      }
    }

    &.o-ld-section__optional {
      td {
        background-color: map-get($ub-ld-colorcodes, activity-optional);
        padding: 20pt;
        width: 100%;
      }

      p {
        padding: 0 !important;
        text-align: center !important;
      }
    }
  }
}
