<!DOCTYPE html>
<body onload="subst()">
  <div style="<%= document.footer_margin_styles %>">
    <table class="c-pdf-footer c-pdf-footer--material">
      <tr>
        <td class="c-pdf-footer__logo u-padding-left--zero">
          <div class="c-pdf-footer__logo c-pdf-ub-logo">
          </div>
        </td>
        <td class="c-pdf-footer__cc-logo">
          <div class="c-pdf-footer__cc-logo c-pdf-cc-logo">
          </div>
        </td>
        <td class="u-pdf-txt--m-footer-small">
          <%= document.cc_attribution %>
        </td>
        <td class="u-pdf-txt--m-footer-small">
          <span class="u-padding-right--xs u-text--capitalized"><%= document.full_breadcrumb %></span>
          <%= link_to document.short_url, document.short_url, class: 'u-pdf-txt--m-footer-small' %>
        </td>
        <td class="c-pdf-footer__page u-pdf-txt--m-footer-page u-padding-right--zero">
          p. <span class="page"></span> of <span class="topage u-padding-left--tiny"></span>
        </td>
      </tr>
    </table>
  </div>
</body>
