COMMON_STANDARDS_PROJECT_API_KEY=vZKoJwFB1PTJnozKBSANADc3
COMMON_STANDARDS_PROJECT_API_URL=http://api.commonstandardsproject.com
COMMON_STANDARDS_PROJECT_JURISDICTION_ID=67810E9EF6944F9383DCC602A3484C23
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
POSTGRESQL_ADDRESS=127.0.0.1
POSTGRESQL_DATABASE=content
POSTGRESQL_USERNAME=content
POSTGRESQL_PASSWORD=content
POSTGRESQL_PORT=5432
SOUNDCLOUD_CLIENT_ID=
UNBOUNDED_DOMAIN=unbounded.org
WKHTMLTOPDF_PATH=/usr/local/bin/wkhtmltopdf
