.c-cg-content__body {
  p, ol, ul {
    &, * {
      $typo: map-get($ub-pdf-typography, base);
      @each $style, $value in $typo {
        #{$style}: $value !important;
      }
      font-weight: normal;
      orphans: 2;
      widows: 2;
    }
  }

  .c-cg-sup { font-size: 7pt !important; }

  table td {
    padding-right: $ub-large-padding !important;
  }
}
