<% set_page_title 'Batch Import' %>

<div class="o-page">
  <h2 class="text-center">Batch Reimport</h2>

  <div class="row">
    <%= link_to '<- Back', new_admin_batch_reimport_path(query: @query.to_h), class: 'button primary' %>
  </div>

  <%= react_component('ImportStatus', @props, prerender: true) %>
</div>
