// Unbounded specific
html, body {
  background: none;
  height: 100%;
}

@page {
  size: letter;
}

.o-page {
  @include m(pdf) {
    padding-left: $pdf-margin;
    padding-right: $pdf-margin;
  }

  @include m(pdf-ld) {
    padding-left: $pdf-margin-ld;
    padding-right: $pdf-margin-ld;
  }
}

header, footer, o-sidebar-nav {
  display: none;
}

tr, img, table, pre, blockquote, .callout { page-break-inside: avoid; }

// Avoid page breaks after a heading
h1, h2, h3, h4, h5 { page-break-after: avoid; }

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  @include txt-pdf-element(h3);
  clear: both;
  padding-top: 1.25rem;

  & + h2 {
    padding-top: 0 !important;
  }

  * { margin-bottom: 0; line-height: 1.1; }
}

h2 {
  @include txt-pdf-element(h4);
  padding-top: 1.25rem;

  & + h3 {
    padding-top: 0 !important;
  }
}

h3 {
  @include txt-pdf-element(h5);
  padding-top: 1.25rem;

  & + h4 {
    padding-top: 0 !important;
  }
}

h4 {
  @include txt-pdf-element(h6);
  padding-top: 1.25rem;
}

ul li {
  text-indent: 0 !important;
}

img, td, span, table {
  max-width: 100%;
}

img { height: auto !important; }
