.pdf-bullet {
  padding-left: $ub-xs-padding / 2;
  padding-right: $ub-xs-padding / 2;
  &:after { content: '\2022'; }
}

.c-pdf-footer {
  border: 0;
  border-collapse: separate;
  border-radius: 0;
  border-top: 1px solid $ub-hr;
  box-shadow: none;
  margin: 0;
  margin-top: $ub-base-padding;
  outline: 0;
  padding: 0;
  padding-top: $ub-small-padding;
  width: 100%;

  @include m(cg) {
    @include txt-pdf-element(footer);
  }

  @include m(ld) {
    &, a { @include txt-pdf-element(ld-footer); }
  }

  @include e(wrap) {
    margin-left: $pdf-margin;
    margin-right: $pdf-margin;

    @include m(ld) {
      margin-left: $pdf-margin-ld;
      margin-right: $pdf-margin-ld;
    }
  }

  @include e(left) {
    padding: 0;

    @include m(draft) {
      color: #f00;
      padding-right: 5px;
    }
  }

  @include e(right) {
    padding: 0;
    text-align: right;
  }

}
