body.u-pdf-not-100height {
  height: auto !important;
}

.c-pdf-header {
  @include m(ld) {
    @include txt-pdf-element(ld-header);
  }

  @include e(wrap) {
    margin-left: $pdf-margin;
    margin-right: $pdf-margin;
  }

}
