@page {
  size: letter;
}

@media print {
    // Unbounded specific
    html, body {
      background: none;
    }

    header, footer, .o-btn, .o-ub-btn, .o-filterbar, .c-cg-content__sidebar {
      display: none;
    }

}
