// Font families
// $ub-sanserif: 'PF Centro Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $ub-serif: 'Caponi Slab Web', Georgia, "Times New Roman", Times, serif;
// $ub-sanserif-condensed: 'PF Centro Sans Condensed', $ub-sanserif;

$ub-pdf-typography: (
  h1: ('font-size': 30pt, 'line-height': 30pt, 'font-family': $ub-serif, 'font-weight': 500, 'font-style': normal, color: $ub-pdf-black),
  h2: ('font-size': 15pt, 'line-height': 18pt, 'font-family': $ub-serif, color: $ub-pdf-gray, 'font-style': normal),
  h3: ('font-size': 22pt, 'line-height': 24pt, 'font-family': $ub-sanserif-condensed, 'font-weight': 500, 'font-style': normal),
  h4: ('font-size': 14pt, 'line-height': 18pt, 'font-family': $ub-sanserif, 'font-style': italic, color: $ub-pdf-gray),
  h5: ('font-size': 13pt, 'line-height': 16pt, 'font-family': $ub-sanserif-condensed, 'font-style': normal, 'font-weight': 500, color: $ub-pdf-gray),
  h6: ('font-size': 10pt, 'line-height': 13pt, 'font-family': $ub-sanserif-condensed, 'font-style': normal, 'font-weight': 500, color: $ub-pdf-gray),
  base: ('font-size': 10pt, 'line-height': 1.5, 'font-family': $ub-sanserif),
  toc-l1: ('font-size': 14pt, 'line-height': 18pt, 'font-family': $ub-sanserif-condensed, 'font-weight': 500),
  toc-l2: ('font-size': 11pt, 'line-height': 18pt, 'font-family': $ub-sanserif-condensed, 'font-weight': 500, color: $ub-pdf-gray),
  task-number: ('font-size': 10pt, 'line-height': 14.5pt, 'font-family': $ub-sanserif-condensed, 'font-weight': 500, color: $ub-pdf-gray),
  task-title: ('font-size': 13pt, 'line-height': 16pt, 'font-family': $ub-sanserif-condensed, 'font-weight': 500, color: $ub-pdf-gray),
  pullquote: ('font-size': 17pt, 'line-height': 19pt, 'font-family': $ub-serif),
  blockquote: ('font-size': 11pt, 'line-height': 14pt, 'font-family': $ub-serif, color: $ub-pdf-gray),
  cover-title: ('font-size': 12pt, 'line-height': 23pt, 'font-family': $ub-serif, 'font-weight': 600),
  cover-timestamp: ('font-size': 10pt, 'line-height': 14.5pt, 'font-family': $ub-sanserif, color: $ub-pdf-black),
  cover-logo-u: ('font-size': 24pt, 'line-height': 24pt, 'font-family': $ub-serif, 'font-weight': 600, color: $ub-pdf-gray),
  cover-logo-ed: ('font-size': 24pt, 'line-height': 24pt, 'font-family': $ub-serif, color: $ub-pdf-gray),
  footer: ('font-size': 7pt, 'line-height': 8.4pt, 'font-family': $ub-serif, color: $ub-pdf-gray),
  header: ('font-size': 7pt, 'line-height': 8.4pt, 'font-family': $ub-serif, color: $ub-pdf-gray),
  // Lessons
  ld-activity-h2time: ('font-size': 16pt, 'line-height': 1, 'font-family': $ub-sanserif, 'font-weight': bold, 'font-style': italic),
  ld-activity-h3time: ('font-size': 12pt, 'line-height': 1, 'font-family': $ub-sanserif, 'font-weight': bold, 'font-style': italic),
  ld-activity-teaser: ('font-size': 13.5pt, 'line-height': 1.3, 'font-family': $ub-sanserif, font-style: italic),
  ld-base: ('font-size': 16px, 'font-family': $ub-sanserif),
  ld-callout-header: ('font-size': 14.5pt, 'line-height': 1.4, 'font-family': $ub-sanserif-condensed, 'font-weight': 500, font-style: normal),
  ld-footer: ('font-size': 10pt, 'line-height': 1.2, 'font-family': $ub-sanserif, color: $ub-pdf-gray),
  ld-footer-logo: ('font-size': 10pt, 'line-height': 1.2, 'font-family': $ub-serif, color: $ub-pdf-gray),
  ld-footer-page: ('font-size': 10pt, 'line-height': 1.2, 'font-family': $ub-sanserif, font-weight: 500, color: $ub-pdf-gray),
  ld-h1: (font-size: 30pt, 'line-height': 30pt, 'font-family': $ub-serif, 'font-weight': 500, 'font-style': normal),
  ld-h2: (font-size: 26pt, 'line-height': 1.05, 'font-family': $ub-serif, 'font-weight': 500, font-style: normal),
  ld-h3: (font-size: 20pt, 'line-height': 1.07, 'font-family': $ub-sanserif-condensed, 'font-weight': 500, font-style: normal),
  ld-h4: ('font-size': 15pt, 'line-height': 1.23, 'font-family': $ub-sanserif, 'font-style': italic),
  ld-h5: ('font-size': 13pt, 'line-height': 1, 'font-family': $ub-sanserif, 'font-weight': bold),
  ld-header: ('font-size': 12pt, 'line-height': 1.2, 'font-family': $ub-serif, color: $ub-white),
  ld-optbreak: ('font-size': 14.5pt, 'line-height': 1.4, 'font-family': $ub-sanserif-condensed, 'font-weight': 500, font-style: normal),
  ld-smp: ('font-size': 12pt, 'line-height': 1, 'font-family': $ub-serif, 'font-weight': 600, color: #fff),
  ld-summary: ('font-size': 13.5pt, 'line-height': 1.3, 'font-family': $ub-sanserif),
  // Materials
  m-footer-small: ('font-size': 6pt, 'line-height': 8pt, 'font-family': $ub-serif, color: #7f8184),
  m-footer-page: ('font-size': 11pt, 'line-height': 12pt, 'font-family': $ub-serif, color: #7f8184, font-style: italic),
  m-header-kicker: ('font-size': 11pt, 'line-height': 12pt, 'font-family': $ub-serif, font-weight: 500, color: #7f8184),
  m-header-title: ('font-size': 30pt, 'line-height': 1, 'font-family': $ub-serif, font-weight: 500, color: $ub-pdf-black),
  m-header-dt-title: (font-size: 15pt, 'line-height': 1, font-family: $ub-serif, color: $ub-pdf-black),
  m-header-dt-value: (font-size: 15pt, 'line-height': 1, font-family: $ub-cursive, color: #433a82),
);

p {
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeSpeed; //optimize-speed
}

@each $element, $typo in $ub-pdf-typography {
  .u-pdf-txt--#{$element} {
    @include txt-pdf-element($element);
  }
}
