$ub-pdf-typography: (
  h1: ('font-size': 30pt, 'line-height': 30pt, 'font-family': $ub-serif, 'font-weight': 500, 'font-style': normal, color: $ub-pdf-black),
  h2: ('font-size': 15pt, 'line-height': 18pt, 'font-family': $ub-serif, color: $ub-pdf-gray, 'font-style': normal),
  h3: ('font-size': 22pt, 'line-height': 24pt, 'font-family': $ub-sanserif-condensed, 'font-weight': bold, 'font-style': normal),
  h4: ('font-size': 14pt, 'line-height': 18pt, 'font-family': $ub-sanserif, 'font-style': italic, color: $ub-pdf-gray),
  h5: ('font-size': 13pt, 'line-height': 16pt, 'font-family': $ub-sanserif-condensed, 'font-style': normal, 'font-weight': bold, color: $ub-pdf-black),
  h6: ('font-size': 10pt, 'line-height': 13pt, 'font-family': $ub-sanserif-condensed, 'font-style': normal, 'font-weight': bold, color: $ub-pdf-black),
  base: ('font-size': 10pt, 'line-height': 14.5pt, 'font-family': $ub-sanserif),
  toc-l1: ('font-size': 14pt, 'line-height': 18pt, 'font-family': $ub-sanserif-condensed, 'font-weight': bold),
  toc-l2: ('font-size': 11pt, 'line-height': 18pt, 'font-family': $ub-sanserif-condensed, 'font-weight': bold, color: $ub-pdf-gray),
  task-number: ('font-size': 10pt, 'line-height': 14.5pt, 'font-family': $ub-sanserif-condensed, 'font-weight': bold, color: $ub-pdf-gray),
  task-title: ('font-size': 13pt, 'line-height': 16pt, 'font-family': $ub-sanserif-condensed, 'font-weight': bold, color: $ub-pdf-black),
  pullquote: ('font-size': 17pt, 'line-height': 19pt, 'font-family': $ub-serif),
  blockquote: ('font-size': 11pt, 'line-height': 14pt, 'font-family': $ub-serif, color: $ub-pdf-gray),
  cover-title: ('font-size': 12pt, 'line-height': 23pt, 'font-family': $ub-serif, 'font-weight': 600),
  cover-timestamp: ('font-size': 10pt, 'line-height': 14.5pt, 'font-family': $ub-sanserif, color: $ub-pdf-black),
  cover-logo-u: ('font-size': 24pt, 'line-height': 24pt, 'font-family': $ub-serif, 'font-weight': 600, color: $ub-pdf-gray),
  cover-logo-ed: ('font-size': 24pt, 'line-height': 24pt, 'font-family': $ub-serif, color: $ub-pdf-gray),
  footer: ('font-size': 7pt, 'line-height': 8.4pt, 'font-family': $ub-serif, color: $ub-pdf-gray),
);
