<% set_page_title "#{t('ui.unbounded')} - #{@pdf_filename}}" %>
<script>
  pdf_url = "<%= @pdf_url %>";
</script>
<div class="o-page o-page--margin-to-top o-page--margin-bottom o-page--centered">
  <h1 class="u-margin-bottom--base">Preview <%= @pdf_filename %></h1>
  <div class="o-resource__pdf-preview--full"></div>
</div>
