<% set_page_title "#{t('ui.unbounded')} - #{@download.s3_filename}" %>

<script type="text/javascript" data-turbolinks-eval="always">
  pdfUrl = "<%= pdf_proxy_download_path(params[:id], s3: @download.s3_filename) %>";
</script>

<div class="o-page o-page--margin-to-bottom">

  <%= render partial: 'resources/header', locals: { resource: @resource } %>

  <div class="o-page__section u-padding-top--gutter u-padding-bottom--gutter u-bg--light">
    <div class="o-page__wrap--row o-page--centered">
      <div class="o-resource__pdf-preview--full"></div>
    </div>
  </div>
</div>
