$staff-img: 120px;

.c-stp-header {
  h1 { color: $ub-primary; }
  @include e(title) {
    font-family: $ub-serif;
    padding-bottom: $ub-small-padding;
  }
}

.c-stp-staff {
  @include e(item) {
    @include flex-grid-column(4, 0);

    @for $i from 1 through 3 {
      &:nth-child(3n + #{$i}) {
        .c-stp-staff__dsc {
          margin-left: (1 - $i) * 100%;
          width: 300%;

          &::before {
            @include css-triangle($tooltip-pip-width, $ub-white, up);
            bottom: 100%;
            left: (100% / 3) * ($i - 1);
            margin-left: $staff-img / 2;
            position: absolute;
            transform: translateX(-50%);
          }
        }
      }
    }
  }

  @include e(dsc) {
    @extend %material-card;
    @include callout-base;
    @include callout($ub-white);
    display: none;


    //> p { width: 90%; margin: 0; }

    .close-button {
      color: map-get($ub-yellow, base);
      font-size: $global-font-size;
    }
  }
}

.c-stp-media {
  @include media-object-container;
  @include add-gutter;

  @include e(img) {
    @include media-object-section;
    img {
      @extend %material-card;
      background-color: $ub-white;
      border: 1px solid $medium-gray;
      border-radius: 50%;
      height: $staff-img;
      width: $staff-img;
    }
  }

  @include e(body) {
    @include media-object-section;
    padding: $ub-base-padding 0;
    padding-left: $ub-xs-padding;

    h3 { color: $ub-primary; }
    h4 {
      color: lighten($ub-txt, 10%);
      font-family: $ub-serif;
      font-style: italic;
      margin: 0;
    }
  }
}
