@mixin cg-page-color-scheme($map) {
  .c-cg-hero {
    @include e(body) {
      background: map-get($map, header-bg);
    }
  }

  .c-cg-btn-download {
    $background: map-get($map, btn-download-bg);
    $color: map-get($map, link1);
    @include button-style($background: $background, $background-hover: lighten($background, 20%), $color: $color);
  }

  .c-cg-btn-related {
    border-color: map-get($map, btn-related-border);
    color: map-get($map, btn-related);
  }

  .o-sidebar-nav {
    @include e(header) {
      color: map-get($map, sidebar);
    }

    @include e(sep) {
      background: map-get($map, sidebar);
    }

    @include e(item) {
      a {
        &.active, &:hover {
          color: map-get($map, sidebar);
        }
      }
    }
  }
}

.c-cg-hero {
  background-color: $ub-hero-bg;

  @include e(img) {
    @extend %u-ph-img--light;
    @include aspect-ratio(1, 1);
    @include flex-grid-column(12);
    background-color: $ub-hero-bg;
    background-position: center center;
    background-size: cover;
    padding: 0 !important;

    @include breakpoint(ipad) {
      @include flex-grid-column(3);
    }
  }

  @include e(body) {
    @include flex-grid-column(12, 2 * 1.5rem);
    padding-bottom: 3.5rem;
    padding-top: 2.25rem;

    @include breakpoint(ipad) {
      @include flex-grid-column(9, 2 * 1.875rem);
    }

  }
}

.c-cg-content {
  padding-bottom: $ub-large-padding;
  padding-top: $ub-xlarge-padding;

  @include e(sidebar) {

    @include breakpoint(medium down) {
      @include add-gutter(margin, left, -.5);
      @include add-gutter(margin, right, -.5);
      // flex: 0 0 100%;
      // min-width: 100%;
      @include flex-grid-column(12, 0);
      //display: none;
    }

    @include breakpoint(ipad) {
      @include flex-grid-column(3);
      border-right: 1px dotted $light-gray;
    }
  }

  @include e(body) {
    @include flex-grid-column(12, 2 * 1.75rem);

    @include breakpoint(ipad) {
      @include flex-grid-column(9);
      padding: 0 2.125rem 0 2.25rem !important;
    }

    h1, h2, h3, h4 {
      font-weight: bold;
    }

    h1 {
      @include txt-heading(h3);
      clear: both;
      padding-top: 1.25rem;

      & + h2 {
        padding-top: 0 !important;
      }
    }

    h2 {
      @include txt-heading(h4);
      padding-top: 1.25rem;

      & + h3 {
        padding-top: 0 !important;
      }
    }

    h3 {
      @include txt-heading(h5);
      padding-top: 1.25rem;

      & + h4 {
        padding-top: 0 !important;
      }
    }

    h4 {
      @include txt-heading(h6);
      padding-top: 1.25rem;
    }

    p, ol, ul {
      * {
        font: 1rem/1.5 $ub-sanserif !important;
      }
    }

    ul li {
      text-indent: 0 !important;
    }

    img, span, td, table {
      max-width: 100%;
      max-height: 100%;
    }

    @include breakpoint(ipad down) {
      p { margin: 0 !important; text-indent: 0 !important; }
      li { margin-left: 15px !important;}
      span:not(.c-cg-standard):not(.c-cg-dropdown):not(.c-cg-icon), img {
        width: 100% !important;
      }

      table {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

  }
}

@include breakpoint(ipad down) {
  .c-cg-dropdown {
    max-width: 200px !important;
    width: 100% !important;
  }
}

.c-cg-grade {
  text-transform: capitalize;

  &::after {
    content: ', ';
  }

  &:last-child::after {
    content: ''
  }
}

.c-cg-teaser {
  color: $ub-white;
  font: 1.3125rem/1.3 $ub-serif;
}

.c-cg-title {
  margin-bottom: 2rem;

  * {
    color: $ub-white !important;
    font: 2.25rem/1.2 $ub-serif;
    margin-bottom: 0;
  }

}

.c-cg-btn-related {
  border-style: solid;
  border-width: 1px;
}

.o-page--cg-ela {
  @include cg-color-scheme($ub-cg-ela-colors);
  @include cg-page-color-scheme($ub-cg-ela-colors);
}

.o-page--cg-math {
  @include cg-color-scheme($ub-cg-math-colors);
  @include cg-page-color-scheme($ub-cg-math-colors);
}
