.c-eh-card {
  display: flex;
  width: 100%;

  @include e(img) {
    @extend %u-ph-img--dark;
    @include media-object-section;
    width: grid-column(4);
  }
  @include e(body) {
    @include media-object-section;
    padding: $ub-base-padding;
    width: grid-column(8);
  }
}

.c-eh-tab {
  margin-top: $ub-base-margin * 4;
}
