.c-ec-cards {
  @include flex-grid-column();

  @include e(children) {
    margin-bottom: 0;
    margin-left: $ub-xlarge-margin;
    margin-top: 0;
    transition: all .8s cubic-bezier(0, 1, .5, 1);

    @include m(expanded) {
      margin-bottom: $ub-large-margin;
      margin-top: $ub-large-margin;
    }

    @include m(lessons) {
      @include flex-grid-row(nest);

      @each $breakpoint in $breakpoint-classes {
        @include breakpoint($breakpoint) {
          margin-left: $ub-xlarge-margin;
        }
      }
    }
  }
}

.c-ec-card {

}
