.c-ec-cards {
  @include e(children) {
    @include add-gutter(margin, left, 1);
    margin-bottom: 0;
    margin-top: 0;

    @include m(expanded) {
      @include add-gutter(margin, bottom, 2);
      @include add-gutter(margin, top, 1);
    }

    @include m(lessons) {
      @include flex-grid-row(nest);
      @include add-gutter(margin, left, .5);

      &.c-ec-cards__children--expanded {
        @include add-gutter(margin, bottom, 1);
      }
    }
  }
}

.c-ec-cards-opr {
  @include flex;
  @include add-gutter(margin, bottom, 1);

  align-items: center;
  justify-content: space-between;

  @include e(title) {
    @include txt-element(ec-opr-title);
  }

  @include e(wrapper) {
    @include add-gutter(margin, bottom, 1.5);
    @include add-gutter(margin, top, 1.5);

    border-bottom: dotted 1px $ub-primary;
    border-top: dotted 1px $ub-primary;
  }

  button {
    font-weight: 600;
    margin: 0;
  }
}
