.c-hp {
  background: image-url('homepage_bg.jpg');
  background-repeat: no-repeat;
  padding-bottom: $ub-large-margin * 2;
}

.c-hp-hero {
  margin-top: $ub-xlarge-margin * 2;
  margin-bottom: $ub-xlarge-margin * 2;

  @include e(body) {
    @include grid-column-offset(4);
    @include flex-grid-column(8);
    background-color: rgba($ub-white, .45);

    h1 { color: $ub-primary; }

    @include breakpoint(medium) {
      @include grid-column-offset(6);
      @include flex-grid-column(6);
    }
  }
}

.c-hp-register {
  @include add-gutter;
  background-color: rgba(map-get($ub-mignight, base), .7);
  color: $ub-white;
  padding: $ub-xlarge-padding 0;

  @include e(wrap) {
    @include flex-align($x: spaced, $y: middle);
  }

  @include e(item) {
    @include flex-grid-column(shrink);
  }

  @include e(text) {
    @include flex-grid-column();
    border-left: 1px solid $ub-whitesmoke;
  }

}

.c-hp-panel {
  @include flex;
  @include flex-grid-column(12);
  @include add-gutter;

  @include breakpoint(medium) {
    @include flex-grid-column(6);
  }

  @include e(body) {
    @include flex;
    @include add-gutter($type: padding, $subtype: right, $x: .5);
    @include add-gutter($type: padding, $subtype: left, $x: .5);
    flex-direction: column;
    padding: $ub-base-padding 0;

    h2, & { color: $ub-white; }
    p { flex: 1 1 0px; }
    a.o-ub-btn { max-width: 200px; }

    @include m(ela) {
      background-color: rgba(map-get($ub-colorcodes, ela-base), .7);
    }
    @include m(math) {
      background-color: rgba(map-get($ub-colorcodes, math-base), .7);
    }
  }
}

.c-hp-hr {
  @include flex-grid-column(12);
  hr {
    margin-bottom: $ub-large-margin;
    margin-top: $ub-xlarge-margin;
  }
}
