.c-ld-table {
  tbody tr {
    background-color: $ub-white;
  }
  td, th {
    border: 1px solid $ub-hr;

    p {
      margin-bottom: initial !important;
    }
  }

  @include e(wrap) {
    clear: both;
    overflow-x: auto;
  }
}

.c-ld-header {
  @include flex-grid-row(nest);

  @include e(map) {
    @include flex-grid-column(shrink);
    margin-top: -$ub-small-margin;
    width: map-get($curriculum-map-width, base) + 30px;

    @include breakpoint(small only) {
      @include flex-grid-column(12);
      text-align: center;
    }
  }
  @include e(content) {
    @include flex-grid-column;

    @include breakpoint(small only) {
      margin-top: $ub-base-margin;
      @include flex-grid-column(12);
    }
  }

  @include e(links) {
    @include flex-grid-column(shrink);

    @include breakpoint(ipad down) {
      @include flex;
      @include flex-grid-column(12);
      flex-flow: row wrap;
      margin-top: $ub-xs-padding;
      > div { margin-right: $ub-xs-padding;}
    }
  }

  @include e(hr) {
    @include add-gutter($subtype: top, $x: 4/3);
    border-bottom: 1px solid #b2b2b2;
  }
}

.c-ld {
  @include add-gutter($type: padding, $subtype: top, $x: 4/3);
  color: $ub-heading-txt;
  padding-bottom: $ub-large-padding * 2;

  @include e(sidebar) {
    @include breakpoint(medium down) {
      @include add-gutter(margin, left, -.5);
      @include add-gutter(margin, right, -.5);
      @include flex-grid-column(12, 0);
    }

    @include breakpoint(ipad) {
      @include flex-grid-column(3);
      border-right: 1px dotted $light-gray;
    }
  }

  @include e(body) {
    @include flex-grid-column(12, 2 * 1.75rem);

    @include m(general) {
      @include breakpoint(ipad) {
        @include flex-grid-column(9);
        padding: 0 2.125rem 0 2.25rem !important;
      }

      @include breakpoint(ipad down) {
        p { margin: 0; text-indent: 0; }
        li { margin-left: 15px;}

        table {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    h2, h3 { clear: both; }
    h2 { @include txt-heading(h1); }
    h5 { @include txt-element(ld-h5); }

    p, ol, ul {
      &, * {
        font-family: $ub-sanserif;
        font-size: 1rem;
        line-height: 1.5;
      }
    }

    ol, ul {
      margin-bottom: 0;
    }

    ul li {
      text-indent: 0;
    }

    ol {
      margin-left: .25rem;
    }

    ol.c-ld-ol {
      margin-left: 1.3rem;
    }

    img, span, td, table {
      //max-width: 100%;
    }
    img { height: auto; }

    i.fa { font: normal normal normal 14px/1 FontAwesome; }

    thead, tbody, tfoot { border: 0; }
  }

  @include m(ela-2) {
    h2.o-ld-title {
      margin-top: $ub-large-margin * 2 !important;
    }
  }
}
