<div class=nc-content>
  <h2 class=text-center><%= t('.page_title') %></h2>
  
  <%= simple_form_for :google_doc_definition, url: :import_admin_google_doc_definitions, html: { method: :get } do |f| %>
    <%= f.input :url, label: t('ui.url') %>
    <%= f.button :submit, t('.submit') %>
  <% end %>
</div>
