.help-center {
  @include breakpoint(medium) {
    @include add-top-bottom-padding;
    @include add-column-padding;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .08);

    .hc-search {
      @include add-gutter(padding, right, 1);
    }

    .hc-search-form {
      border-radius: 3px;
      padding: 0;
    }

    .hc-search-input input {
      background-color: $fd-body;
      border: 0;
      border-radius: 3px;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .12);
    }

    .hc-search-input input,
    .hc-search-button .btn {
      height: 50px;
    }

    .hc-search-button {
      .btn {
        background-image: none;
        text-shadow: 0 0 2px rgba(0, 0, 0, .15);
        text-transform: capitalize;
      }
    }

    .hc-nav  {
      @include add-gutter(padding, left, 1);
      vertical-align: bottom;

      nav {
        div + div > a { margin-top: 20px; }
      }
      a {
        @include txt-fd-element(button);
        border: 1px solid #646464;
        border-radius: 3px;
        color: #4a4a4a;
        padding: 8px 12px;
        width: 100%;

        &::before {
          display: none;
        }
      }
    }
  }
}
