<% if document = lobject.documents.first %>
  <hr>

  <div class=small>
    From EngageNY.org of the New York State Education Department. <%= document.title %>.
    <br>

    <% if url = lobject.urls.first %>
      Available from <%= url.stripped %>; accessed 2015-05-29.
      <br>
    <% end %>

    License: <%= link_to 'http://creativecommons.org/licenses/by-nc-sa/3.0/', 'http://creativecommons.org/licenses/by-nc-sa/3.0/' %>

    <%= image_tag 'cc_logo.svg', alt: 'Creative Commons logo', size: '78x18' %>
  </div>
<% end %>
