<div class='nav-module-down <%= 'disabled' unless next_obj %>'>
  <%= link_to sidebar_nav_link(curriculum, next_obj) do %>
    <div><%= t('.down_link', title: title.upcase) %></div>
    <div><i class='fa fa-3x fa-angle-double-down'></i></div>
  <% end %>
</div>
