<div class=unit>
  <div class=unit-wrapper>
    <div class=row>
      <div class="unit-title">
        <%= link_to unit_title(curriculum), unbounded_resource_path(curriculum.current_unit, curriculum), class: [('active' if curriculum.current_lobject == curriculum.current_unit)] %>
      </div>
      <div class=lessons>
        <div class=row>
          <% curriculum.lessons.each do |lesson| %>
            <div class='lesson <%= 'lesson-active' if curriculum.current_lesson == lesson %>'>
              <%= link_to(unbounded_resource_path(lesson, curriculum), data: { 'lobject-id' => lesson.id }) do %>
                <%= render partial: 'unbounded/shared/lesson_svg' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
