// colors from portal settings
// background
$fd-body: #ededed;
$fd-header: #2f2850;
$fd-footer: #2f2850;
$fd-helpcenter: #fff;
// tab colors
$fd-tab-active-bg: $fd-body;
$fd-tab-bg: $fd-body;
// portal fonts
$fd-body-color: #4c4c4c;
$fd-heading-color: #423872;
// link colors
$fd-link-text: #423872;
$fd-link-hover: $fd-link-text;
// form elements
$fd-heading-divider: #b1b1b1;
$fd-primary-action-btn: #ffbf00;
$fd-secondary-action-btn: #fff;

// other colors (will be in css)
$fd-border: #4a4a4a;
$fd-header-bg: #69618d;
$fd-header-logo: #1b182e;
$fd-yellow: #ffbf00;
