---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FXrKAd0WXYf9QZrreo6b6ogoa9mRjtP48NM1dlhY1fyDrHQMzm10FvE_UXoqqAisQ&client_id=182386540568-6d46tvkjs0lioj9vd1a9vufj49o6r5u5.apps.googleusercontent.com&client_secret=2swXaEK09vM5vC7seYkc4lpj
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.GlwvBGZ_FtvPjN0gXDXSj7gfTdzRIvsD0EyeuC5Ktg4qTxAq8J2iC83BgqCDlSZQc2UZTaadI-w0UgDlxTkc5lUSThZBrrqRRTFPSMwAkFKhlKnvUUMQVdO2aTib7g",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sun, 16 Apr 2017 10:05:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/fail_me?fields=lastModifyingUser,modifiedTime,name,version
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwvBGZ_FtvPjN0gXDXSj7gfTdzRIvsD0EyeuC5Ktg4qTxAq8J2iC83BgqCDlSZQc2UZTaadI-w0UgDlxTkc5lUSThZBrrqRRTFPSMwAkFKhlKnvUUMQVdO2aTib7g
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: fail_me.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: fail_me."
         }
        }
  recorded_at: Sun, 16 Apr 2017 10:05:45 GMT
recorded_with: VCR 3.0.3
