<div class=o-page>
  <h2 class=text-center><%= t'.page_title' %></h2>

  <%= form_tag compile_admin_sketch_compiler_path do %>
      <%= text_field_tag :url, nil, placeholder: 'Enter the URL for Sketch file located in Google drive' %>
      <%= submit_tag t('.submit'), disable_with: 'Compiling...' %>
  <% end %>
</div>
