.o-m-content {
  @include e(base) {
    @include m(padded) {
      padding-left: 3rem;
    }
  }

  @include e(vertical-text) {
    @extend %u-txt--vertical;
  }
}

.u-txt--vertical,
%u-txt--vertical {
  line-height: normal;
  transform: rotate(-90deg) translate(-100%, 0);
  transform-origin: 0 0;
}
