.o-m-header {
  border-bottom: 1px solid $ub-pdf-black;
  td { padding: 0 0 5px; }

  @include e(title) {
    width: 10%;
  }
  @include e(name-value) {
    width: 50%;
  }
  @include e(name-date) {
    width: 30%;
  }
}
