<div class="o-ld-callout o-ld-callout--<%= @tmpl[:subject] %>">
  <h4 class="o-ld-callout__header"><%= @tmpl[:header] %></h4>
  <div class="o-ld-callout__content">
    <%= @tmpl[:content].html_safe %>
  </div>
</div>
