<div class="o-ld-columns">
  <table class="o-ld-columns-table">
    <thead>
      <tr>
        <% @rows.first.size.times do %>
          <td></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @rows.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td><%= cell %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
