<div class="o-ld-teacher-guidance">
  <h2>Teacher Guidance</h2>
  <h3>Pacing</h3>
  <ul>
    <li>Each lesson represents 60 minutes of instruction.</li>
    <li>Questions within the story are meant to quickly provide clarification of vocabulary or draw students’ attention to a particular attribute or element of the story.</li>
    <li>Discussion questions are meant to be more elaborative, providing opportunities for students to speak in full sentences and use knowledge and vocabulary from the domain. Recognize that all students won’t answer all questions, but that across the week students should receive equal opportunity to answer.</li>
    <li>If time is a concern, consider how the Read-Aloud and Work Time activities might be split throughout the day, but ensure that Discussing the Read-Aloud directly follow presentation of the read-aloud.</li>
  </ul>
  <h3>Materials</h3>
  <div>
    <%= @data.materials %>
  </div>
  <h3>Preparation</h3>
  <div>
    <%= @data.preparation %>
  </div>
</div>
