<div class="o-ld-optbreak">
  <div class="o-ld-optbreak__delimeter"></div>
  <div class="o-ld-optbreak__text">45 MINUTE MARK</div>
  <div class="o-ld-optbreak__delimeter"></div>
</div>
<h3>Optional Lesson Break</h3>
<%= @tmpl %>
