<div class="c-lesson-expand">
  <div class="c-lesson-expand__content"><%= @content %></div>
  <div class="c-lesson-expand__hidden"><%= @content_hidden %></div>
  <div class="c-lesson-expand__toggler">
    <span class="c-lesson-expand__toggler__hide">Show less</span>
    <span class="c-lesson-expand__toggler__show">Show more</span>
  </div>
</div>
