<div class="o-ld-expand o-ld-expand-<%= @subject %>">
  <div class="o-ld-expand__content"><%= @content %></div>
  <% if @content_hidden.present? %>
    <div class="o-ld-expand__content--hidden"><%= @content_hidden %></div>
    <div class="o-ld-expand__toggler o-ld-expand__<%= @subject %>-toggler">
      <span class="o-ld-expand__toggler--hide">Show less</span>
      <span class="o-ld-expand__toggler--show">Show more</span>
    </div>
  <% end %>
</div>
