<h3 id="<%= @tmpl.anchor %>" class='o-ld-title c-ld-toc u-margin-top--large'>
  <span class='o-ld-title__title o-ld-title__title--h3'><%= @tmpl.title %></span>
  <span class='o-ld-title__time o-ld-title__time--h3'><%= @tmpl.time.zero? ? '&mdash;' : "#{@tmpl.time} mins" %></span>
</h3>
