<div class="o-ld-image-student-worksheet u-ld-not-image-wrap" style="width: <%= @tmpl[:width] %>; height: <%= @tmpl[:height];%>">
  <img class="o-ld-image-student-worksheet__img" src="<%= @tmpl[:src] %>"/>
</div>
