<div class="o-lesson-image">
  <div class="o-lesson-image-clearfix"></div>
  <div class="o-lesson-image-container o-lesson-image-<%= @subject %>">
    <figure>
      <img src="<%= @image_src %>"/>
      <figcaption><%= @caption %></figcaption>
    </figure>
  </div>
</div>
