<div class="o-ld-image">
  <div class="o-ld-image--clearfix"></div>
  <div class="o-ld-image__container o-ld-image__container--<%= @subject %>">
    <figure>
      <img src="<%= @image_src %>"/>
      <figcaption><%= @caption %></figcaption>
    </figure>
  </div>
</div>
