<div class="o-ld-image-student-worksheet u-ld-not-image-wrap" style="width: <%= @content[:width] %>; height: <%= @content[:height];%>">
  <img class="o-ld-image-student-worksheet__img" src="<%= @content[:src] %>"/>
</div>
