<div class="o-ld-materials">
  <div class="o-ld-materials__content--hidden"><%= @tmpl %></div>
  <div class="o-ld-materials__toggler">
    <span class="o-ld-materials__toggler--hide"><strong>Collapse Materials</strong></span>
    <span class="o-ld-materials__toggler--show"><strong>Expand Materials</strong></span>
  </div>
</div>
