<div class="c-lesson-materials">
  <div class="c-lesson-materials__hidden"><%= @content %></div>
  <div class="c-lesson-materials__toggler">
    <span class="c-lesson-materials__toggler__hide">Collapse Materials</span>
    <span class="c-lesson-materials__toggler__show">Expand Materials</span>
  </div>
</div>
