<hr class='o-ld-hr--l2'>

<h3 id="<%= @tmpl.anchor %>" class='o-ld-title c-ld-toc'>
  <div class='o-ld-title__title o-ld-title__title--h3'><%= @tmpl.title %></div>
  <div class='o-ld-title__time o-ld-title__time--h3'><%= @tmpl.time.zero? ? '&mdash;' : "#{@tmpl.time} mins" %></div>
</h3>
