<div class="o-ld-smp">
  <div class="o-ld-smp__content">
    <%= @content %>
  </div>
  <div class="o-ld-smp__lines">
    <div class="o-ld-smp-bracket"></div>
    <div class="o-ld-smp-figure">
      <% @smp.each do |smp| %>
        <p class="o-ld-smp-figure__name"><%= smp %></p>
      <% end %>
    </div>
  </div>
</div>
