<h3 class="u-margin-top--gutter">Targets Addressed</h3>
<ul>
  <li>
    <strong><%= @target_data[:long_term_title] %>:</strong>
    <%= @target_data[:long_term] %>
  </li>
  <li>
    <strong>Short Term Learning Targets: Objective:</strong>
    <%= @target_data[:short_term] %>
  </li>
  <li>
    <strong>Ongoing Assessment:</strong>
    <%= @target_data[:assessment] %>
  </li>
</ul>
