<div class=o-page>
  <h2 class=text-center><%= t('.page_title') %></h2>
  
  <%= simple_form_for :content_guide_definition, url: :import_admin_content_guide_definitions, html: { method: :get } do |f| %>
    <%= f.input :url, label: t('ui.url') %>
    <%= f.button :submit, t('.submit') %>
  <% end %>
</div>
