$ub-pdf-black: #000;
$ub-pdf-gray: #676767;

$ub-cg-blockquote: #4c4c4c;
$ub-faq-bg: #fec;

$ub-cg-ela-colors: (
  annotation-bg: #fff2cc,
  annotation-number-bg: #ffbf00,
  blockquote-border: #fdd2bd,
  cover-bg: #fee1d3,
  link: #f75b28,
  link1: #f75b28,
  pullquote: #f75b28,
  pullquote-border: #f75b28,
  sidebar: #f75b28,
  task-bg: transparentize(map-get($ub-colorcodes, ela-base), .85),
  task-toggler: #f75b28,
  task-toggler-bg: transparentize(map-get($ub-colorcodes, ela-base), .7),
);

$ub-cg-math-colors: (
  annotation-bg: #c8ddcb,
  annotation-number-bg: #2cd493,
  blockquote-border: transparentize(map-get($ub-colorcodes, math-base), .85),
  cover-bg: #9bd4af,
  link: map-get($ub-colorcodes, math-base),
  pullquote: map-get($ub-colorcodes, math-base),
  pullquote-border: map-get($ub-colorcodes, math-base),
  sidebar: map-get($ub-colorcodes, math-base),
  task-bg: transparentize(map-get($ub-colorcodes, math-base), .85),
  task-toggler: map-get($ub-colorcodes, math-base),
  task-toggler-bg: transparentize(map-get($ub-colorcodes, math-base), .7),
);

$ub-cg-lead-colors: (
  annotation-bg: map-get($ub-mignight, twenty),
  annotation-number-bg: map-get($ub-mignight, base),
  blockquote-border: lighten(map-get($ub-colorcodes, lead-base), 30%),
  cover-bg: lighten(map-get($ub-colorcodes, lead-base), 30%),
  link: map-get($ub-colorcodes, lead-base),
  pullquote: map-get($ub-colorcodes, lead-base),
  pullquote-border: map-get($ub-colorcodes, lead-base),
  sidebar: map-get($ub-colorcodes, lead-base),
  task-bg: transparentize(map-get($ub-colorcodes, lead-base), .85),
  task-toggler: map-get($ub-colorcodes, lead-base),
  task-toggler-bg: transparentize(map-get($ub-colorcodes, lead-base), .7)
);
