$ub-pdf-black: #000;
$ub-pdf-gray: #676767;

$ub-cg-ela-colors: (
  annotation-bg: #fff2cc,
  annotation-number-bg: #ffbf00,
  blockquote-border: #fdd2bd,
  btn-download: #f96924,
  btn-download-bg: #fee1d3,
  btn-related: #f3bba0,
  btn-related-border: #f3bba0,
  header-bg: #f96924,
  link: #f96924,
  link1: #f96924,
  pullquote: #f96924,
  pullquote-border: #f75b28,
  sidebar: #f96924,
  task-bg: #fee8de,
  task-toggler: #f96924,
  task-toggler-bg: #fdd2bd
);

$ub-cg-math-colors: (
  annotation-bg: #c8ddcb,
  annotation-number-bg: #2cd493,
  blockquote-border: #b1d7bb,
  btn-download: #5cd36f,
  btn-download-bg: #9bd4af,
  btn-related: #9ac2a5,
  btn-related-border: #9ac2a5,
  header-bg: #1eb49a,
  link: #1eb49a,
  link1: darken(#1eb49a, 10%),
  pullquote: #1eb49a,
  pullquote-border: #1eb49a,
  sidebar: #1eb49a,
  task-bg: #cbe8d2,
  task-toggler: #1eb49a,
  task-toggler-bg: #b1d7bb,
);
