// Color scheme
$ub-primary: #433973;
$ub-secondary: #ffbf00;
$ub-page-bg: #ededed;
$ub-btn-light: #97c40f;
$ub-btn-base: #ffbf00;
$ub-btn-dark: #7B7B81;
$ub-panel-bg: #dbdbdb;
$ub-hero-bg: #9e9e9e;
$ub-nav-bg: darken($ub-primary, 15%);
$ub-nav-link: lighten($ub-primary, 40%);
$ub-light-bg: #dbdbdb;
$ub-dark-bg: #9e9e9e;
$ub-white: #fefefe;
$ub-whitesmoke: #f5f5f5;
$ub-txt: #555;

$ub-mignight: (
  dark: #231d32,
  base: #433973,
  eighty: #6d6590,
  sixty: #928bac,
  forty: #b6b2c7,
  twenty: #dbd8e3
);

$ub-yellow: (
  base: #ffbf00,
  eighty: #ffcc33,
  sixty: #ffd966,
  forty: #ffe599,
  twenty: #fff2cc
);

$ub-green: (
  base: #97c40f,
  eighty: #a4cc2e,
  sixty: #c1dc6f,
  forty: #d5e79f,
  twenty: #eaf3cf
);

$ub-buttons: (
  yellow: #ffbf00,
  green: #97c40f,
  orange: #f96924,
  gray: #959595
);

$ub-tabs: #858585;
$ub-dropdown: #ededed;
$ub-tooltip: #fff8e5;

$ub-colorcodes: (
  // ela color scheme
  ela-base: #f75b28,
  ela-pk: #fcb157,
  ela-k: #fda53b,
  ela-1: #fc9837,
  ela-2: #fb8d32,
  ela-3: #fa812d,
  ela-4: #f97529,
  ela-5: #f96924,
  ela-6: #f0501a,
  ela-7: #e94d1a,
  ela-8: #e14b19,
  ela-9: #da4818,
  ela-10: #d34617,
  ela-11: #cc4417,
  ela-12: #c54116,
  // math color scheme
  math-base: #00a699,
  math-pk: #69d59d,
  math-k: #69d49c,
  math-1: #5bcf9d,
  math-2: #4cc89c,
  math-3: #3cc19b,
  math-4: #1eb49a,
  math-5: #0fad9a,
  math-6: #009d90,
  math-7: #009488,
  math-8: #008b7f,
  math-9: #008277,
  math-10: #00796e,
  math-11: #007066,
  math-12: #00675d,
  // default color scheme
  default-base: #a269bf,
  default-pk: #cb94e1,
  default-k: #ca94e0,
  default-1: #c58edc,
  default-2: #c088d7,
  default-3: #b47ccd,
  default-4: #a86fc4,
  default-5: #a86fc4,
  default-6: #9961b6,
  default-7: #905aae,
  default-8: #8753a5,
  default-9: #7e4b9d,
  default-10: #754494,
  default-11: #6d3d8c,
  default-12: #633583,
  // additional
  clear: #959595,
  base: $ub-panel-bg, 
  white: $ub-white
);
