@font-face {
  font-family: 'ubicons';
  src: font-font-url('icons/ubicons.eot?av3fvp');
  src: font-url('icons/ubicons.eot?av3fvp#iefix') format('embedded-opentype'),
       font-url('icons/ubicons.ttf?av3fvp') format('truetype'),
       font-url('icons/ubicons.woff?av3fvp') format('woff'),
       font-url('icons/ubicons.svg?av3fvp#ubicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin ub-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ubicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='ub-'], [class*=' ub-'] {
  @include ub-icon;
}

$ub-angle-dropdown: "\e900";
$ub-angle-dropup: "\e91f";
$ub-microphone: "\e049";
$ub-eye: "\e91e";
$ub-angle-left: "\e901";
$ub-cc-by: "\e902";
$ub-cc-nc: "\e903";
$ub-cc-nd: "\e904";
$ub-cc-pd: "\e905";
$ub-cc-remix: "\e906";
$ub-cc-sa: "\e907";
$ub-cc-share: "\e908";
$ub-cc-stamp: "\e909";
$ub-cc-zero: "\e90a";
$ub-close: "\e90b";
$ub-angle-down: "\e920";
$ub-facebook: "\e90c";
$ub-angle-right: "\e90d";
$ub-arrow-right: "\e91d";
$ub-arrow-left: "\e90e";
$ub-file-image: "\e90f";
$ub-search: "\e910";
$ub-file-media: "\e911";
$ub-file-pdf: "\e912";
$ub-pinterest: "\e913";
$ub-ellipsis: "\e914";
$ub-share: "\e915";
$ub-arrow-share: "\e916";
$ub-spreadsheet: "\e917";
$ub-file-text: "\e918";
$ub-twitter: "\e919";
$ub-vimeo: "\e91a";
$ub-youtube: "\e91b";
$ub-file-zip: "\e91c";
$ub-menu: "\e120";

.ub-angle-dropdown {
  &:before {
    content: $ub-angle-dropdown;
  }
}
.ub-angle-dropup {
  &:before {
    content: $ub-angle-dropup;
  }
}
.ub-microphone {
  &:before {
    content: $ub-microphone;
  }
}
.ub-eye {
  &:before {
    content: $ub-eye;
  }
}
.ub-angle-left {
  &:before {
    content: $ub-angle-left;
  }
}
.ub-cc-by {
  &:before {
    content: $ub-cc-by;
  }
}
.ub-cc-nc {
  &:before {
    content: $ub-cc-nc;
  }
}
.ub-cc-nd {
  &:before {
    content: $ub-cc-nd;
  }
}
.ub-cc-pd {
  &:before {
    content: $ub-cc-pd;
  }
}
.ub-cc-remix {
  &:before {
    content: $ub-cc-remix;
  }
}
.ub-cc-sa {
  &:before {
    content: $ub-cc-sa;
  }
}
.ub-cc-share {
  &:before {
    content: $ub-cc-share;
  }
}
.ub-cc-stamp {
  &:before {
    content: $ub-cc-stamp;
  }
}
.ub-cc-zero {
  &:before {
    content: $ub-cc-zero;
  }
}
.ub-close {
  &:before {
    content: $ub-close;
  }
}
.ub-angle-down {
  &:before {
    content: $ub-angle-down;
  }
}
.ub-facebook {
  &:before {
    content: $ub-facebook;
  }
}
.ub-angle-right {
  &:before {
    content: $ub-angle-right;
  }
}
.ub-arrow-right {
  &:before {
    content: $ub-arrow-right;
  }
}
.ub-arrow-left {
  &:before {
    content: $ub-arrow-left;
  }
}
.ub-file-image {
  &:before {
    content: $ub-file-image;
  }
}
.ub-search {
  &:before {
    content: $ub-search;
  }
}
.ub-file-media {
  &:before {
    content: $ub-file-media;
  }
}
.ub-file-pdf {
  &:before {
    content: $ub-file-pdf;
  }
}
.ub-pinterest {
  &:before {
    content: $ub-pinterest;
  }
}
.ub-ellipsis {
  &:before {
    content: $ub-ellipsis;
  }
}
.ub-share {
  &:before {
    content: $ub-share;
  }
}
.ub-arrow-share {
  &:before {
    content: $ub-arrow-share;
  }
}
.ub-spreadsheet {
  &:before {
    content: $ub-spreadsheet;
  }
}
.ub-file-text {
  &:before {
    content: $ub-file-text;
  }
}
.ub-twitter {
  &:before {
    content: $ub-twitter;
  }
}
.ub-vimeo {
  &:before {
    content: $ub-vimeo;
  }
}
.ub-youtube {
  &:before {
    content: $ub-youtube;
  }
}
.ub-file-zip {
  &:before {
    content: $ub-file-zip;
  }
}
.ub-menu {
  &:before {
    content: $ub-menu;
  }
}

.file-pdf:before {
  content: $ub-file-pdf;
}

.file-doc:before {
  content: $ub-file-text;
}

.file-video:before {
  content: $ub-file-media;
}

.file-resource:before {
  content: $ub-file-text;
}

.file-excel:before {
  content: $ub-spreadsheet;
}

.file-powerpoint:before {
  content: $ub-file-image;
}

.file-unknown:before {
  content: $ub-file-text;
}

.file-zip:before {
  content: $ub-file-zip;
}
