@font-face {
  font-family: 'ubicons';
  src: font-url('icons/ubicons.eot?av3fvp');
  src: font-url('icons/ubicons.eot?av3fvp#iefix') format('embedded-opentype'),
       font-url('icons/ubicons.ttf?av3fvp') format('truetype'),
       font-url('icons/ubicons.woff?av3fvp') format('woff'),
       font-url('icons/ubicons.svg?av3fvp#ubicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin ub-icon {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'ubicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering ===========
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='ub-'], [class*=' ub-'] {
  @include ub-icon;
}

$ub-angle-down: '\e921';
$ub-angle-dropdown: '\e901';
$ub-angle-dropup: '\e920';
$ub-angle-left: '\e902';
$ub-angle-right: '\e90e';
$ub-arrow-left: '\e90f';
$ub-arrow-right: '\e91e';
$ub-arrow-share: '\e917';
$ub-cc-by: '\e903';
$ub-cc-nc: '\e904';
$ub-cc-nd: '\e905';
$ub-cc-pd: '\e906';
$ub-cc-remix: '\e907';
$ub-cc-sa: '\e908';
$ub-cc-share: '\e909';
$ub-cc-stamp: '\e90a';
$ub-cc-zero: '\e90b';
$ub-close: '\e90c';
$ub-ellipsis: '\e915';
$ub-eye: '\e91f';
$ub-facebook: '\e90d';
$ub-file-gdoc: '\e924';
$ub-file-image: '\e910';
$ub-file-media: '\e912';
$ub-file-pdf: '\e913';
$ub-file-ppt: '\e923';
$ub-file-text: '\e919';
$ub-file-zip: '\e91d';
$ub-helpdesk: '\e900';
$ub-menu: '\e120';
$ub-microphone: '\e049';
$ub-pinterest: '\e914';
$ub-print: '\e922';
$ub-search: '\e911';
$ub-share: '\e916';
$ub-spreadsheet: '\e918';
$ub-twitter: '\e91a';
$ub-user: '\e925';
$ub-vimeo: '\e91b';
$ub-youtube: '\e91c';

.ub-angle-down {
  &::before {
    content: $ub-angle-down;
  }
}

.ub-angle-dropdown {
  &::before {
    content: $ub-angle-dropdown;
  }
}

.ub-angle-dropup {
  &::before {
    content: $ub-angle-dropup;
  }
}

.ub-angle-left {
  &::before {
    content: $ub-angle-left;
  }
}

.ub-angle-right {
  &::before {
    content: $ub-angle-right;
  }
}

.ub-arrow-left {
  &::before {
    content: $ub-arrow-left;
  }
}

.ub-arrow-right {
  &::before {
    content: $ub-arrow-right;
  }
}

.ub-arrow-share {
  &::before {
    content: $ub-arrow-share;
  }
}

.ub-cc-by {
  &::before {
    content: $ub-cc-by;
  }
}

.ub-cc-nc {
  &::before {
    content: $ub-cc-nc;
  }
}

.ub-cc-nd {
  &::before {
    content: $ub-cc-nd;
  }
}

.ub-cc-pd {
  &::before {
    content: $ub-cc-pd;
  }
}

.ub-cc-remix {
  &::before {
    content: $ub-cc-remix;
  }
}

.ub-cc-sa {
  &::before {
    content: $ub-cc-sa;
  }
}

.ub-cc-share {
  &::before {
    content: $ub-cc-share;
  }
}

.ub-cc-stamp {
  &::before {
    content: $ub-cc-stamp;
  }
}

.ub-cc-zero {
  &::before {
    content: $ub-cc-zero;
  }
}

.ub-close {
  &::before {
    content: $ub-close;
  }
}

.ub-ellipsis {
  &::before {
    content: $ub-ellipsis;
  }
}

.ub-eye {
  &::before {
    content: $ub-eye;
  }
}

.ub-facebook {
  &::before {
    content: $ub-facebook;
  }
}

.ub-file-gdoc {
  &::before {
    content: $ub-file-gdoc;
  }
}

.ub-file-image {
  &::before {
    content: $ub-file-image;
  }
}

.ub-file-media {
  &::before {
    content: $ub-file-media;
  }
}

.ub-file-pdf {
  &::before {
    content: $ub-file-pdf;
  }
}

.ub-file-ppt {
  &::before {
    content: $ub-file-ppt;
  }
}

.ub-file-text {
  &::before {
    content: $ub-file-text;
  }
}

.ub-file-zip {
  &::before {
    content: $ub-file-zip;
  }
}

.ub-helpdesk {
  &::before {
    content: $ub-helpdesk;
  }
}

.ub-menu {
  &::before {
    content: $ub-menu;
  }
}

.ub-microphone {
  &::before {
    content: $ub-microphone;
  }
}

.ub-pinterest {
  &::before {
    content: $ub-pinterest;
  }
}

.ub-print {
  &::before {
    content: $ub-print;
  }
}

.ub-search {
  &::before {
    content: $ub-search;
  }
}

.ub-share {
  &::before {
    content: $ub-share;
  }
}

.ub-spreadsheet {
  &::before {
    content: $ub-spreadsheet;
  }
}

.ub-twitter {
  &::before {
    content: $ub-twitter;
  }
}

.ub-user {
  &::before {
    content: $ub-user;
  }
}

.ub-vimeo {
  &::before {
    content: $ub-vimeo;
  }
}

.ub-youtube {
  &::before {
    content: $ub-youtube;
  }
}

.file-doc::before {
  content: $ub-file-text;
}

.file-excel::before {
  content: $ub-spreadsheet;
}

.file-pdf::before {
  content: $ub-file-pdf;
}

.file-powerpoint::before {
  content: $ub-file-media;
}

.file-resource::before {
  content: $ub-file-text;
}

.file-unknown::before {
  content: $ub-file-text;
}

.file-video::before {
  content: $ub-file-media;
}

.file-zip::before {
  content: $ub-file-zip;
}
