@font-face {
  font-family: 'ubicons';
  src: font-font-url('icons/ubicons.eot?av3fvp');
  src: font-url('icons/ubicons.eot?av3fvp#iefix') format('embedded-opentype'),
       font-url('icons/ubicons.ttf?av3fvp') format('truetype'),
       font-url('icons/ubicons.woff?av3fvp') format('woff'),
       font-url('icons/ubicons.svg?av3fvp#ubicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='ub-'], [class*=' ub-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ubicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ub-angle-left:before {
  content: '\e900';
}
.ub-cc-by:before {
  content: '\e901';
}
.ub-cc-nc:before {
  content: '\e902';
}
.ub-cc-nd:before {
  content: '\e903';
}
.ub-cc-pd:before {
  content: '\e904';
}
.ub-cc-remix:before {
  content: '\e905';
}
.ub-cc-sa:before {
  content: '\e906';
}
.ub-cc-share:before {
  content: '\e907';
}
.ub-cc-stamp:before {
  content: '\e908';
}
.ub-cc-zero:before {
  content: '\e909';
}
.ub-close:before {
  content: '\e90a';
}
.ub-angle-down:before {
  content: '\e90b';
}
.ub-facebook:before {
  content: '\e90c';
}
.ub-angle-right:before {
  content: '\e90d';
}
.ub-arrow-right:before {
  content: '\e91d';
}
.ub-arrow-left:before {
  content: '\e90e';
}
.ub-triangle-top:before {
  content: '\25b4';
}
.ub-file-image:before {
  content: '\e90f';
}
.ub-search:before {
  content: '\e910';
}
.ub-file-media:before {
  content: '\e911';
}
.ub-file-pdf:before {
  content: '\e912';
}
.ub-pinterest:before {
  content: '\e913';
}
.ub-ellipsis:before {
  content: '\e914';
}
.ub-share:before {
  content: '\e915';
}
.ub-arrow-share:before {
  content: '\e916';
}
.ub-spreadsheet:before {
  content: '\e917';
}
.ub-file-text:before {
  content: '\e918';
}
.ub-twitter:before {
  content: '\e919';
}
.ub-vimeo:before {
  content: '\e91a';
}
.ub-youtube:before {
  content: '\e91b';
}
.ub-file-zip:before {
  content: '\e91c';
}
.ub-menu:before {
  content: '\e120';
}

$ub-angle-left: "\e900";
$ub-cc-by: "\e901";
$ub-cc-nc: "\e902";
$ub-cc-nd: "\e903";
$ub-cc-pd: "\e904";
$ub-cc-remix: "\e905";
$ub-cc-sa: "\e906";
$ub-cc-share: "\e907";
$ub-cc-stamp: "\e908";
$ub-cc-zero: "\e909";
$ub-close: "\e90a";
$ub-angle-down: "\e90b";
$ub-facebook: "\e90c";
$ub-angle-right: "\e90d";
$ub-arrow-right: "\e91d";
$ub-arrow-left: "\e90e";
$ub-triangle-top: "\25b4";
$ub-file-image: "\e90f";
$ub-search: "\e910";
$ub-file-media: "\e911";
$ub-file-pdf: "\e912";
$ub-pinterest: "\e913";
$ub-ellipsis: "\e914";
$ub-share: "\e915";
$ub-arrow-share: "\e916";
$ub-spreadsheet: "\e917";
$ub-file-text: "\e918";
$ub-twitter: "\e919";
$ub-vimeo: "\e91a";
$ub-youtube: "\e91b";
$ub-file-zip: "\e91c";

.file-pdf:before {
  content: $ub-file-pdf;
}

.file-doc:before {
  content: $ub-file-text;
}

.file-video:before {
  content: $ub-file-media;
}

.file-resource:before {
  content: $ub-file-text;
}

.file-excel:before {
  content: $ub-spreadsheet;
}

.file-powerpoint:before {
  content: $ub-file-image;
}

.file-unknown:before {
  content: $ub-file-text;
}

.file-zip:before {
  content: $ub-file-zip;
}
