$ub-ld-colorcodes: (
  default-image-bg: transparentize(map-get($ub-colorcodes, default-base), .85),
  ela-expand-bg: transparentize(map-get($ub-colorcodes, ela-base), .85),
  ela-toggler-bg: transparentize(map-get($ub-colorcodes, ela-base), .7),
  ela6-section-bg: transparentize(map-get($ub-colorcodes, ela-base), .85),
  ela-image-bg: transparentize(map-get($ub-colorcodes, ela-base), .85),
  gls-bg: #fff6cc,
  material-thumbnail-border: #ccc,
  math-activity-bg: transparentize(map-get($ub-colorcodes, math-base), .85),
  math-activity-foundational: #4bb0db,
  math-activity-foundational-bg: #e4f7ff,
  math-activity-foundational-disabled-bg: #0088c2,
  math-activity-foundational-disabled-fg: #99e0ff,
  math-activity-foundational-guidance-bg: #d5effb,
  math-activity-foundational-switch-bg: #b0e1f8,
  math-activity-guidance-bg: transparentize(map-get($ub-colorcodes, math-base), .85),
  math-expand-bg: transparentize(map-get($ub-colorcodes, math-base), .85),
  math-toggler-bg: transparentize(map-get($ub-colorcodes, math-base), .7),
  math-image-bg: transparentize(map-get($ub-colorcodes, math-base), .85),
  pd-bg: #e8e7ed,
  pd-bg-dark: #8e89a9,
  material-overlay: #423872,
  tooltip-bg: #fff8e5,
);
