$ub-ld-colorcodes: (
  ela-expand-bg: transparentize(map-get($ub-colorcodes, ela-base), .85),
  ela-toggler-bg: transparentize(map-get($ub-colorcodes, ela-base), .7),
  ela6-section-bg: transparentize(map-get($ub-colorcodes, ela-base), .85),
  ela-image-bg: transparentize(map-get($ub-colorcodes, ela-base), .85),
  math-activity-bg: transparentize(map-get($ub-colorcodes, math-base), .85),
  math-activity-guidance-bg: transparentize(map-get($ub-colorcodes, math-base), .85),
  math-expand-bg: transparentize(map-get($ub-colorcodes, math-base), .85),
  math-toggler-bg: transparentize(map-get($ub-colorcodes, math-base), .7),
  math-image-bg: transparentize(map-get($ub-colorcodes, math-base), .85),
  default-image-bg: transparentize(map-get($ub-colorcodes, default-base), .85)
)
