.st-logo {
  @include e(standards) {
    font-family: $ub-serif;
    font-size: 125%;
    font-weight: 600;
  }
  @include e(institute) {
    font-family: $ub-serif;
    font-weight: 200;
    text-transform: uppercase;
  }
}

h1 {
  color: map-get($ub-txt-colors, h1);
  font-family: $ub-serif;
  font-weight: 500;
  line-height: 36px;
}

h2 {
  color: map-get($ub-txt-colors, h2);
  font-family: $ub-serif;
  font-weight: 300;
  line-height: 28px;
}

h3 {
  color: map-get($ub-txt-colors, h3);
  font-family: $ub-sanserif-condensed;
  line-height: 28px;
}

h4 {
  color: map-get($ub-txt-colors, h1);
  font-family: $ub-sanserif;
  font-style: italic;
  line-height: 26px;
}

$ub-element-fontsizes: (
  base: 18px,
  teaser: 22px,
  title_type: 16px,
  title_duration: 14px,
  breadcrumbs: 14px,
  button: 14px,
  hero_header: 40px,
  hero_text: 21px,
  media_header: 30px,
  media_text: 24px,
  subscribe_header: 27px,
  subscribe_text: 21px,
  nav_base: 16px,
  nav_span: 20px,
  footer_links: 13px,
  card_hover: 15px,
  card_medium_title: 32px,
  card_short_title: 24px,
  related_header: 30px,
  page_header: 32px,
  search_header: 20px,
  connect_header: 16px
);

$ub-element-lineheights: (
  base: 24px,
  teaser: 28px,
  title_type: 21px,
  title_duration: 21px,
  breadcrumbs: 21px,
  button: 21px,
  hero_header: 42px,
  hero_text: 27px,
  media_header: 30px,
  media_text: 30px,
  subscribe_header: 36px,
  subscribe_text: 24px,
  nav_base: 20px,
  nav_span: 20px,
  footer_links: 19px,
  card_hover: 18px,
  card_medium_title: 32px,
  card_short_title: 28px,
  related_header: 36px,
  page_header: 32px,
  search_header: 20px,
  connect_header: 30px
);

$ub-element-fonts: (
  base: $ub-sanserif,
  teaser: $ub-sanserif,
  title_type: $ub-serif,
  title_duration: $ub-sanserif,
  breadcrumbs: $ub-serif,
  button: $ub-serif,
  hero_header: $ub-serif,
  hero_text: $ub-sanserif,
  media_header: $ub-serif,
  media_text: $ub-serif,
  subscribe_header: $ub-serif,
  subscribe_text: $ub-sanserif,
  nav_base: $ub-serif,
  nav_span: $ub-serif,
  footer_links: $ub-sanserif,
  card_hover: $ub-sanserif,
  related_header: $ub-serif,
  page_header: $ub-serif,
  search_header: $ub-sanserif,
  connect_header: $ub-serif
);

$ub-element-fontweights: (
  button: 600,
  title_type: 600,
  breadcrumbs: 600,
  hero_header: 500,
  media_header: 600,
  subscribe_header: 600,
  nav_span: 600,
  related_header: 500,
  page_header: 500,
  connect_header: 600
);

@each $element, $font-size in $ub-element-fontsizes {
  %txt-#{$element}, .u-txt-#{$element} {
    @include txt-element($element);
  }
}
