<div class="container">
	<div class="row">
		<div class="footer-logo">
	  	<%= link_to unbounded_path do %>
	  		<%= image_tag 'logo_footer.svg', :alt => t('unbounded.title.logo') %>
	  	<% end %>
	  </div>
	  <div class="footer-txt">
	  	<span>Copyright &copy; UNBOUNDED ltd.</span>
	  	<span>123 Main Street, 12th fl, New York NY 10003</span>
	  	<span>(888)123-4567</span>
	  	<span>All rights reserved.</span>
	  </div>
		<div class="footer-list">
			<ul class="list-unstyled list-inline pull-right">
				<li><i class="fa fa-twitter"></i></li>
		    <li><i class="fa fa-facebook"></i></li>
		    <li><i class="fa fa-youtube"></i></li>
		    <li><i class="fa fa-linkedin-square"></i></li>
			</ul>
		</div>
	</div>
</div>