<div class="o-freshdesk">
  <div class="o-freshdesk__wrap">
    <div class="o-freshdesk__title">
      <h2><%= t('ui.questions') %></h2>
    </div>
    <div class="o-freshdesk__text">
      <div class="u-text--small">
        Em adiciusam doluptur? Qui a cullore mossitat od ex exeris abore nonet ut listrunt aut velesti.
      </div>
    </div>
    <div class="o-freshdesk__form">
      <form>
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="Ask anything">
          <div class="input-group-button">
            <input type="submit" class="button" value="<%= t('ui.go') %>">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
