<form method="get" action="<%= search_path %>">
  <div class="input-group o-header-search-form">
    <input class="input-group-field" type="text" name="search_term" placeholder="Enter Search Terms..." autofocus>
    <div class="input-group-button o-header-search-form__submit">
      <button type="submit">
        <i class="fa-2x ub-search"></i>
      </button>
    </div>
  </div>
</form>
