<ul class="o-social-sharing addthis_toolbox" data-url="<%= request.original_url %>" data-title="<%= resource.title %>" data-turbolinks="false">
  <li>
    <a class="addthis_button_twitter">
      <i class="fa-2x ub-twitter"></i>
    </a>
  </li>
  <li>
    <a class="addthis_button_facebook">
      <i class="fa-2x ub-facebook"></i>
    </a>
  </li>
  <li>
    <a class="addthis_button_pinterest_share">
      <i class="fa-2x ub-pinterest"></i>
    </a>
  </li>
  <li>
    <a class="addthis_button_email">
      <i class="fa-2x ub-arrow-share"></i>
    </a>
  </li>
</ul>
