<div class="o-subscribe">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup" accesskey=""class="o-page__wrap--row">
			<form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="o-subscribe-form o-page__module" target="_blank">
			  <div id="mc_embed_signup_scroll">
			  	<div class="o-page__wrap--row-column">
			  		<label class="o-subscribe-form__label"><%= t('title.subscribe') %></label>
            <div class="input-group o-subscribe-form__email">
              <input class="input-group-field" type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address, and we will be in touch soon." required>
              <div class="input-group-button o-subscribe-form__submit">
                <button type="submit" name="subscribe" id="mc-embedded-subscribe">
                  <i class="fa-2x ub-arrow-right"></i>
                </button>
              </div>
            </div>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_ea02a2b276fb89a7c2884182c_df79d989f9" tabindex="-1" value="">
            </div>
            <!-- end bot prevention verification -->
					</div>
			    <!--div class="clearfix"></div-->
        </div>
			</form>
		</div>
		<!--End mc_embed_signup-->
</div>
