<div class="subscribe-module">
	<div class="container">
	  <div class="row">
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form form-horizontal" target="_blank" novalidate>
				  <div id="mc_embed_signup_scroll">
				  	<div class="form-group">
				  		<label class="control-label"><%= t('unbounded.title.subscribe') %></label>
				  		<div>
								<input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="Email Address" required>
							</div>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;">
					    	<input type="text" name="b_e338067cd334031bd867a3ba1_0c42d3c0c2" tabindex="-1" value="">
					    </div>
		          <div>
		            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg"><%= t('ui.subscribe') %>
		            </button>
		          </div>
						</div>
				    <!--div class="clearfix"></div-->
	        </div>
				</form>
			</div>
			<!--End mc_embed_signup-->
	  </div>
	</div>
</div>
