<div class="u-not-supported">
   <p class="u-txt--teaser">You are using an <strong>outdated</strong> browser and it's not supported. Please <strong><a href="http://browsehappy.com/">upgrade your browser</a></strong> to improve your experience.</p>
</div>
