<% if ENV['UB_BIAS_PAGE'].present? %>
  <div class="c-hp-bias o-page-block o-page__module o-bias cs-bg--bias">
    <div class="o-bias__img show-for-ipad">
      <%= image_tag('bias/toolkit_home.svg') %>
    </div>
    <div class="o-bias__body">
      <div class="u-txt--bias-subheader">UNBOUNDED TOOLKIT</div>
      <h2 class="u-txt--bias-header u-margin--5rem">Disrupting Inequity: Having Brave Conversations About Bias</h2>
      <p class="u-txt--bias-txt">The toolkit contains everything educators need to facilitate conversations about bias, prejudice, and race and includes materials and resources to guide you each step of the way.</p>
      <%= link_to t('ui.learn_more'), ENV['UB_BIAS_PAGE'], class: 'o-btn o-btn--white o-btn--xs-full u-color--bias u-margin-bottom--zero', target: '_blank' %>
    </div>
  </div>
<% end %>
