<h2>Teacher Guidance</h2>
<h3>Pacing</h3>
<p>If there’s not sufficient time to deliver the lesson in one 60 minute sitting, the lesson can be broken up as follows:</p>
<ul>
  <li>Introducing the Read-Aloud up to—but not including—Purpose for Listening (~10-15 minutes)</li>
  <li>Purpose for Listening, Presenting the Read-Aloud, and Discussing the Read-Aloud (~25-30 minutes)</li>
  <li>Work Time (~20 minutes)</li>
</ul>
<br />
<p>Pacing guidance is not applicable when lesson adaptations are made</p>
<h3>Materials</h3>
<%= @data.materials %>
<% if @data.preparation.present? %>
  <h3>Preparation</h3>
  <%= @data.preparation %>
<% end %>
