<table class="o-ld-expand o-simple-table cs-bg--<%= @tmpl[:subject] %>-activity-guidance-bg u-gdoc-margin-vertical--base">
  <tr>
    <td class="u-table-wrap--small">
      <%= @tmpl[:content] %>
      <%= @tmpl[:content_hidden] %>
    </td>
  </tr>
</div>
