<table class="o-simple-table u-pdf-nobreak--around cs-bg--<%= @tmpl[:subject] %>-image-bg">
  <tr>
    <td class="o-ld-image__img">
      <img src="<%= @tmpl[:image_src] %>"/>
    </td>
    <td class="o-ld-image__caption">
      <strong><%= @tmpl[:caption] %></strong>
    </td>
  </tr>
</table>
