<div class="o-ld-optbreak-wrapper o-ld-hr--h2">
  <table class="o-simple-table">
    <tr>
      <td class="u-text--centered u-txt--ld-math-foundational-divider u-gdoc-padding-vertical--small">
        <strong>45 MINUTE MARK</strong>
      </td>
    </tr>
  </table>
  <h3>Optional Lesson Break</h3>
  <%= @tmpl %>
</div>
