<div class="o-ld-optbreak-wrapper">
  <table class="o-simple-table">
    <tr>
      <td class="o-ld-optbreak__divider" width="35%"></td>
      <td class="o-ld-optbreak__text u-text--centered u-txt--ld-optbreak" width="30%">
        <p class="u-padding-bottom--zero">45 MINUTE MARK</p>
      </td>
      <td class="o-ld-optbreak__divider" width="35%">
      </td>
    </tr>
  </table>
  <h3>Optional Lesson Break</h3>
  <%= @tmpl %>
</div>
