<table class='o-simple-table o-ld-smp'>
  <tr>
    <td class="u-gdoc-padding-right--small">
      <%= @tmpl[:content] %>
    </td>
    <td class="o-ld-smp__bracket u-txt--ld-smp cs-txt--math-base u-text--centered">
      <%= @tmpl[:smp].join('\n') %>
    </td>
  </tr>
</table>
<p class="do-not-strip"></p>
