<div class="o-ld-smp u-gdoc-padding-vertical--base">
  <table class='o-simple-table'>
    <tr>
      <td class="u-gdoc-padding-right--small">
        <%= @tmpl[:content] %>
      </td>
      <td class="o-ld-smp__bracket u-txt--ld-smp cs-txt--math-base u-text--centered">
        <%= @tmpl[:smp].join('\n') %>
      </td>
    </tr>
  </table>
</div>
