<!-- Slider main container -->
<div class="swiper-container c-ls-slides c-ls-slides--a">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper c-ls-slides__wrap">
        <!-- Slides -->
        <% ['//www.youtube.com/embed/G6Y4x4G7mF4',
            '//www.youtube.com/embed/7uuOF_86NYQ',
            '//www.youtube.com/embed/FR0GU1F8U7M'].each do |video_url| %>
          <div class="swiper-slide c-ls-slides__slide c-ls-slides--a__slide">
            <div class="o-media-video">
              <%= embed_video(video_url) %>
            </div>
          </div>
        <% end %>
    </div>
    <div class="c-ls-slides__overlay c-ls-slides__overlay--left">
    </div>
    <div class="c-ls-slides__overlay c-ls-slides__overlay--right">
    </div>
</div>
<!-- If we need navigation buttons -->
<div class="c-ls-slides--a__prev c-ls-slides--a__btn c-ls-slides__prev swiper-button-prev show-for-ipad">
  <i class="fa-3x ub-angle-left"></i>
</div>
<div class="c-ls-slides--a__next c-ls-slides--a__btn c-ls-slides__next swiper-button-next show-for-ipad">
  <i class="fa-3x ub-angle-right"></i>
</div>
