<% set_page_title @page.full_title %>
<% set_page_description "We are dedicated to empowering teachers by providing free, high-quality standards-aligned resources for the classroom, the opportunity for immersive training through our Institute, and the option of support through our website offerings." %>

<div class="c-ap">
  <div class="c-ap-hero">
  </div>
  <!-- <div class="o-page">
    <div class="o-page__module c-ap-hero">
      <<div class="o-panel c-ap-hero__body">
        <strong class="cs-txt--default-base">MISSION</strong>
        <p>We provide educators with the high-quality educational and instructional resources they need to help their students achieve their potential.</p>
      </div>
    </div>
  </div> -->
  <div class="u-bg--light">
    <div class="o-page">
      <div class="o-page__module o-media u-margin-top--gutter">
        <div class="o-media__body o-media__body--no-left o-media__body--full">
          <h2>About UnboundEd</h2>
          <div class="u-hr-small"></div>
          <p>We know from experience the hard work teachers face every day as they strive to help their students meet the challenges set by higher standards.<br /><br />We are dedicated to empowering teachers by providing free, high-quality standards-aligned resources for the classroom, the opportunity for immersive training through our Institute, and the option of support through our website offerings.<br /><br />Our online curriculum resources for grades PreK-12 have been reviewed and sequenced by our math and ELA experts. With our professional learning experiences and resources, educators can integrate standards-based knowledge and content into their daily practice.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="u-bg--base">
    <div class="o-page">
      <div class="o-page__module o-media u-margin-top--gutter">
        <div class="o-media__img c-ap-img--hwa">
        </div>
        <div class="o-media__body o-media__body--no-right">
          <h2>Who we are</h2>
          <div class="u-hr-small u-hr-small--green"></div>
          <p>We are a team of former classroom teachers, curriculum writers, school leaders and education experts who have worked in the public, private and nonprofit sectors.</p>
          <%= link_to 'Our People', about_people_path, class: 'o-btn o-btn--green' %>
        </div>
      </div>
    </div>
  </div>
  <div class="u-bg--light">
    <div class="o-page">
      <div class="o-page__module o-media u-margin-top--gutter">
        <div class="o-media__body o-media__body--no-left">
          <h2>Our partners</h2>
          <div class="u-hr-small"></div>
          <p>We proudly partner with non-profit organizations who provide ongoing support in schools and districts, and are dedicated to educator learning and growth.</p>
        </div>
        <div class="o-media__img c-ap-img--op">
        </div>
      </div>
    </div>
  </div>
  <div class="u-bg--base">
    <div class="o-page">
      <div class="o-page__module o-media u-margin-top--gutter">
        <div class="o-media__img c-ap-img--si">
        </div>
        <div class="o-media__body o-media__body--no-right">
          <h2>Standards Institute</h2>
          <div class="u-hr-small u-hr-small--green"></div>
          <p>We unite educators from across the nation for multi-day, intensive, transformative learning experiences designed to build, improve, and sustain instructional excellence in their particular grade. Our Standards Institutes offer three pathways: an ELA pathway divided by grade bands focused on curriculum, planning, and instruction; a math pathway divided by grade levels focused on the same; and a leadership pathway aligned to both ELA and math with a focus on systems, structures, curriculum, and instructional support.</p>
          <%= link_to 'Launch Website', 'http://standardsinstitutes.org', class: 'o-btn o-btn--green', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
  <div class="u-bg--light">
    <div class="o-page">
      <div class="o-page__module c-ap-cta text-center">
        <h2>Careers</h2>
        <div class="u-hr-small float-center"></div>
        <p>Interested in joining us as we work to close the achievement gap? We will post new positions here.</p>
      </div>
    </div>
  </div>
  <div class="u-bg--base u-padding-top--large u-padding-bottom--large">
    <div class="o-page">
      <div class="o-page__module c-ap-cta text-center">
        <h2>Contact Us</h2>
        <div class="u-hr-small u-hr-small--green float-center"></div>
        <p>If you have a question or want to learn more about us, we'd love to hear from you.</p>
        <%= react_component('FreshdeskBtn', {text: 'Get in Touch', cls: 'o-btn o-btn--green'}) %>
      </div>
    </div>
  </div>
</div>
