<% set_page_title @page.title %>

<div class="o-page u-margin-top--xlarge u-margin-bottom--xlarge">
  <div class="o-page__module c-stp-header">
    <div class="c-stp-header__title">ABOUT UNBOUNDED</div>
    <div class="u-hr-small"></div>
    <h1>Our People</h1>
    <p class="u-txt--teaser">We are a team of former classroom teachers, curriculum writers, school leaders and education experts who have worked in the public, private and nonprofit sectors.</p>
  </div>
  <div class="o-page__module o-tab u-margin-top--base">
    <nav class="o-tab__navigation">
      <ul class="tabs o-tab-menu" data-tabs id="st-tabs">
        <li class="tabs-title is-active o-tab-menu__item"><a href="#st-tab-staff" aria-selected="true">Staff</a></li>
        <!-- <li class="tabs-title o-tab-menu__item"><a href="#st-tab-board">Board</a></li> -->
      </ul>
    </nav>
    <div class="tabs-content" data-tabs-content="st-tabs">
      <div class="o-tab__panel tabs-panel is-active" id="st-tab-staff">
        <%= render partial: 'about_people_staff', locals: {members: StaffMember.staff.order_by_name_with_precedence, type: 's'} %>
      </div>
      <!-- <div class="o-tab__panel tabs-panel" id="st-tab-board">
        <%= render partial: 'about_people_staff', locals: {members: StaffMember.board.order_by_name, type: 'b'} %>
      </div> -->
    </div>
  </div>
</div>
