<% set_page_title t('pages.not_found.page_title') %>

<div class="o-filterbar-title">
  <h2><%= t('pages.not_found.page_header') %></h2>

  <div class="o-filterbar-title__subheader">
    You can try the <strong><%= link_to 'Search page', :search %></strong>
  </div>
</div>
