<% set_page_title @page.full_title %>
<% set_page_description "We will treat your data carefully, preserving your privacy according to the rules laid out in this document, and to the best of our ability." %>

<div class="o-page o-page--centered o-page--margin-to-top">
  <div class="o-page__content">
  	<h1><%= @page.title %></h1>
  	<%= @page.body.html_safe %>
  </div>
</div>
