<% url = @resource.new_record? ? :admin_resources : admin_resource_path(@resource) %>

<%= simple_nested_form_for @resource, url: url, html: { id: 'resource_form' } do |f| %>
  <div class="large-10 columns">
    <%= render partial: 'fields', locals: { f: f, resource: @resource } %>

    <% if Settings[:editing_enabled] %>
      <%= f.button :submit, t('ui.save'), name: nil %>

      <% if @resource.persisted? %>
        <%= link_to t('ui.delete'), admin_resource_path(@resource), class: 'button alert', data: { confirm: t('ui.are_you_sure') }, method: :delete %>
      <% end %>
    <% end %>
  </div>
<% end %>
