<% title = t('.page_title', resource: @resource.title) %>

<% set_page_title title %>

<div class=o-page>
  <h2 class=text-center><%= title %></h2>

  <% unless Settings[:editing_enabled] %>
    <div class='callout warning'><%= t('admin.common.editing_disabled') %></div>
  <% end %>

  <%= render 'form' %>
</div>
