<div id="ld-sidebar-container" class="o-ld-sidebar" data-sticky-container>
  <nav id="ld-sidebar" class="o-ld-sidebar__wrap sticky">
    <ul id="ld-sidebar-menu" class="o-ld-sidebar__menu show-for-large" data-accordion-menu data-slide-speed="200">
      <li class="o-ld-sidebar__block">
        <div class="o-ld-sidebar-header">
          <div class="o-ld-sidebar-header__title"><%= t('ui.contents_of', type: document.doc_type.capitalize) %></div>
          <div class="o-ld-sidebar-header__toggle o-ld-sidebar-header__toggle--show">Expand All</div>
          <div class="o-ld-sidebar-header__toggle o-ld-sidebar-header__toggle--hide">Hide All</div>
        </div>
      </li>
      <li class="o-ld-sidebar__block">
        <div class=o-ld-sidebar-header__sep></div>
      </li>
      <% document.toc.children.each do |heading| %>
        <%= render('nav_item', heading: heading) unless heading.anchor == '1-general' || heading.anchor == 'optbreak' %>
        <%= render('nav_opt_break', heading: heading) if heading.anchor == 'optbreak' %>
      <% end %>
      <% unless document.assessment? %>
        <li class=o-ld-sidebar__block><div class="o-ld-sidebar-item__hr"></div></li>
        <li class=o-ld-sidebar__block>
          <div class="o-ld-sidebar-item__content">
            <div class="o-ld-sidebar-item__header o-ld-sidebar-item__header--summary">Total Lesson Time</div>
            <div class="o-ld-sidebar-item__time o-ld-sidebar-item__time--summary">
              <%= toc_time(document.toc.total_time) %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
