<li class="o-ld-sidebar__item o-ld-sidebar-break">
  <div class="o-ld-sidebar-break__delimeter <%= 'hide' if foundational %>"></div>
  <div class="o-ld-sidebar-break__text"><%= heading.title %></div>
  <div class="o-ld-sidebar-break__delimeter"></div>
</li>
