<li class="o-ld-sidebar__item">
  <a class="o-ld-sidebar-item ">
    <div href="#<%= title.parameterize %>" class="o-ld-sidebar-item__content" data-duration="0" data-level="2">
      <div class="o-ld-sidebar-item__header--l2">
        <%= title %>
      </div>
    </div>
  </a>
</li>
