<li class="o-sidebar-nav__item o-sidebar-nav-break">
  <div class="o-sidebar-nav-break__delimeter"></div>
  <div class="o-sidebar-nav-break__text"><%= heading.title %></div>
  <div class="o-sidebar-nav-break__delimeter"></div>
</li>
