<div id="ld-sidebar-container" class="o-ld-sidebar" data-sticky-container>
  <nav id="ld-sidebar" class="o-ld-sidebar__wrap sticky">
    <ul id="ld-sidebar-menu" class="o-ld-sidebar__menu show-for-large" data-accordion-menu data-slide-speed="200">
      <li class="o-ld-sidebar__block">
        <div class="o-ld-sidebar-header">
          <div class="o-ld-sidebar-header__title"><%= t('ui.contents_of', type: document.doc_type.capitalize) %></div>
          <div class="o-ld-sidebar-header__toggle o-ld-sidebar-header__toggle--show">Expand All</div>
          <div class="o-ld-sidebar-header__toggle o-ld-sidebar-header__toggle--hide">Hide All</div>
        </div>
      </li>
      <li class="o-ld-sidebar__block">
        <div class=o-ld-sidebar-header__sep></div>
      </li>
      <%= render 'nav_contents', document: document %>
    </ul>
  </nav>
</div>
