.c-admcur-results {
  .button {
    margin-bottom: 0;
  }
}

.o-curriculum-tree-editor {
  @include e(container) {
    background: white;
    border-radius: 0.5em;
    margin: 2em auto;
    min-width: 50%;
    padding: 2em;

    .button[type=submit] {
      margin: 0 25% 2em;
      width: 50%;
    }
  }
  @include e(menu-info) {
    font-size: 0.9em;
    margin-top: -1em;
    text-align: center;
  }
}

.o-curriculum-tree-picker {
  @include e(container) {
    aside {
      display: inline-block;
      font-size: 0.9em;
      margin-left: 1em;
    }
    .resource_parent {
      display: inline-block;
      margin-left: 1em;
      margin-top: 0.5em;
      max-width: 85%;
      vertical-align: top;
      strong { margin-left: 0.25em; }
    }
    .tagsinput {
      display: inline-block;
    }
  }
}
.curriculum-picker-modal.reveal {
  h2 {
    text-align: center;
    margin-bottom: 1em;
  }

  background: white;
  border-radius: 0.5em;
  margin: 2em auto;
  min-width: 50%;
  padding: 2em;
}
