.c-admcur-filter {
  select:hover {
    cursor: pointer;
  }
}

.c-admcur-results {
  .button {
    margin-bottom: 0;
  }
}

#cur-edit-items li {
  cursor: move;
}

.cur-edit-item-curtype {
  font-weight: bold;
  text-transform: uppercase;
}

.o-curriculum-tree-editor {
  @include e(container) {
    background: white;
    border-radius: 0.5em;
    margin: 2em auto;
    min-width: 50%;
    padding: 2em;

    .button[type=submit] {
      margin: 0 25% 2em;
      width: 50%;
    }
  }
}
