.o-admin-lessons-search {
  border: solid 1px #ddd;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 2em 1em 1em;

  .row {
    // margin-top: 1em;
    .o-admin-ctx-filters {
      padding-right: 2em;

      label {
        display: inline-block;
        font-weight: normal;
      }

      input {
        display: inline-block;
        margin-left: 1em;
        width: 6em;
      }
    }
    // input[type=submit] { margin-left: auto; }
  }

  .o-admin-search-term {
    width: 60%;
    @include placeholder(#5a5a5a);
  }

  .o-admin-sort-by {
    width: 200px;
  }

  .o-admin-option {
    margin-bottom: .75em;
    label { font-weight: normal; }
  }

  .o-admin-unit, .o-admin-module {
    width: 100px;
  }

  .dropdown-pane {
    background-color: white;
    box-shadow: 2px 2px 2px #aaa;
  }

  // #lesson-grades {
  //   select { height: 285px; }
  //   aside { font-size: 0.8em; }
  // }
  label {font-weight: bold; }
}

.lessons-table {
  table-layout: auto;
  width: 100%;

  @include e(btns) {
    .button {
      min-width: 80px;
    }

    form:last-child {
      .button {
        margin-bottom: 0;
      }
    }
  }

  @include e(materials) {
    list-style: none;

    @include m(file) {
      margin-right: .3em;
    }
  }

  tr {
    th:nth-child(5), td:nth-child(5) {
      max-width: 250px;
      min-width: 200px;
    }

    th:nth-child(6), td:nth-child(6) {
      min-width: 300px;
    }
  }
}

.c-reimport-with-materials {
  @include e(toggle) {
    display: inline-block;
    font-weight: bold;
    margin-left: 2em;
    margin-top: 1.5em;

    input { margin-right: .5em; }
  }
}
