.o-adm-materials {
  @include e(results) {
    list-style: none;
    margin-left: 0;
  }

  @include e(result) {
    border-radius: .5em;
    margin-bottom: .5em;
    padding: 1em;

    @include m(ok) {
      background-color: map-get($ub-green, sixty);
    }

    @include m(err) {
      background-color: lighten(#f00, 40%);
    }

    p { margin-bottom: 0; }
  }

  @include e(link) {
    display: block;
    font-weight: bold;
  }
}

.o-adm-material-search {
  width: 25%;
}

.materials-table {
  @include e(btns) {
    .button { min-width: 80px; }

    form:last-child {
      .button { margin-bottom: 0; }
    }
  }

  @include e(lessons) {
    list-style: none;

    @include m(file) {
      margin-right: .3em;
    }
  }
}

.c-multi-selected--select-all {
  display: inline-block;
  font-weight: bold;
  margin-left: .5em;
  margin-top: 1.5em;
  input { margin-right: .5em; }
}

.o-adm-list .table .c-selected-ids {
  margin-bottom: .2em;
}
