.resource-id-label {
  cursor: pointer;
  font-weight: normal;
}

.resource-tag-col {
  width: 15%;
}

.resource-search-button {
  vertical-align: bottom;
}

.resource-search-select {
  width: 100% !important;
}

.resource-search-title {
  flex-grow: 1;
  padding: 0 1%;
}

.resource-search-wrap {
  flex-basis: 0;
  flex-grow: 1;
  vertical-align: top !important;
  padding-right: 1%;

  &:last-child {
    padding: 0;
  }
}

.o-adm-download {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
}

.c-admin > .o-page {
  margin: 40px auto;
}
