.o-connect {
  @include flex-grid-column(12, 0);
  //@include flex;
  color: $ub-nav-link;
  flex-direction: column;
  padding-bottom: $ub-xlarge-padding;
  padding-top: $ub-xlarge-padding;

  h2 {
    @include txt-element(connect-header);
    color: #ededed;
    text-transform: uppercase;
  }

  @include breakpoint(large) {
    @include flex-grid-column(4, 0);
  }

  @include breakpoint(medium only) {
    @include flex-grid-column(6, 0);
  }

  @include e(dsc) {
    @include txt-element(connect-text);
    //flex: 1 1 auto;
    padding-right: $ub-base-padding;
  }

  @include e(list) {
    @include menu-simple;
    margin: 0;
    i { font-size: 2.3rem; }
    a {
      color: $ub-nav-link;
      &:hover {
        color: scale-color($ub-nav-link, $lightness: -20%);
      }
    }
  }
}
