.c-header {
  background-color: rgba($ub-primary, .9);

  @include e(menu) {
    @include menu-direction(vertical);

    @include breakpoint($topbar-unstack-breakpoint) {
      @include menu-direction(horizontal);
      > li > a { @include add-column-padding; }
    }
  }

  @include e(submenu) {
    background-color: $ub-white !important;
    margin-top: 1px;
    &::before {
      @include css-triangle($tooltip-pip-width, $ub-white, up);
      bottom: 100%;
      left: 20px;
      position: absolute;
      transform: translateX(-50%);
    }
  }

  @include e(submenu-link) {
    font-family: $ub-serif;
    a, &.active a { color: $ub-primary !important; }
    &.active a {
      background-color: $ub-white;
      font-weight: bold;
    }
    a:hover, a:focus {
      background-color: $ub-panel-bg;
      color: $ub-primary !important;
    }
  }

  @include e(link) {
    &, a { color: $ub-nav-link; }
    &:hover, &:focus, a:hover, a:focus, &.active a { color: $ub-white; text-decoration: none; }
    &.active {
      background-color: darken($ub-nav-bg, 5%);
      a { background: none; }
    }
    a {
      @include txt-element(nav-span);
      span:last-child:before { content: '\00a0'; }
      @include breakpoint($topbar-unstack-breakpoint) {
        display: block !important;
        padding-bottom: 1.5rem !important;
        padding-top: 1.5rem !important;
        span:first-child {
          @include txt-element(nav-base);
        }
        span:last-child {
          &:before { content: '\A'; white-space: pre; }
        }
      }
    }

    @include m(light) {
      @include breakpoint($topbar-unstack-breakpoint) {
        background-color: rgba($ub-primary, .8);
        a {
          align-items: center !important;
          display: flex !important;
          height: $ub-nav-height;
        }
      }
    }
  }
}

.c-header-title {
  @include breakpoint($topbar-unstack-breakpoint down) {
    @include top-bar-container;
  }

  @include e(logo) {
    @include breakpoint($topbar-unstack-breakpoint) {
      @include add-column-padding;
    }
  }

  @include e(h-menu) {
    @include breakpoint($topbar-unstack-breakpoint) {
      display: none;
    }
  }
}
