.o-top-bar {
  @include top-bar-container;
  min-height: $ub-nav-height;
  width: 100%;

  @include e(item) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  // Stack on small screens by default
  @include top-bar-stacked;

  @include breakpoint($topbar-unstack-breakpoint) {
    @include top-bar-unstack;

    @include e(item) {
      flex: 0 0 auto;
    }
  }

  @include e(wrapper) {
    @include breakpoint($topbar-unstack-breakpoint) {
      display: flex !important;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
    }
  }

}


/* To prevent FOUC */
.no-js {
  @include breakpoint($topbar-unstack-breakpoint down) {
    .o-top-bar {
      display: none;
    }
  }

  @include breakpoint($topbar-unstack-breakpoint) {
    .c-header-title__h-menu {
      display: none;
    }
  }
}
