html, body {
  height: 100%;
}

@each $breakpoint, $footer-height in $ub-footer-height {
  @include breakpoint($breakpoint) {
    .u-page-wrap {
      margin-bottom: -$footer-height;
      min-height: 100%;
      &:after {
        content: '';
        display: block;
      }
    }

    .u-page-wrap:after {
      height: $footer-height;
    }
  }
}

.o-page {
  @include flex-grid-row;
  @include flex-grid-column;

  @include m(margin-to-top) {
    @include add-gutter(margin, bottom, 1);
    @include add-gutter(margin, top, 2);
  }

  @include m(margin-to-bottom) {
    @include add-gutter(margin, bottom, 2);
    @include add-gutter(margin, top, 1);
  }

  @include m(centered) {
    @include flex-align($x: center);
  }

  @include e(wrap) {
    @include m(nest) {
      @include grid-row-nest;
    }
    @include m(row) {
      @include flex-grid-row;
    }
    @include m(row-nest) {
      @include flex-grid-row(nest);
    }
    @include m(row-column) {
      @include flex-grid-row;
      @include flex-grid-column;
    }
  }

  @include e(content) {
    @include flex-grid-column(11);

    @include m(collapse) {
      @include flex-grid-column(11, 0);
    }
  }

  @include e(sticky) {
    position: relative;
  }

  @include e(module) {
    @include flex-grid-column(12, 0);

    @include m(margin-top) {
      margin-top: $ub-large-margin * 2;
    }
  }

  @include e(section) {
    @include flex-grid-column(12, $grid-column-2xgutter);
  }

}
