$sticky-width: 60px;
$sticky-height: 60px;
$sticky-btn-width: 50px;
$sticky-txt-width: 180px;
$sticky-btn-margin: $sticky-width - $sticky-btn-width;

.o-sticky {
  position: fixed;
  top: 60%;
  transform: translateY(-60%);

  &:hover, &:focus {
    .o-sticky__txt {
      display: block;
    }
  }

  @include m(right) {
    margin-left: $sticky-btn-margin;
    text-align: right;

    &:hover, &:focus {
      margin-left: $sticky-btn-margin - $sticky-txt-width;
    }
  }

  @include m(left) {
    margin-left: -$sticky-width;
    text-align: left;
  }

  @include m(disabled) {
    &, a {
      cursor: not-allowed;
      pointer-events: none !important;
    }
  }

  @include e(btn) {
    @include button($background: $ub-panel-bg, $background-hover: $ub-white, $color: $ub-txt);
    @include button-expand;
    border: 1px solid darken($ub-panel-bg, 5%);
    height: $sticky-btn-width;
    min-width: $sticky-btn-width;
    padding: 0 $ub-xs-padding;

    > div {
      @include flex-align($y: middle);
      flex-wrap: nowrap;
      height: 100%;
    }

  }

  @include e(icon) {
    @include flex-grid-column(shrink, 0);
  }

  @include e(txt) {
    @include flex-grid-column(shrink, 0);
    display: none;
    text-align: left;
    width: $sticky-txt-width;
  }

}
