.o-subscribe {
  background-color: map-get($ub-green, sixty);
}

.o-subscribe-form {
  $ub-subscribe-form-bg: map-get($ub-green, eighty);

  @include e(wrap) {
    @include breakpoint(medium down) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include e(label) {
    @include flex-grid-column(12);
    @include flex-align-self(middle);
    @include txt-element(subscribe-header);
    @include add-top-bottom-padding($y: .5);
    color: map-get($ub-mignight, base);

    @include breakpoint(ipad) {
      @include flex-grid-column(4, 0);
      @include add-top-bottom-padding(0);
      @include add-column-padding($x: 0);
    }
  }

  @include e(email) {
    //@include flex-grid-column(12, 0);
    @include placeholder($ub-subscribe-txt);
    height: $ub-subscribe-height;
    margin-bottom: 0;
    input {
      @include txt-element(subscribe-text);
      flex: 0 1 auto;
      height: auto;
      margin: 0;
      padding: 1.5rem 1rem;
      &, &:focus {
        background-color: $ub-subscribe-form-bg;
        border-color: $ub-subscribe-form-bg;
        box-shadow: none;
        color: $ub-subscribe-txt;
      }
    }

    @include breakpoint(medium down) {
      input {
        @include add-column-padding($x: .5);
        min-width: 1px;
      }
    }

    @include breakpoint(ipad) {
      @include flex-grid-column(8, 0);
    }
  }
  @include e(submit) {
    display: flex !important;
    flex: 1 1 0;
    button {
      @include button($background: $ub-subscribe-form-bg, $background-hover: auto, $color: $ub-txt);
      margin: 0;
    }
  }
}
