.o-subscribe {
  background-color: map-get($ub-green, forty);;
}

.o-subscribe-form {
  $ub-subscribe-form-bg: map-get($ub-green, sixty);

  @include e(wrap) {
    @include flex-grid-row(collapse);
    @include flex-align($y: middle);
  }

  @include e(label) {
    @include flex-grid-column(4, 0);
    @include flex-align-self(center);
    color: map-get($ub-mignight, base);
    font-family: $ub-serif;
    font-size: $lead-font-size;
    font-weight: bold;
  }

  @include e(email) {
    @include flex-grid-column(8, 0);
    margin-bottom: 0;
    input {
      padding: 1.5rem 1rem;
      &, &:focus {
        background-color: $ub-subscribe-form-bg;
        border-color: $ub-subscribe-form-bg;
        box-shadow: none;
        color: $ub-txt;
      }
    }
  }
  @include e(submit) {
    display: flex !important;
    button {
      @include button($background: $ub-subscribe-form-bg, $background-hover: auto, $color: $ub-txt);
      margin: 0;
    }
  }
}
