.o-subscribe {
  background-color: map-get($ub-green, sixty);
}

.o-subscribe-form {
  $ub-subscribe-form-bg: map-get($ub-green, eighty);

  @include e(wrap) {
    @include flex-grid-row(collapse);
    @include flex-align($y: middle);
  }

  @include e(label) {
    @include flex-grid-column(4, 0);
    @include flex-align-self(middle);
    @include txt-element(subscribe-header);
    color: map-get($ub-mignight, base);
  }

  @include e(email) {
    @include flex-grid-column(8, 0);
    @include placeholder($ub-heading-txt);
    height: $ub-subscribe-height;
    margin-bottom: 0;
    input {
      @include txt-element(subscribe-text);
      padding: 1.5rem 1rem;
      &, &:focus {
        background-color: $ub-subscribe-form-bg;
        border-color: $ub-subscribe-form-bg;
        box-shadow: none;
        color: $ub-heading-txt;
      }
    }
  }
  @include e(submit) {
    display: flex !important;
    button {
      @include button($background: $ub-subscribe-form-bg, $background-hover: auto, $color: $ub-txt);
      margin: 0;
    }
  }
}
