@mixin cg-color-scheme($map) {
  .c-cg-annotation {
    background-color: map-get($map, annotation-bg);
  }

  .c-cg-annotationBox {
    @include e(number) {
      background: #fff;
      border: 1px solid map-get($map, annotation-number-bg);
      color: map-get($map, annotation-number-bg);

      &:hover, &:focus {
        background: map-get($map, annotation-number-bg);
        color: #fff;
      }
    }
  }

  .c-cg-annotationListItem {
    @include e(number) {
      background: map-get($map, annotation-number-bg);
    }
  }

  .c-cg-blockquote {
    border-left-color: map-get($map, blockquote-border);
  }

  .c-cg-pullquote {
    border-left-color: map-get($map, pullquote-border);
    color: map-get($map, pullquote);
  }

  .c-cg-task, .c-cg-video {
    background: map-get($map, task-bg);

    @include e(toggler) {
      background: map-get($map, task-toggler-bg);
      color: map-get($map, task-toggler);
    }
  }

  .c-cg-content {
    @include e(body) {
      a:not(.o-btn) {
        color: map-get($map, link) !important;
        overflow-wrap: break-word;
        word-break: break-all;
        word-wrap: break-word;
      }
    }
  }

  .c-cg-table--left-border {
    td {
      border-left-color: map-get($map, blockquote-border) !important;
    }
  }

}
