.o-contents-modal {
  @include reveal-overlay;
  @include reveal-modal-base;
  @include reveal-modal-fullscreen;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  position: relative;

  @include e(content) {
    //@include add-column-padding;
    @include add-top-bottom-padding;
  }

  .is-accordion-submenu-parent > a::after { display: none; }
  li[aria-expanded=true] > a > .o-sidebar-nav__item__icon {
    transform: rotate(90deg);
  }
}
