.c-cg-btn-related {
  border-style: solid;
  border-width: 1px;
}

.c-cg-dropdown {
  background: #fff8e5;
  border: none;
  font-size: 1rem;
  line-height: 1.2 !important;
  padding: 1rem;

  * {
    word-wrap: break-word;
  }
}
