.c-cg-faq {
  @include add-column-padding;
  @include add-gutter(padding, bottom, 1);
  @include add-gutter(padding, top, 1.5);
  @include add-gutter(margin, bottom, 1, $grid-column-2xgutter);
  background-color: $ub-faq-bg;
  border-radius: $global-radius;
  display: flex;
  flex-flow: row wrap;

  @include breakpoint(medium down) {
    margin-top: -108px;
  }

  @include e(img) {
    flex: 0 0 auto;
    > div {
      background-image: image-url('bg-for-question@3x.png');
      background-repeat: no-repeat, no-repeat;
      background-size: 100%;
      text-align: center;
      width: 80px;
    }
  }

  @include e(body) {
    flex: 1 1 0;
    min-height: 1px;

    @include breakpoint(medium) {
      @include add-gutter(padding, left, 1);
    }
  }

}
