.c-cg-footnote {
  * {
    font-size: .875rem !important;
  }

  a[id*=ftnt] {
    font-weight: bold;
  }
}

.c-cg-sup {
  font-family: $ub-sanserif-condensed !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

sup {
  clear: both;
  vertical-align: top !important;
}
