.c-cg-icon {
  background-size: contain;
  background-repeat: no-repeat;
  clear: left;
  float: left;
  height: 80px;
  margin: 0 1rem 1rem 0;
  width: 80px;

  @include m(complexity) {
    background-image: asset-url('cg_icon_complexity.png');
  }

  @include m(instruction) {
    background-image: asset-url('cg_icon_instruction.png');
  }

  @include m(volume) {
    background-image: asset-url('cg_icon_volume.png');
  }
}

.c-cg-icon-small {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  width: 40px;
}
