.c-cg-standard {
  background-size: contain;
  display: inline-block;
  height: 1rem;
  margin-right: .2rem;
  width: 1rem;

  @include m(a) {
    background-image: asset-url('st_icon_a.svg');
  }

  @include m(m) {
    background-image: asset-url('st_icon_m.svg');
  }

  @include m(plus) {
    background-image: asset-url('st_icon_plus.svg');
  }

  @include m(s) {
    background-image: asset-url('st_icon_s.svg');
  }
}
