.c-cg-task {
  clear: both;

  @include e(body) {
    padding: 1.25rem 1.25rem .25rem;
  }

  @include e(copyright) {
    font-style: italic;
    margin-top: 1rem;
  }

  @include e(hidden) {
    display: none;
    padding-top: 1em;
  }

  @include e(title) {
    color: #555;
    font: 1.5rem $ub-sanserif-condensed;
    font-weight: 500 !important;
    margin: 0;
    padding: 1rem 1rem 0;
  }

  @include e(toggler) {
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    padding: .75rem 0;
    text-align: center;
  }

  @include e(toggler__hide) {
    display: none;
  }

  ol {
    list-style-type: lower-alpha;
  }
}
