<div class=nc-content>
  <ul class='list-inline well'>
    <li><%= link_to t('.edit_synonyms'), :lt_admin_edit_synonyms, class: 'btn btn-primary' %>
    <li><%= link_to t('.csv_imports'), :new_lt_admin_csv_import, class: 'btn btn-primary' %>
  </div>
</div>
