<%
  # Uncomment this if you want the user to be redirected by timeout
  # redirect_via_meta_tag(to_url: search_url, delay: 3)

  title = "Page not found"
%>

<% set_page_title title %>

<div class="o-filterbar-title">
  <h2><%= title %></h2>
  <div class="o-filterbar-title__subheader">
  You can try the <strong><%= link_to "Search page", @delayed_redirection_url %></strong>
  </div>
</div>

