
<% @delayed_redirection_url ||= search_url %>
<% redirect_via_meta_tag to_url: @delayed_redirection_url, delay: 3 %>

<div id="admcur-idx">
  <div class="o-page">
    <h1 class="text-center">Page not found</h1>
      <div class="row">
        <p> <a>You'll be redirected to the <%= link_to "search page", @delayed_redirection_url %></a> </p>
      </div>
  </div>
</div>
