.cs-bg {
  @each $code, $color in $ub-colorcodes {
    @include m(#{$code}) {
      background-color: $color;
    }
  }
}

.cs-txt {
  @each $code, $color in $ub-colorcodes {
    @include m(#{$code}) {
      color: $color;
    }
  }
}

.cs-link-bg {
  @each $code, $color in $ub-colorcodes {
    @include m(#{$code}) {
      &, &:hover, &:focus {
        background: none;
        color: $ub-white;
        > div { background-color: $color; }
      }
    }
  }
}
