@function computed-height($element, $lines) {
  $typo: map-get($ub-element-typography, $element);
  $font-size: map-get($typo, font-size);
  $line-height: map-get($typo, line-height);
  @return $font-size * ( $line-height / $font-size ) * $lines;
}
