$text-sizes: (
  'base' : $global-font-size,
  'large': $lead-font-size,
  'small': $small-font-size
);

.u-text {
  @each $text-size, $text-size-value in $text-sizes {
    @include m(#{$text-size}) {
      font-size: $text-size-value;
    }
  }
}

.u-color--base { color: $ub-txt !important; }

.u-text--capitalized {
  text-transform: capitalize;
}

.u-text--uppercase {
  text-transform: uppercase;
}

.u-show { display: block !important; }

$margins: (
  'zero': 0,
  'xs': $ub-small-margin * .7,
  'small': $ub-small-margin,
  'base': $ub-base-margin,
  'large': $ub-large-margin,
  'xlarge': $ub-xlarge-margin
);
$margins-align: (top, bottom, right, left);

@each $margin-type, $margin-value in $margins {
  @each $align in $margins-align {
    .u-margin-#{$align}--#{$margin-type} {
      margin-#{$align}: $margin-value !important;
    }
  }
}

$paddings: (
  'zero': 0,
  'xs': $ub-small-margin * .7,
  'small': $ub-small-margin,
  'base': $ub-base-margin,
  'large': $ub-large-margin,
  'xlarge': $ub-xlarge-margin
);
$paddings-align: (top, bottom);

@each $padding-type, $padding-value in $paddings {
  @each $align in $paddings-align {
    .u-padding-#{$align}--#{$padding-type} {
      padding-#{$align}: $padding-value !important;
    }
  }
}

$align-directions: (top, bottom, left, right);
$align-types: (padding, margin);

@each $align-dir in $align-directions {
  @each $align-type in $align-types {
    .u-#{$align-type}-#{$align-dir}--gutter {
      @include add-gutter($type: #{$align-type}, $subtype: #{$align-dir});
    }
  }
}

$bg: (
  light: $ub-white,
  base: $ub-panel-bg,
  dark: $ub-hero-bg,
  primary: $ub-primary,
  tooltip: darken($ub-tooltip, 1%)
);

@each $bg-type, $bg-color in $bg {
  .u-bg--#{$bg-type} {
    background-color: $bg-color;
  }
}

.u-wrap {
  @each $bg-type, $bg-color in $bg {
    @include m($bg-type) {
      @extend .u-bg--#{$bg-type};
      padding: $ub-base-padding;
    }
  }
}

.u-pd-content {
  padding-bottom: $ub-large-padding;
  padding-top: $ub-large-padding;
}

.u-pd-content--xlarge {
  padding-bottom: $ub-xlarge-padding;
  padding-top: $ub-xlarge-padding;
}

.u-link--disabled {
  &, a {
    color: $medium-gray;
    cursor: not-allowed;
  }
}

.u-hr-small {
  @include clearfix;
  border-bottom: 4px solid map-get($ub-yellow, base);
  border-radius: 2px;
  margin-bottom: $ub-small-margin;
  width: 60px;
}

.u-hr-small--green {
  border-bottom: 4px solid map-get($ub-green, base);
}
