// Block Element
// @access public
// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}
// @alias element
@mixin e($element) {
  @include element($element) {
    @content;
  }
}
// @alias modifier
@mixin m($modifier) {
  @include modifier($modifier) {
    @content;
  }
}

@mixin txt-element($element, $map: $ub-element-typography) {
  $typo: map-get($map, $element);
  @each $style, $value in $typo {
    #{$style}: $value;
  }
  @if not map-has-key($typo, 'font-weight') {
    font-weight: normal;
  }
}

@mixin txt-pdf-element($element) {
  @include txt-element($element, $ub-pdf-typography);
}

@mixin txt-heading-base($element) {
  $typo: map-get($ub-heading-typography, $element);
  color: map-get($ub-txt-colors, $element);
  @each $style, $value in $typo {
    #{$style}: $value;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > .content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
