// Font families
$ub-sanserif: 'PF Centro Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ub-serif: 'Caponi Slab Web', Georgia, "Times New Roman", Times, serif;
$ub-sanserif-condensed: 'PF Centro Sans Condensed', $ub-sanserif;
$ub-cursive: 'Sriracha', cursive;

$panel-radius: 3px;

$ub-nav-height: 90px;
$ub-subscribe-height: 90px;

// Paddings, margins
$ub-base-margin: 1rem;
$ub-base-padding: 1rem;
$ub-large-margin: $ub-base-margin * 1.5;
$ub-xlarge-margin: $ub-base-margin * 2;
$ub-small-margin: $ub-base-margin * .75;
$ub-tiny-margin: 1rem * .06;
$ub-large-padding: $ub-base-padding * 1.5;
$ub-xlarge-padding: $ub-base-padding * 2;
$ub-small-padding: $ub-base-padding * .75;
$ub-xs-padding: $ub-small-padding * .7;
$ub-tiny-padding: $ub-base-padding * .06;

// Base element sizes
$curriculum-map-width: (
  base: 230px,
  medium: 180px
);

$filterbar-height: 58px;
$filterbar-square: 58px;
$filterbar-xs: (($filterbar-square + 1) * 5 - 1) / 2;
$filterbar-xs-3: (($filterbar-square + 1) * 5 - 1) / 3;
$filterbar-rectangle-2: (
  small: $filterbar-xs,
  ipad: 218px,
  large: 115px
);
$filterbar-rectangle-3: (
  small: $filterbar-xs-3 - 1px,
  ipad: 108px,
  large: 75px
);
$filterbar-rectangle-big: (
  small: $filterbar-xs - 1px,
  ipad: 157px
);
$ld-sticky-header-height: (
  small: 75px,
  large: $ub-nav-height
);
$ld-sticky-header-padding: (
  small: 1rem,
  large: .5rem
);

$pdf-margin: 8px;
$pdf-margin-ld: 29px; // It was 57px
$pdf-fulltable-height: 1150px;
