<li>
  <% if download.download.attachment_content_type == 'pdf' %>
    <span>
      <%= link_to preview_download_path(id: download, slug_id: curriculum.try(:slug).try(:id)),
                  data: { no_turbolink: true }, target: '_blank' do %>
        <i class="fa fa-eye" aria-hidden="true"></i>
      <% end %>
    </span>
  <% end %>
  <i class="ub-icon fa-lg file-<%= "#{file_icon(download.download.attachment_content_type)} #{indent}" %>"></i>
  <span>
    <%= link_to(download.download.title,
                download_path(download, slug_id: curriculum.try(:slug).try(:id)),
                class: 'resource-attachment', data: { no_turbolink: true }) %>
  </span>
</li>
