
<li>
  <i class="ub-icon fa-lg file-<%= file_icon(download.attachment_content_type) %>"></i>
  <span><%= link_to(download.title, download_path(download, slug_id: curriculum.try(:slug).try(:id)), class: 'resource-attachment', data: { no_turbolink: true }) %></span>
</li>
