<li>
  <i class="ub-icon fa-lg file-<%= file_icon(download.attachment_content_type) %>"></i>
  <span><%= link_to(download.title, download_path(download), target: '_blank', class: 'resource-attachment') %></span>
</li>
