<li class="media">
  <div class="media-left media-middle">
    <i class="fa fa-2x file-<%= file_icon(attachment_content_type(download)) %>"></i>
  </div>
  <div class="media-body">
    <%= link_to(download.title, attachment_url(download), target: '_blank', class: 'resource-attachment') %>
  </div>
</li>
