<li>
  <i class="ub-icon fa-lg file-<%= file_icon(attachment_content_type(download)) %>"></i>
  <span><%= link_to(download.title, attachment_url(download), target: '_blank', class: 'resource-attachment') %></span>
</li>
