<% cc_types = [{ icon: 'cc-zero', title: 'You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission.' }] %>

<div class=o-resource__cc>
  <%= render partial: 'resources/copyright_icons_generic', locals: { resource: resource } %>
  <%= copyrights_text(resource) %>
</div>
