<ul class="o-resource__taglist o-resource__list--<%= resource.color_code %>">
  <% resource.tags.sort.each_with_index do |tag, i| %>
    <li>
      <%= link_to tag.name, search_path(search_term: tag.name) %><%= ', ' if i != resource.tags.size - 1  %>
    </li>
  <% end %>
</ul>
