<ul class="o-resource__taglist o-resource__list--<%= color_code %>">
  <% tags.each_with_index do |tag, i| %>
    <li>
      <%= link_to tag, search_path(search_term: tag) %><%= ', ' if i != tags.size - 1  %>
    </li>
  <% end %>
</ul>
