<% @lobject.shallow_trees.each do |tree| %>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
              <% tree.each do |node| %>
                <li>
                    <%= link_to(node.content.title, unbounded_show_path(id: node.content.id)) %>
                </li>
              <% end %>
            </ol>
        </div>
    </div>
<% end %>
