<nav>
  <ul class="pagination">
    <% (1..(@search.total_pages)).each_with_index do |page| %>
    <li <% if page == @search.page %> class="active" <% end %> >
        <%= link_to(page, current_search.merge(page: page)) %>
    </li>
    <% end %>
  </ul>
</nav>
