p, ol, ul {
  &, * {
    @include txt-pdf-element(ld-base);
    font-weight: normal;
    orphans: 2;
    widows: 2;
  }
  i.fa { font: normal normal normal 14px/1 FontAwesome; }
}

h1, h2, h3, h4, h5 {
  @extend %u-pdf-nobreak;
  padding-top: 0;
}

h2 { @include txt-pdf-element(ld-h2); }
h3 { @include txt-pdf-element(ld-h3); }
h4 { @include txt-pdf-element(ld-h4); }
h5 { @include txt-pdf-element(ld-h5); }
