.o-ld-title {
  @include e(title) {
    @include m(h2) {
      @include txt-pdf-element(ld-h2);
      flex: 1 1 0px;
    }
    @include m(h3) {
      @include txt-pdf-element(ld-h3);
      flex: 1 1 0px;
    }
  }

  @include e(time) {
    font-style: italic;

    @include m(h2) {
      @include txt-pdf-element(ld-activity-h2time);
      @include flex-grid-column(shrink, 0);
      white-space: nowrap;
    }
    @include m(h3) {
      @include txt-pdf-element(ld-activity-h3time);
      @include flex-grid-column(shrink, 0);
    }
  }
}
