$icons: (tens);

.o-m-icon {
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
}

@each $icon in $icons {
  .o-m-icon {
    @include m($icon) {
      background-image: asset-data-url("materials/#{$icon}.png");
    }
  }
}
