.o-m-overlay {
  @include flex;
  background-color: map-get($ub-ld-colorcodes, material-overlay);
  bottom: 0;
  color: $ub-white;
  display: none;
  flex-direction: column;
  left: 0;
  opacity: .9;
  position: absolute;
  right: 0;
  top: 0;

  @include e(actions) {
    @include flex;
    @include flex-align($x: center, $y: middle);
    background-color: darken(map-get($ub-ld-colorcodes, material-overlay), 5%);
    height: 40px;
    width: 100%;

    > ul > li > a { padding: 0 .5rem; }
  }

  @include e(preview) {
    @include flex;
    @include flex-align($x: center, $y: middle);
    flex: 1 1 0px;
    width: 100%;
  }

  @include e(wrap) {
    position: relative;

    &:hover, &:focus {
      .o-m-overlay {
        @include flex;
        z-index: 9999;
      }
    }
  }
}
