.lobject-id-label {
  cursor: pointer;
  font-weight: normal;
}

.lobject-tag-col {
  width: 15%;
}

.lobject-search-button {
  vertical-align: bottom;
}

.lobject-search-select {
  width: 100% !important;
}

.lobject-search-wrap {
  vertical-align: top !important;
  width: 23% !important;
}
