@mixin curriculum-details {
  font-style: italic;
}

@mixin curriculum-map-base {
  @include flex-grid-row($gutter: 0);
  flex-flow: column nowrap;

  @include e(module-wrap) {
    @extend %map-transition;
    //@include flex-grid-column($gutter: 0);
  }

  @include e(module) {
    @extend .u-text--small;
    @extend %map-transition;
    color: $white;
    font-family: $ub-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  @include e(units-wrap) {
    width: 100%;
    //@include flex-grid-column($gutter: 0);
  }

  @include e(units) {
    @extend %map-transition;
    @include flex-grid-row($gutter: 0);
    @include flex-align($x: left, $y: top);
    margin-left: 0;
  }

  @include e(unit) {
    @extend %map-transition;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  @include e(lesson) {
    @extend %map-transition;
  }

}

@mixin curriculum-map-layout($lesson-size: 10px, $lesson-margin: 4px, $lessons-in-row: 4,
                      $units-in-row: 3, $units-margin: 0, $module-height: 15px,
                      $module-margin: $ub-xs-padding, $module-padding: $ub-tiny-padding $ub-xs-padding,
                      $unit-margin-type: top,
                      $width: map-get($curriculum-map-width, base)) {

  $width-for-padding: 0;
  $unit-padding: ($width - $width-for-padding - (($lesson-size + $lesson-margin) * $lessons-in-row) * $units-in-row) / $units-in-row;
  $units-row: (($lesson-size + $lesson-margin) * $lessons-in-row) * $units-in-row + $unit-padding * $units-in-row;
  $lessons-row: ($lesson-size + $lesson-margin) * $lessons-in-row + $unit-padding;

  @include e(module-wrap) {
    margin-bottom: $module-margin;
    width: $width;

    @include breakpoint(small only) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include e(module) {
    min-height: $module-height;
    padding: $module-padding;
  }

  @include e(units-wrap) {
    margin-top: $units-margin;
  }

  @include e(units) {
    width: $units-row;

    @include breakpoint(small only) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include e(unit) {
    margin-#{$unit-margin-type}: $lesson-size * 1.5;
    padding-right: $unit-padding;
    width: $lessons-row;
  }

  @include e(lesson) {
    height: $lesson-size;
    margin: 0 $lesson-margin $lesson-margin 0;
    width: $lesson-size;
  }

}

.o-c-map {
  @extend .u-margin-top--small;
  @include curriculum-map-base;
  @include curriculum-map-layout($lesson-size: 12px,
                                 $unit-margin-type: bottom
                                 );
}

.o-ch-map {
  @include curriculum-map-base;

  @include e(details) {
    @extend %map-transition;
  }

  @include m(medium) {
    @include curriculum-map-layout($width: map-get($curriculum-map-width, medium),
                                   $module-padding: 0,
                                   $module-height: 10px,
                                   $module-margin: 5px,
                                   $lesson-size: 10px,
                                   $lesson-margin: 3px);

    @include e(details) {
      @include curriculum-details;
    }
    padding-bottom: $ub-small-padding;
  }

  @include m(short) {
    @include curriculum-map-layout($lesson-size: 4px, $lesson-margin: 1px,
                            $width: 80px, $module-height: 5px,
                            $module-margin: 3px,
                            $module-padding: 0);

    @include e(details) {
      @extend %map-transition;
      display: none;
    }
  }
}

.o-ch-unit-map {
  @include curriculum-map-base;

  @include e(details) {
    @extend %map-transition;
  }

  @include m(medium) {
    @include curriculum-map-layout($width: map-get($curriculum-map-width, medium),
                                   $lesson-size: 23px, $lesson-margin: 8px,
                                   $units-margin: 23px * (-1.5),
                                   $lessons-in-row: 5,
                                   $units-in-row: 1);
    @include e(details) {
      @include curriculum-details;
    }
    padding-bottom: $ub-small-padding;
  }

  @include m(short) {
    @include curriculum-map-layout($lesson-size: 12px,
                                   $units-margin: 12px * (-1.5),
                                   $lessons-in-row: 5,
                                   $units-in-row: 1, $width: 80px);
    @include e(details) {
      @extend %map-transition;
      display: none;
    }
  }
}
