$ub-cur-card-margin: 2px;

.o-cur-card {
  @extend .u-wrap--light;
  @extend %material-card;
  @include flex-grid-row();
  cursor: pointer;


  @include m(grade) {
    margin-bottom: $ub-xlarge-margin;
  }

  @include m(short) {
    @include flex-align($y: middle);
    //margin-bottom: $ub-cur-card-margin !important;
    border-radius: 0;
  }

  @include e(map) {
    @include flex-grid-column(shrink);
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;

    @include breakpoint(medium down) {
      @include flex-grid-column(12);
      margin-bottom: $ub-small-margin;
    }
  }

  @include e(body) {
    @include flex-grid-column();
    @include inline-styles-override();
    @include zero-margin-bottom();

    @include m(short) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  @include e(actions) {
    @include flex-grid-column(shrink);
    @include breakpoint(medium down) {
      @include flex-grid-column(12);
      margin-top: $ub-small-margin;
      text-align: center;
    }
  }

  @include e(ellipsis) {
    padding: 0 !important;
  }

}
