$ub-cur-card-margin: 2px;

@mixin card-active-bg($color) {
  background-color: $color !important;
  .o-cur-card__actions {
    [class^='o-ub-btn'] {
      @include button-style($background: $ub-white, $background-hover: auto, $color: $color);
    }
    [class*=' o-ub-btn--bordered'] {
      @include button-hollow;
      @include button-hollow-style($ub-white);
    }
  }
}

@mixin card-active-txt {
  color: $ub-white !important;
  [class^='cs-bg'], [class*=' cs-bg'] { background-color: $ub-white !important; }
  .o-title__type, .o-title__type--short,
  .o-title__duration, .o-cur-card__ellipsis, h3 { color: $ub-white; }
}


@each $code, $color in $ub-colorcodes {
  .touchevents {
    .o-cur-card-active--#{$code} {
      @include card-active-bg($color);
      @include card-active-txt;
    }
  }
  .no-touchevents {
    @include breakpoint(ipad up) {
      .o-cur-card-hover--#{$code} {
        &:hover, &:focus {
          @include card-active-bg($color);
        }
      }
    }

    @include breakpoint(ipad up) {
      .o-cur-card {
        &:hover, &:focus {
          @include card-active-txt;
        }
      }
    }
  }
}

.o-cur-card {
  @extend .u-bg--light;
  @extend %material-card;
  @include flex-grid-row;
  @include add-top-bottom-padding;
  @include add-column-padding;
  cursor: pointer;

  @include breakpoint(medium down) {
    padding: 1.5rem !important;
  }

  @include e(map) {
    @include flex-grid-column(shrink, 0);
    @include flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    @include breakpoint(medium down) {
      display: none;
    }
  }

  @include e(map-wrap) {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  @include e(body) {
    @include flex-grid-column($gutter: $grid-column-2xgutter);
    @include zero-margin-bottom;

    h3 { margin-bottom: 0; }

    @include m(short) {
      margin-top: -5px;
    }

    @include m(medium) {
      margin-top: -1px;
    }

    @include breakpoint(medium down) {
      @include add-column-padding($x: 0);
      @include flex-order(2);
      @include flex-grid-column(12, 0);
    }

  }

  @include e(title) {
    @include m(short) {
    }
    @include m(medium) {
    }
  }

  @include e(dsc) {
    @include txt-element(card-dsc);
    padding-top: $ub-small-padding;
    @include m(short) {
      //overflow: hidden;
      //text-overflow: ellipsis;
      //white-space: nowrap;
    }
    @include m(medium) {
      //@include clamp(3);
    }
  }

  @include e(actions) {
    @include flex-grid-column(shrink, 0);

    @include m(short) {
      @include flex-align-self(middle);
    }

    @include breakpoint(medium down) {
      @include flex;
      @include flex-align($x: justify, $y: middle);
      @include flex-order(1);
      @include flex-grid-column(12, 0);
      flex-flow: row nowrap;
      height: 21px;

      > div,  ul {
        flex: 0 0 auto;
        width: auto;
      }
    }
  }

  @include e(menu) {
    @include menu-base;
    @include menu-direction(vertical);

    li > a { z-index: $reveal-zindex - 1; }

    @include m(medium) {
      li > a {
        @include flex-align(center, middle);
        margin-bottom: $ub-small-margin / 2;
      }
    }

    @include m(short) {
      .is-dropdown-submenu {
        right: 0% !important;
        top: 54px;
      }

      .submenu {
        &::before {
          background: $ub-white;
          border-bottom: 1px solid $medium-gray;
          border-right: 1px solid $medium-gray;
          content: '';
          display: block;
          height: $tooltip-pip-width;
          position: absolute;
          right: 12px;
          top: -$tooltip-pip-width * .5;
          transform: rotate(-135deg);
          width: $tooltip-pip-width;
        }
      }
    }
  }

  @include e(ellipsis) {
    padding: 0 !important;
    padding-right: 10px !important;
    color: $ub-txt;
    cursor: pointer;

    @include breakpoint(medium down) {
      margin-right: -7px;
      padding-right: 0 !important;
    }
  }

  @include m(grade) {
    @include add-gutter(margin, bottom, 1);
  }

  @include m(show-medium)  {
    display: inherit;

    @include breakpoint(ipad down) {
      &.o-cur-card__menu { display: none; }
    }
  }
  @include m(show-short) {
    display: none;

    @include breakpoint(ipad down) {
      &.o-cur-card__menu { display: inherit; }
    }

  }

  @include m(short) {
    @extend %map-transition;
    @include add-top-bottom-padding(.5);
    @include add-column-padding(.5);
    //border-radius: 0;

    .o-cur-card--show-medium { display: none; }
    .o-cur-card--show-short { display: inherit; }
  }

}
