@mixin curriculum-details {
  font-style: italic;
}

@mixin curriculum-map-base ($bg-active: $ub-primary, $bg-base: $ub-panel-bg) {
  @include flex-grid-row(nest);
  flex-direction: column;

  @include e(module-wrap) {
    @extend %map-transition;
    @include flex-grid-column();
  }

  @include e(module) {
    @extend .u-text--small;
    @extend %map-transition;
    color: $white;
    font-family: $ub-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  @include e(units-wrap) {
    //@extend %map-transition;
    @include flex-grid-column();
  }

  @include e(units) {
    @extend %map-transition;
    @include flex-grid-row();
    @include flex-align($x: left, $y: top);
    margin-left: 0;
  }

  @include e(unit) {
    @extend %map-transition;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  @include e(lesson) {
    @extend %map-transition;
  }

}

@mixin curriculum-map-layout($lesson-size: 10px, $lesson-margin: 4px, $lessons-in-row: 4,
                      $units-in-row: 3, $units-margin: 0, $module-height: 15px,
                      $module-margin: $ub-xs-padding, $module-padding: $ub-tiny-padding $ub-xs-padding,
                      $width: 245px) {

  $width-for-padding: 15px;
  $unit-padding: ($width - $width-for-padding - (($lesson-size + $lesson-margin) * $lessons-in-row) * $units-in-row) / $units-in-row;
  $units-row: (($lesson-size + $lesson-margin) * $lessons-in-row) * $units-in-row + $unit-padding * $units-in-row;
  $lessons-row: ($lesson-size + $lesson-margin) * $lessons-in-row + $unit-padding;

  @include e(module-wrap) {
    margin-bottom: $module-margin;
    width: $width;
  }

  @include e(module) {
    min-height: $module-height;
    padding: $module-padding;
  }

  @include e(units-wrap) {
    margin-top: $units-margin;
  }

  @include e(units) {
    width: $units-row;
  }

  @include e(unit) {
    margin-bottom: min($unit-padding, $lesson-size * 2);
    padding-right: $unit-padding;
    width: $lessons-row;
  }

  @include e(lesson) {
    height: $lesson-size;
    margin: 0 $lesson-margin $lesson-margin 0;
    width: $lesson-size;
  }

}

.o-c-map {
  @extend .u-margin-top--small;
  @include curriculum-map-base();
  @include curriculum-map-layout($lesson-size: 12px);
}

.o-ch-map {
  @include curriculum-map-base($bg-base: $ub-primary);

  @include e(details) {
    @extend %map-transition;
  }

  @include m(medium) {
    @include curriculum-map-layout($width: 220px, $module-padding: 8px);

    @include e(details) {
      @include curriculum-details;
    }
  }

  @include m(short) {
    @include curriculum-map-layout($lesson-size: 4px, $lesson-margin: 2px,
                            $width: 100px, $module-height: 5px,
                            $module-margin: 2px, $units-margin: 5px,
                            $module-padding: 2px);

    @include e(details) {
      @extend %map-transition;
      display: none;
    }
  }
}

.o-ch-unit-map {
  @include curriculum-map-base($bg-base: $ub-primary);

  @include e(details) {
    @extend %map-transition;
  }

  @include m(medium) {
    @include curriculum-map-layout($lesson-size: 35px, $lesson-margin: 8px,
                            $units-in-row: 1, $width: 200px);
    @include e(details) {
      @include curriculum-details;
    }
  }

  @include m(short) {
    @include curriculum-map-layout($lesson-size: 12px,
                            $units-in-row: 1, $width: 85px);
    @include e(details) {
      @extend %map-transition;
      display: none;
    }
  }
}
