$lesson-size: 10px;
$lesson-margin: 4px;
$lessons-in-row: 4;
$unit-padding: 15px;
$units-in-row: 3;
$units-row: (($lesson-size + $lesson-margin) * $lessons-in-row) * $units-in-row + $unit-padding * $units-in-row;
$lessons-row: ($lesson-size + $lesson-margin) * $lessons-in-row + $unit-padding;

.o-c-map {
  @extend .u-margin-top--small;
  @include flex-grid-row(nest);
  flex-direction: column;

  @include e(module-wrap) {
    @extend .u-margin-bottom--xs;
    @include flex-grid-column();
    width: $units-row + $unit-padding * 2;
  }

  @include e(module) {
    @extend .u-bg--base;
    @extend .u-text--small;
    color: $ub-white;
    text-transform: uppercase;
    font-weight: bold;
    padding: $ub-tiny-padding $ub-xs-padding;
  }

  @include e(item) {
    @include m(active) {
      @extend .u-bg--primary;
    }
  }

  @include e(units-wrap) {
    @include flex-grid-column();
    @extend .u-margin-bottom--xs;
  }

  @include e(units) {
    @include flex-grid-row();
    @include flex-grid-row-align($x: left, $y: top);
    margin-left: 0;
    width: $units-row;
  }

  @include e(unit) {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: $lessons-row;
    padding-right: $unit-padding;
  }

  @include e(lesson) {
    @extend .u-bg--base;
    height: $lesson-size;
    margin: 0 $lesson-margin $lesson-margin 0;
    width: $lesson-size;
  }

}
