$ub-cur-card-margin: 2px;

@each $code, $color in $ub-colorcodes {
  .o-cur-card-hover--#{$code} {
    &:hover, &:focus {
      background-color: $color !important;
      .o-cur-card__actions {
        [class^='o-ub-btn'] {
          @include button-style($background: $ub-white, $background-hover: auto, $color: $color);
        }
        [class*=' o-ub-btn--bordered'] {
          @include button-hollow;
          @include button-hollow-style($ub-white);
        }
      }
    }
  }
}

.o-cur-card {
  @extend .u-bg--light;
  @extend %material-card;
  @include flex-grid-row;
  @include add-top-bottom-padding;
  @include add-column-padding;
  cursor: pointer;

  &:hover, &:focus {
    color: $ub-white !important;
    [class^='cs-bg'], [class*=' cs-bg'] { background-color: $ub-white !important; }
    .o-title__type, .o-title__type--short,
    .o-title__duration, .o-cur-card__ellipsis, h3 { color: $ub-white; }
  }

  @include e(map) {
    @include flex-grid-column(shrink, 0);
    @include flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    @include breakpoint(medium down) {
      @include flex-grid-column(12);
      margin-bottom: $ub-small-margin;
    }
  }

  @include e(map-wrap) {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  @include e(body) {
    @include flex-grid-column($gutter: $grid-column-2xgutter);
    @include zero-margin-bottom;

    h3 { margin-bottom: 0; }

    @include m(short) {
      margin-top: -5px;
    }
    @include m(medium) {
      margin-top: -2px;
    }

    @include breakpoint(medium down) {
      @include add-column-padding($x: .5);
    }
  }

  @include e(title) {
    @include m(short) {
    }
    @include m(medium) {
    }
  }

  @include e(dsc) {
    @include txt-element(base);
    padding-top: $ub-small-padding;
    @include m(short) {
      //overflow: hidden;
      //text-overflow: ellipsis;
      //white-space: nowrap;
    }
    @include m(medium) {
      //@include clamp(3);
    }
  }

  @include e(actions) {
    @include flex-grid-column(shrink, 0);

    @include breakpoint(medium down) {
      @include flex-grid-column(12);
      margin-top: $ub-small-margin;
      text-align: center;
    }

    @include m(short) {
      @include flex-align-self(middle);
    }
  }

  @include e(menu) {
    @include menu-base;
    @include menu-direction(vertical);

    li > a { z-index: $reveal-zindex - 1; }

    @include m(medium) {
      li > a {
        @include flex-align(center, middle);
        margin-bottom: $ub-small-margin / 2;
      }
    }

    @include m(short) {
      .is-dropdown-submenu {
        right: 0% !important;
        top: 54px;
      }

      .submenu {
        &::before {
          @include css-triangle($tooltip-pip-width, $ub-white, up);
          bottom: 100%;
          right: 12px;
          position: absolute;
          transform: translateX(-50%);
        }
      }
    }
  }

  @include e(ellipsis) {
    padding: 0 !important;
    padding-right: 10px !important;
    color: $ub-txt;
    cursor: pointer;
  }

  @include m(grade) {
    margin-bottom: $ub-xlarge-margin;
  }

  @include m(show-medium)  {
    display: inherit;

    @include breakpoint(ipad only) {
      &.o-cur-card__menu { display: none; }
    }
  }
  @include m(show-short) {
    display: none;

    @include breakpoint(ipad only) {
      &.o-cur-card__menu { display: inherit; }
    }

  }

  @include m(short) {
    @extend %map-transition;
    @include add-top-bottom-padding(.5);
    @include add-column-padding(.5);
    //border-radius: 0;

    .o-cur-card--show-medium { display: none; }
    .o-cur-card--show-short { display: inherit; }
  }

}
