.o-download-modal {
  @include reveal-overlay;
  @include reveal-modal-base;
  //@include reveal-modal-width(45%);
  @include add-top-bottom-padding($y: 1);
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  position: relative;

  @include breakpoint(large) {
    width: 45% !important;
  }

  @include breakpoint(ipad) {
    left: auto;
    margin: 0 auto;
    right: auto;
    top: 30vh;
    width: 65%;
  }

  @include breakpoint(medium down) {
    @include reveal-modal-fullscreen;
  }

  @include e(content) {
    @include add-column-padding;
    overflow-y: auto;
    padding-bottom: $ub-base-padding;
    padding-top: $ub-base-padding;

    @include breakpoint(ipad) {
      max-height: 50vh;
    }
  }

  @include e(title) {
    @include add-column-padding;
    @include txt-element(download-header);
  }
}

.o-download-form {
  > div { @include flex-grid-row(); }

  @include e(item) {
    @include flex-grid-column(12);
  }

  @include e(button) {
    @extend .u-margin-top--small;
    @include flex-grid-column(12);
    text-align: center;
  }
}
