.o-download-modal {
  @include reveal-overlay;
  @include reveal-modal-base;
  //@include reveal-modal-width(45%);
  @include add-top-bottom-padding($y: 1);
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  position: relative;

  @include breakpoint(large) {
    width: 45%;
  }

  @include breakpoint(ipad) {
    left: auto;
    margin: 0 auto;
    right: auto;
    top: 30vh;
    width: 65%;
  }

  @include breakpoint(medium down) {
    @include reveal-modal-fullscreen;
  }

  .close-button {
    background: $medium-gray;
    border-radius: 0;
    color: $ub-white;
    cursor: pointer;
    height: $filterbar-square;
    line-height: 1;
    padding: 0;
    right: 0;
    top: 0;
    width: $filterbar-square;
    span i { font-size: 2rem; }
  }

  @include e(content) {
    @include add-column-padding;
    max-height: 50vh;
    overflow-y: auto;
    padding-bottom: $ub-base-padding;
    padding-top: $ub-base-padding;
  }

  @include e(title) {
    @include add-column-padding;
    @include txt-element(download-header);
  }
}

.o-download-form {
  > div { @include flex-grid-row(); }

  @include e(item) {
    @include flex-grid-column(12);
  }

  @include e(button) {
    @extend .u-margin-top--small;
    @include flex-grid-column(12);
    text-align: center;
  }
}
