@mixin o-filterbar-selectable {
  @include button;

  color: $white;
  margin: 0 $ub-tiny-margin;

  &:hover {
    background-color: scale-color($button-background, $lightness: -50%);
    color: $ub-whitesmoke;
  }

  &--selected {
    & {
      background-color: scale-color($button-background, $lightness: -50%);
      color: #fff;
    }
  }
}

.o-filterbar-title {
  padding-bottom: $ub-base-padding;
  padding-top: $ub-xlarge-padding;
  text-align: center;

  h1, h2 { color: $ub-primary; }

  @include e(subheader) {
    font-style: italic;
  }
}

.o-filterbar {
  @include flex();
  @include flex-align($x: justify);
  margin: $ub-small-margin 0;

  @include breakpoint(small only) {
    flex-direction: column;
  }

  @include e(list) {
    @include button-group($child-selector: 'div');
    @include flex-align($y: top);
    flex-wrap: wrap;
    margin-bottom: $ub-base-margin;
  }

  @include e(item) {
    @extend %ub-btn-font;
    padding: $ub-base-padding $ub-base-padding / 2 !important;

    @each $code, $color in $ub-colorcodes {
      @include m(#{$code}) {
        @include button($background: $color, $background-hover: auto, $color: $ub-white);
      }
    }

    @include m(deselected) {
      opacity: .35;
    }

    @include m(clear) {
      font-weight: bold;
      padding: $ub-base-padding / 2 0 !important;
    }

    @include m(rectangle) {
      width: 110px;
    }

    @include m(square) {
      width: 58px;
    }
  }

  @include e(facets-list) {
    @include e(facet) {
      @include o-filterbar-selectable;
      padding: 1em 2.4em;
    }
  }

  .o-filterbar__search {
    display: inline-block;
    width: 65%;
    height: 2.8em;
    background-color: $button-background;
    position: relative;
    padding: 0 1em;

    .o-filterbar__search-input {
      background-color: $button-background;
      border: none;
      color: $ub-whitesmoke;
      font-weight: bold;
      border-bottom: solid 1px #fff;
      box-shadow: none;

      &:focus { box-shadow: none; }
    }
    .o-filterbar__search-icon {
      display: inline-block;
      position: absolute;
      right: 1em;
      bottom: 1em;
      color: #fff;
    }
  }
}
