.o-filterbar-modal {
  @include reveal-overlay;
  @include reveal-modal-base;
  @include reveal-modal-fullscreen;
  background-color: rgba(map-get($ub-mignight, filterbar), .95);
  overflow: auto;

  > div {
    margin-left: auto;
    margin-right: auto;
    max-width: $filterbar-xs * 2 + 1px;
  }

  @include m(show) {
    align-items: center;
    display: flex;
    min-height: 100%;
    min-height: 100vh;
  }
}
