@mixin o-filterbar-selectable {
  @include button;

  color: $ub-whitesmoke;
  margin: 0 $ub-tiny-margin;

  &:hover {
    background-color: scale-color($button-background, $lightness: -50%);
    color: $ub-whitesmoke;
  }

  &--selected {
    & {
      background-color: scale-color($button-background, $lightness: -50%);
      color: #fff;
    }
  }
}

.o-filterbar-title {
  padding-bottom: $ub-base-padding;
  padding-top: $ub-xlarge-padding;
  text-align: center;

  h1, h2 { color: $ub-primary; }

  @include e(subheader) {
    font-size: $small-font-size;
    font-style: italic;
  }
}

.o-filterbar {
  @include flex();
  justify-content: space-between;
  margin: $ub-small-margin 0;

  @include e(subjects-list) {
    @include e(subject) {
      @include o-filterbar-selectable;
      padding: 1em 2.4em;
    }
  }

  @include e(grades-list) {
    @include e(grade) {
      @include o-filterbar-selectable;
      padding: 1em 1.5em;
    }
  }

  @include e(facets-list) {
    @include e(facet) {
      @include o-filterbar-selectable;
      padding: 1em 2.4em;
    }
  }

  .o-filterbar__search {
    display: inline-block;
    width: 65%;
    height: 2.8em;
    background-color: $button-background;
    position: relative;
    padding: 0 1em;

    .o-filterbar__search-input {
      background-color: $button-background;
      border: none;
      color: $ub-whitesmoke;
      font-weight: bold;
      border-bottom: solid 1px #fff;
      box-shadow: none;

      &:focus { box-shadow: none; }
    }
    .o-filterbar__search-icon {
      display: inline-block;
      position: absolute;
      right: 1em;
      bottom: 1em;
      color: #fff;
    }
  }
}
