.o-filterbar-title {
  padding-bottom: $ub-base-padding;
  padding-top: $ub-xlarge-padding;
  text-align: center;

  h1, h2 { color: $ub-primary; }

  @include e(subheader) {
    font-style: italic;
  }
}

.o-filterbar {
  @include flex();
  @include flex-align($x: justify);
  margin: $ub-small-margin 0;

  @include breakpoint(small only) {
    flex-direction: column;
  }

  @include e(list) {
    @include button-group($child-selector: 'div');
    @include flex-align($y: top);
    flex-wrap: wrap;
    margin-bottom: $ub-base-margin;
  }

  @include e(item) {
    @extend %ub-btn-font;
    padding: $ub-base-padding $ub-base-padding / 2 !important;

    @each $code, $color in $ub-colorcodes {
      @include m(#{$code}) {
        @include button($background: $color, $background-hover: auto, $color: $ub-white);
      }
    }

    @include m(deselected) {
      opacity: .35;
    }

    @include m(clear) {
      font-weight: bold;
      padding: $ub-base-padding / 2 0 !important;
    }

    @include m(rectangle) {
      width: 110px;
    }

    @include m(rectangle-big) {
      width: 160px;
    }

    @include m(square) {
      width: 58px;
    }
  }
}

$search-height: 2.8em;

.o-filterbar-search {
  width: 100%;

  @include e(label) {
    @include flex-grid-column(shrink, 0);
    background-color: $ub-primary;
    color: $ub-white;
    font-family: $ub-serif;
    font-weight: bold;
    height: $search-height;

    span {
      @include flex;
      align-items: center;
      height: 100%;
      padding-left: $ub-large-padding;
      padding-right: $ub-large-padding;
    }
  }

  @include e(input) {
    @include flex-grid-column(null, 0);
    position: relative;
    > input { margin-bottom: 0; }
  }

  @include e(field) {
    border-right: 0;
    box-shadow: none;
    height: $search-height;
    padding-right: 2rem;
  }

  @include e(icon) {
    color: $ub-txt;
    font-weight: bold;
    position: absolute;
    right: .5rem;
    top: .75rem;
  }
}
