$generic-card-height: 164px;
$preview-height: 451px;
$preview-btn-height: 45px;

.o-generic-preview {
  @include add-gutter;
  border: 1px solid map-get($ub-buttons, show-more);
  height: $preview-height;
  overflow-y: hidden;
  position: relative;

  @include e(canvas) {
    width: 100%;
  }

  @include e(btn) {
    @include txt-element(button);
    cursor: pointer;
    display: block;
    opacity: .75;
    padding: .75rem 0;
    position: absolute;
    text-align: center;
    top: $preview-height - $preview-btn-height;
    width: 100%;
  }
}

.o-generic-card {
  @include flex-grid-column(6);
  @include add-gutter;
  @include flex;
  color: $ub-white;

  @include breakpoint(large) {
    @include flex-grid-column(3);
  }

  @include e(wrap) {
    @include add-column-padding(.5);
    @include add-top-bottom-padding(.5);
    @extend %material-card;
    height: $generic-card-height;
    width: 100%;
  }

  @include e(title) {
    @include txt-element(generic-card-title);
    text-shadow: .5px .9px 1px rgba(0, 0, 0, .15);
  }

  @include e(teaser) {
    @include clamp(3, generic-card-teaser);
    @include txt-element(generic-card-teaser);
    text-shadow: .5px .9px 1px rgba(0, 0, 0, .1);
  }
}
