.o-input-placehoder {
  @include m(medium-gray) {
    &::placeholder {
      color: map-get($ub-txt-colors, medium-gray);
    }
  }
}

.o-input-error {
  outline: 1px solid map-get($ub-colorcodes, error) !important;
  outline-offset: -1px;
}
