$lesson-dsc-short-lines: 4;
$lesson-dsc-full-lines: 7;
$lesson-dsc-full-font-size: $small-font-size;
$lesson-dsc-full-line-height: 1.2;
$lesson-card-height: 180px;

.o-lesson-card {
  @include flex();
  @include add-gutter();

  @include m(base) {
    @include flex-grid-column(12);

    @include breakpoint(large) {
      @include flex-grid-column(2.4);
    }

    @include breakpoint(medium only) {
      @include flex-grid-column(4);
    }
  }

  @include e(wrap) {
    width: 100%;
  }

  @include e(header) {
    padding: $ub-base-padding / 2 $ub-base-padding;
  }

  @include e(duration) {
    @extend .u-text--small;
    @include flex;
    align-self: flex-end;
    font-weight: normal;
    text-transform: uppercase;
  }

  @include e(content) {
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: $lesson-card-height;
    padding: $ub-base-padding;

    @include m(base) {
      color: $ub-txt;
    }

    @include m(hover) {
      border-top: $ub-whitesmoke solid 1px;
      color: $ub-white;
      display: none;
    }
  }

  @include e(dsc) {
    @include m(short) {
      @include clamp($lesson-dsc-short-lines);
    }

    @include m(full) {
      @include clamp($lesson-dsc-full-lines);
      font-size: $lesson-dsc-full-font-size;
    }
  }

  &:hover, &:focus {
    .o-lesson-card__content--base { display: none; }
    .o-lesson-card__content--hover { display: inherit;}
  }

}
