$lesson-dsc-short-lines: 4;
$lesson-dsc-full-lines: 7;
$lesson-card-heights: (
  small: 110px,
  medium: 185px
);

.o-lesson-card {
  @include flex;
  @include add-gutter;

  @include m(base) {
    @include flex-grid-column(12);

    @include breakpoint(large) {
      @include flex-grid-column(2.4);
    }

    @include breakpoint(ipad only) {
      @include flex-grid-column(4);
    }

    @include breakpoint(medium only) {
      @include flex-grid-column(6);
    }

  }

  @include e(wrap) {
    @extend %material-card;
    @include flex;
    flex-direction: column;
    width: 100%;
  }

  @include e(header) {
    padding: $ub-base-padding / 2 $ub-base-padding;
  }

  @include e(duration) {
    @include txt-element(lesson-duration);
    @include flex;
    align-self: flex-end;
    text-transform: uppercase;
  }

  @include e(content) {
    @include flex;
    @include add-column-padding(.5);
    @include add-top-bottom-padding(.5);
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-between;

    @each $breakpoint, $value in $lesson-card-heights {
      @include breakpoint($breakpoint) {
        min-height: $value;
      }
    }

    @include m(base) {
      //color: $ub-txt;
    }

    @include m(hover) {
      border-top: $ub-whitesmoke solid 1px;
      color: $ub-white;
      display: none;
    }
  }

  @include e(dsc) {
    @include m(short) {
      @include txt-element(lesson-title);
      @include clamp($lesson-dsc-short-lines, lesson-title);

      @include breakpoint(small only) {
        @include clamp($lesson-dsc-short-lines - 2, lesson-title);
      }
    }

    @include m(full) {
      @include txt-element(lesson-hover);
      @include clamp($lesson-dsc-full-lines, lesson-hover);

      @include breakpoint(small only) {
        @include clamp($lesson-dsc-full-lines - 2, lesson-hover);
      }
    }
  }

  &:hover, &:focus {
    .o-lesson-card__content--base { display: none; }
    .o-lesson-card__content--hover { display: inherit;}
  }

}
