.o-media {
  @include flex-grid-row;
  @include add-gutter;
  border-radius: $panel-radius;

  @include e(img) {
    @include flex-grid-column(5, 0);
    overflow: hidden;

    img { width: 100%;}

    @include m(placeholder) {
      background-image: image-url('professional_development');
      background-size: cover;
    }
  }

  @include e(body) {
    @include flex-grid-column(7, $grid-column-2xgutter);
    @include add-top-bottom-padding;

    h2 { @include txt-element(media-header); }
    &, p { @include txt-element(media-text); }

    // @include m(no-left) {
    //   padding-left: 0;
    // }
    //
    // @include m(no-right) {
    //   padding-right: 0;
    // }

  }
}
