.o-pagination {
  @include flex-align($x: center, $y: middle);
  list-style: none;
  text-transform: uppercase;

  @include e(item) {
    &, a { color: $ub-txt; }
    a:hover, a:focus {
      i { font-weight: bold; }
    }

    @include m(next) {
      @include flex-grid-column(shrink);
      line-height: 1;
    }

    @include m(middle) {
      @include flex-grid-column(shrink, 0);
      line-height: 2;
      text-align: center;
    }

    @include m(prev) {
      @include flex-grid-column(shrink);
      font-weight: bold;
      line-height: 1;
    }

    @include m(disabled) {
      &, a {
        color: $medium-gray;
        cursor: not-allowed;
      }
    }
  }

  @include e(break) {
    display: block;
    height: 2rem;
    width: 2rem;
  }

  @include e(pages) {
    display: inline-flex;
    font-family: $ub-serif;
    list-style: none;
    margin-left: 0;
    li {
      line-height: 2rem;
      padding: 0 .25rem;
    }
    li a {
      border-radius: 50%;
      display: block;
      height: 2rem;
      width: 2rem;
      &:hover, &:focus {
        background-color: scale-color($ub-panel-bg, $lightness: 25%);
        transition: all .4s ease;
        font-weight: bold;
      }
    }
  }

  @include e(page) {
    @include m(active) {
      a {
        background-color: $ub-panel-bg;
        font-weight: bold;
      }
    }
  }
}
