.o-dsc {
  @include m(wrapped) {
    @include flex-grid-row();
    @include flex-grid-column();
    @include flex-align($x: center);
  }

  @include e(title) {
    @extend .u-text--small;
    @extend .u-margin-bottom--small;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  @include e(dsc) {
    @extend .u-text--large;
    @extend .u-margin-bottom--large;
    text-align: center;
  }

  @include e(txt) {
    @extend .u-text--small;
    @extend .u-margin-bottom--large;
  }

  @include e(cards) {
    @include flex-grid-row($gutter: $grid-column-gutter);
    @include flex-align($x: spaced);
    @extend .u-margin-bottom--large;
  }

  @include e(button) {
    text-align: center;
  }

}
