.o-related-instruction {
  @include e(title) {
    @include txt-element(related-header);
    margin-bottom: $ub-small-margin;
    text-align: center;
  }

  @include e(teaser) {
    @include grid-column-position(center);
    margin-bottom: $ub-base-margin;
    text-align: center;
    width: 80%;
  }

  @include e(actions) {
    @include menu-base;
    @include menu-simple;
    @include menu-direction(horizontal);
    justify-content: center;
  }

  @include e(empty) {
    text-align: center;
  }

  @include e(list) {
    @include m(expanded) { width: 100%; }
  }

}
