.o-related-instruction {
  background-color: $ub-dark-bg;
  padding: $ub-base-padding;

  @include e(title) {
    text-align: center;
  }

  @include e(teaser) {
    margin-bottom: $ub-base-margin;
  }


  @include e(actions) {
    margin: 0 auto;
    text-align: center;
  }

  @include e(action) {
    @include button;

    width: 200px;
    background-color: $ub-whitesmoke;
    display: inline-block;
    margin: 0 $ub-base-margin;

    &:hover { color: $ub-whitesmoke; }
  }

}
