$li-downloads-indent: 33.44px;

.o-resource {
  @include e(item) {
    @include add-gutter;

    @include m(description) {
      @include html-description;
    }

    @include m(credits) {
      @include txt-element(engageny);
      h3 { font-size: 21px; }
      ul {
        @include txt-element(engageny);
        margin-bottom: $ub-xs-padding;
        margin-left: 0;
        li { margin-right: 8px; }
      }
    }

    h3, h4 {
      color: $ub-cg-blockquote;
      font-family: $ub-sanserif-condensed;
      font-style: initial;
      font-weight: 500;
    }

    h3 {
      line-height: 34px;
    }

    h4 {
      line-height: 28px;
    }
  }

  @include e(preview) {
    @extend %popup-shadow;
    background-color: $ub-tooltip;
    border: 0;
    padding: 1rem;
    width: 305px;
  }

  @include e(pdf-preview) {
    @include m(full) {
      &, iframe {
        height: 960px;
        max-width: 840px;
        width: 100%;
      }
    }
  }

  @include e(taglist) {
    @include menu-simple;
    @include menu-direction($dir: horizontal);
    flex-wrap: wrap;
    margin-left: 0;

    li {
      display: inline-flex;
      margin: 0;
      padding: 0;

      strong {
        color: #555;
      }
    }
  }

  @include e(list) {
    @include menu-base;
    @include menu-direction($dir: vertical);

    padding-bottom: 10px;

    @include m(icons) {
      @include menu-icons($position: left);
    }

    @each $code, $color in $ub-colorcodes {
      @include m(#{$code}) {
        li, a { color: $color; }
        a:hover, a:focus { color: scale-color($color, $lightness: -20%); }
      }
    }

    li {
      padding-bottom: .35rem;
      padding-top: .35rem;
    }

    li i {
      margin-right: 5px;
      &.fa-eye { padding-right: 2.25px; }
      &:not(.file-pdf):not(.fa-eye).u-li-indent {
        padding-left: $li-downloads-indent;
      }
    }
  }

  @include e(cc) {
    margin-bottom: .525rem;
  }
}

.o-resource-title {
  @include flex-grid-row(nest);

  @include e(title) {
    @include flex-grid-column;

    @include breakpoint(ipad down) {
      @include flex-grid-column(12);
    }
  }

  @include e(links) {
    @include flex-grid-column(shrink);

    @include breakpoint(ipad down) {
      @include flex;
      @include flex-grid-column(12);
      flex-flow: row wrap;
      margin-top: $ub-xs-padding;
      > div { margin-right: $ub-xs-padding;}
    }
  }
}

.o-resource-summary {
  @include flex-grid-row(nest);

  @include m(2x) {
    @include flex-grid-row(nest, $gutter: $grid-column-2xgutter);
  }

  @include e(map) {
    @include flex-grid-column(shrink);
    width: map-get($curriculum-map-width, base) + 30px;

    @include m(2x) {
      @include flex-grid-column(shrink, $gutter: $grid-column-2xgutter);

      @include breakpoint(small only) {
        @include flex-grid-column(12, $gutter: $grid-column-2xgutter);
      }
    }

    @include breakpoint(small only) {
      @include flex-grid-column(12);
      text-align: center;
    }
  }

  @include e(title) {
    @include txt-element(resource-map-header);
  }

  @include e(content) {
    @include flex-grid-column;

    @include breakpoint(large) {
      margin-right: 8%;

      @include m(media) {
        margin-right: -10%;
      }
    }

    @include breakpoint(small only) {
      @include flex-grid-column(12);
    }

    @include m(2x) {
      @include flex-grid-column($gutter: $grid-column-2xgutter);

      @include breakpoint(small only) {
        @include flex-grid-column(12, $gutter: $grid-column-2xgutter);
      }
    }
  }
}

.o-resource-hr {
  @include add-gutter($subtype: bottom, $x: 4 / 3);
  @include add-gutter($subtype: top, $x: 4 / 3);
  border-bottom: 1px solid #b2b2b2;
}

.o-resource-downloads {
  flex: 0 0 100%;
  max-width: 100%;

  @include e(btn) {
    @include txt-element(resource-more);
    cursor: pointer;
    padding-left: $li-downloads-indent;

    @include m(less) {
      display: none;
    }
  }

  @include e(list) {
    display: none;
  }
}

.u-resource-tooltip {
  @include txt-element(engageny);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .08);
  max-width: 15rem !important;
}
