.o-resource-title {
  @include flex-grid-row(nest);

  @include e(title) {
    @include flex-grid-column();
  }
  @include e(links) {
    @include flex-grid-column(shrink);
  }
}

.o-resource-summary {
  @include flex-grid-row(nest);

  @include e(map) {
    @include flex-grid-column(shrink);
    width: map-get($curriculum-map-width, base) + 20px;
  }

  @include e(title) {
    @include txt-element(resource-map-header);
  }

  @include e(content) {
    @include flex-grid-column();

    @include breakpoint(medium) {
      margin-right: 8%;
    }
  }
}

.o-resource {
  @include e(item) {
    @extend .u-margin-bottom--base;

    @include m(description) {
      @include html-description;
    }
  }

  @include e(taglist) {
    @include menu-simple;
    @include menu-direction($dir: horizontal);
    flex-wrap: wrap;
    margin-left: 0;
    li { margin: 0; padding: 0; }
  }

  @include e(list) {
    @include menu-base;
    @include menu-direction($dir: vertical);
    li { padding-bottom: .35rem; padding-top: .35rem; }
    li i { margin-right: 5px; }

    @include m(icons) {
      @include menu-icons($position: left);
    }

    @each $code, $color in $ub-colorcodes {
      @include m(#{$code}) {
        li, a { color: $color; }
        a:hover, a:focus { color: scale-color($color, $lightness: -20%); }
      }
    }
  }

  @include e(cc) {

  }

}
