.o-search-results {

  @include e(list) {
    list-style: none;
    margin-left: 0;
  }

  @include e(item) {
    @include add-gutter(padding, top, .75);
    @include add-gutter(padding, bottom);
    border-top: dotted 1px $ub-hr;
    &:last-child {
      border-bottom: dotted 1px $ub-hr;
      @include add-gutter(margin, bottom);
    }

    a { color: inherit; }
  }

  @include e(header) {
    @include txt-element(search-result-header);
    text-transform: capitalize;
  }

  @include e(subheader) {
    @include txt-element(search-result-subheader);
    text-transform: capitalize;

    .s-bullet {
      padding-left: $ub-xs-padding / 2;
      padding-right: $ub-xs-padding / 2;
      &:after { content: '\2022'; }
    }
  }


  @include e(title) {
    @include txt-element(search-result-title);
  }

  @include e(teaser) {
    @include txt-element(search-result-teaser);

    @include breakpoint(medium) {
      width: 75%;
    }
  }

  @include e(empty) {
    padding: $ub-xlarge-padding;

    p  { margin: $ub-xlarge-margin 0; }
    a  { text-decoration: underline; }
    ul { margin-left: $ub-xlarge-margin; }
  }
}
