.o-search-dropdown {
  background-color: #fffbf0;
  position: relative;
  // margin-top: -0.5rem;
  // margin-left: -1em;
  width: 100%;
}

.o-search-dropdown-result {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
}

.o-search-dropdown-result:hover,
.o-search-dropdown-result__selected {
  background-color: #fb8d32;
  color: #fff;
}
