.o-search-results {

  @include e(list) {
    list-style: none;

  }

  @include e(item) {
    border-top: solid 1px $ub-secondary;
    padding: $ub-base-padding 0;

    @include m(type) {
      @extend .u-text--small;
      color: $ub-primary;
      text-transform: uppercase;
    }

    @include m(title) {
      @extend .u-text--large;
      @extend .u-margin-bottom--small;
      font-weight: bold;
    }
  }

}
