.o-s-header {
  @include flex-align($x: justify, $y: middle);
  @include add-gutter(margin, top, 1.5);
  @include add-gutter(margin, bottom, 1);

  p { margin-bottom: 0; }

  @include e(item) {
    @include flex-grid-column;
    &, p { @include txt-element(search-header); }
  }
}

.o-s-select {
  @include flex-grid-row;
  @include flex-align($x: right, $y: middle);
  outline: 0;

  @include e(item) {
    @include flex-grid-column(shrink, 0);

    select {
      background-origin: border-box;
      border: 0;
      height: auto;
      outline: 0;
      padding: 0 .75rem;

      &:focus { border: 0; outline: 0;}
    }
  }

}
