.o-sidebar {
  @include e(wrap) {
    //fix for Opera - TODO issue number
    @include breakpoint(xlarge) {
      max-width: 269px;
    }
    @include breakpoint(large only) {
      max-width: 217.5px;
    }
    @include breakpoint(ipad only) {
      max-width: 153.75px;
    }
    @include breakpoint(medium only) {
      max-width: 140px;
    }

    @include breakpoint(medium down) {
      margin-top: 0 !important;
      min-width: 100%;
    }
  }

  @include m(tiny) {
    height: 1px !important;
  }
}

.o-sidebar__wrap.is-stuck {
  .o-sidebar-xs--show {
    @include add-top-bottom-padding;
    visibility: visible;
    > div { display: block;}
  }
}

.o-sidebar-xs {
  @extend %base-shadow;
  @include flex-grid-row;
  @include flex-align($x: justify, $y: middle);
  color: $ub-white;
  flex: 0 0 100%;
  min-height: 1px;
  min-width: 100%;
  visibility: hidden;

  @include e(header) {
    @include flex-grid-column;
    display: none;
  }

  @include e(action) {
    @include flex-grid-column(shrink);
    display: none;
    i { color: $ub-white; }
  }

  @include m(modal) {
    @include add-top-bottom-padding;
    visibility: visible;
    > div { display: block;}
  }
}

.o-sidebar-nav {
  @include menu-base;
  @include menu-direction(vertical);

  @include breakpoint(medium down) {
    display: none;
  }

  @include m(show) {
    display: flex;
  }

  @include e(header) {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: .4rem 0 .4rem 1rem;
  }

  @include e(sep) {
    border-radius: .1875rem;
    display: inline-block;
    height: .375rem;
    margin: 0 1rem 1.5625rem;
    width: 3.5rem;
  }

  @include e(item) {
    @include e(content) {
      margin-left: 1rem;
    }

    @include e(icon) {
      float: left;
    }

    @include m(level1) {
      @include txt-element(cg-sidebar-l1);
    }

    @include m(level2) {
      @include txt-element(cg-sidebar-l2);
      text-transform: uppercase;
    }

    @include m(level3) {
      @include txt-element(cg-sidebar-l3);
    }

    a {
      color: #959595;
      line-height: 1.2 !important;
      padding: 0 1rem .5rem !important;
    }

    & > .o-sidebar-nav {
      margin-left: 1rem;
      overflow: hidden;
    }
  }
}

//TODO - refactor sidebar classes
#cg-sidebar .o-sidebar-nav {
  & > .o-sidebar-nav {
    max-height: 0;
  }

  &.expanded {
    & > .o-sidebar-nav {
      max-height: 1000px;
      transition: max-height 1s;
    }

    & > a > .o-sidebar-nav__item__icon {
      transform: rotate(90deg);
    }
  }
}
