.o-sidebar {
  @include e(wrap) {
    //fix for Opera - TODO issue number
    @include breakpoint(xlarge) {
      max-width: 269px;
    }
    @include breakpoint(large only) {
      max-width: 217.5px;
    }
    @include breakpoint(ipad only) {
      max-width: 153.75px;
    }
    @include breakpoint(medium only) {
      max-width: 140px;
    }
  }
}

.o-sidebar-nav {
  @include menu-base;
  @include menu-direction(vertical);

  @include e(header) {
    color: #f96924;
    //display: inline-block !important;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 0 1rem 1rem;
    padding: 0.4rem 0;
  }

  @include e(sep) {
    background: #f96924;
    border-radius: .1875rem;
    display: inline-block;
    height: .375rem;
    margin: 0 1rem 1.5625rem;
    width: 3.5rem;
  }

  @include e(item) {
    @include e(content) {
      margin-left: 1rem;
    }

    @include e(icon) {
      float: left;
    }

    &.expanded {
      & > .o-sidebar-nav {
        max-height: 100500px;
      }

      & > a > .o-sidebar-nav__item__icon {
        transform: rotate(90deg);
      }
    }

    a {
      color: #959595;
      line-height: 1.2 !important;
      padding: 0 1rem .5rem !important;

      &.active, &:hover, &:focus {
        color: #f96924;
      }
    }

    & > .o-sidebar-nav {
      max-height: 0;
      margin-left: 1rem;
      overflow: hidden;
      transition: max-height 1s;
    }
  }
}

.o-sidebar-nav__item--level2 {
  text-transform: uppercase;
}
