.o-sidebar-nav {
  @include menu-base;
  @include menu-direction(vertical);

  @include e(header) {
    color: #f96924;
    display: inline-block !important;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 0 1rem 1rem;
    padding: 0.4rem 0;
  }

  @include e(sep) {
    background: #f96924;
    border-radius: .1875rem;
    display: inline-block;
    height: .375rem;
    margin: 0 1rem 1.5625rem;
    width: 3.5rem;
  }

  @include e(item) {
    a {
      color: #959595;
      line-height: 1.2 !important;
      padding: 0 1rem .5rem !important;

      &.active, &:hover, &:focus {
        color: #f96924;
      }
    }

    @include m(level1) {
      margin-left: 1rem;
    }

    @include m(level2) {
      margin-left: 2rem;
    }
  }
}
