.o-tab {
  @include e(navigation) {
    border-bottom: 1px solid $ub-txt;
    display: flex;
  }

  @include e(panel) {
  }
}

.o-tab-menu {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;

  @include e(item) {
    float: left;
    padding-bottom: $ub-xs-padding;
    & + & { margin-left: $ub-base-padding; }
    > a:hover { color: $ub-heading-txt; }
    > a {
      @include txt-element(tab-title);
      color: map-get($ub-txt-colors, light);
      padding: 0;
    }

    @include m(active) {
      border-bottom: 4px solid $ub-heading-txt;
      > a { color: $ub-heading-txt; }
    }

    &.is-active {
      border-bottom: 4px solid $ub-heading-txt;
      > a { color: $ub-heading-txt; }
    }
  }
}
