.o-title {
  @extend .u-text--small;
  font-weight: bold;
  margin-bottom: $ub-small-margin;
  text-transform: uppercase;

  @include e(title) {
    float: left;
  }

  @include e(duration) {
    float: right;
  }

}
