.o-title {
  @include e(type) {
    @include txt-element(title-type);

    @include m(short) {
      @include txt-element(title-type-short);
    }

    @include m(top-align) {
      display: inline-flex;
      line-height: 1;
      vertical-align: top;
    }
  }

  @include e(duration) {
    @include txt-element(title-duration);
    float: right;
  }

  @each $code, $color in $ub-colorcodes {
    @include m(#{$code}) {
      background-color: $color;
    }
  }
}

.o-content-title {
  @include txt-element(breadcrumbs);
  padding-bottom: $ub-small-padding;
  padding-top: $ub-small-padding;
  &, a {color: $ub-white;}
}
