.o-unit-bundles {
  @include e(item) {
    margin-bottom: 1em;

    @include m(links) {
      margin-left: 2em;
    }

    .o-ub-btn {
      color: map-get($ub-colorcodes, lead-base);
      padding-bottom: .5em;
      padding-top: .5em;

      &:hover, &:focus { color: $ub-white; }
    }

    h4 {
      color: darken($ub-primary, 20%);
      font-style: normal;
      font-weight: 600;
      margin-bottom: .2em;
    }
  }
}
