.o-unit-bundles {
  padding-top: 20px;

  @include e(item) {
    @include m(links) {
    }

    @include m(placeholder) {
      margin-right: 30px;
    }
  }

  h4 {
    color: $ub-txt;
    font-style: normal;
    font-weight: 600;
    margin-bottom: .2em;
  }
}
