.o-unit-bundles {
  @include e(item) {
    @include m(links) {
    }

    @include m(placeholder) {
      margin-right: 30px;
    }
  }

  @include e(text) {
    color: $ub-txt;
    margin-top: 1em;

    ul {
      list-style: disc;

      li { color: $ub-txt; }
    }
  }

  h4 {
    color: $ub-txt;
    font-style: normal;
    font-weight: 600;
    margin-bottom: .2em;
  }
}
