<div class="o-page o-page--centered">
  <div class="o-page__content">
    <h2>Enhance Instruction with comprehensive content guides and educator videos.</h2>
    <div class="u-text--large">Filter by subject or grade, or search to reveal assets.</div>
    <%= react_component('EnhanceInstructionPage', @props, prerender: true) %>
  </div>
</div>
