@font-face {
  font-family: 'PFCentroSansProLight';
  src: font-url('centro/PFCentroSansPro-Light.eot'); /* IE9 Compat Modes */
  src: font-url('centro/PFCentroSansPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('centro/PFCentroSansPro-Light.woff') format('woff'), /* Modern Browsers */
       font-url('centro/PFCentroSansPro-Light.svg#PFCentroSansPro-Light') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PFCentroSansProLight';
  src: font-url('centro/PFCentroSansPro-LightItalic.eot'); /* IE9 Compat Modes */
  src: font-url('centro/PFCentroSansPro-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('centro/PFCentroSansPro-LightItalic.woff') format('woff'), /* Modern Browsers */
       font-url('centro/PFCentroSansPro-LightItalic.svg#PFCentroSansPro-LightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'PFCentroSansPro';
  src: font-url('centro/PFCentroSansPro-Bold.eot'); /* IE9 Compat Modes */
  src: font-url('centro/PFCentroSansPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('centro/PFCentroSansPro-Bold.woff') format('woff'), /* Modern Browsers */
       font-url('centro/PFCentroSansPro-Bold.svg#PFCentroSansPro-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'PFCentroSansCond';
  src: font-url('centro/PFCentroSansCond-Bold.eot'); /* IE9 Compat Modes */
  src: font-url('centro/PFCentroSansCond-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('centro/PFCentroSansCond-Bold.woff') format('woff'), /* Modern Browsers */
       font-url('centro/PFCentroSansCond-Bold.svg#PFCentroSansCond-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'PFCentroSansCondLight';
  src: font-url('centro/PFCentroSansCond-Light.eot'); /* IE9 Compat Modes */
  src: font-url('centro/PFCentroSansCond-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('centro/PFCentroSansCond-Light.woff') format('woff'), /* Modern Browsers */
       font-url('centro/PFCentroSansCond-Light.svg#PFCentroSansCond-Light') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Caponi Slab Web';
  src: font-url('caponi/CaponiSlab-Regular-Web.eot');
  src: font-url('caponi/CaponiSlab-Regular-Web.eot?#iefix') format('embedded-opentype'),
     font-url('caponi/CaponiSlab-Regular-Web.woff') format('woff'),
     font-url('caponi/CaponiSlab-Regular-Web.ttf') format('truetype'),
     font-url('caponi/CaponiSlab-Regular-Web.svg#CaponiSlab-Regular') format('svg');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Caponi Slab Web';
  src: font-url('caponi/CaponiSlab-RegularItalic-Web.eot');
  src: font-url('caponi/CaponiSlab-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
     font-url('caponi/CaponiSlab-RegularItalic-Web.woff') format('woff'),
     font-url('caponi/CaponiSlab-RegularItalic-Web.ttf') format('truetype'),
     font-url('caponi/CaponiSlab-RegularItalic-Web.svg#CaponiSlab-RegularItalic') format('svg');
  font-weight:  300;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Caponi Slab Web';
  src: font-url('caponi/CaponiSlab-Medium-Web.eot');
  src: font-url('caponi/CaponiSlab-Medium-Web.eot?#iefix') format('embedded-opentype'),
     font-url('caponi/CaponiSlab-Medium-Web.woff') format('woff'),
     font-url('caponi/CaponiSlab-Medium-Web.ttf') format('truetype'),
     font-url('caponi/CaponiSlab-Medium-Web.svg#CaponiSlab-Medium') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Caponi Slab Web';
  src: font-url('caponi/CaponiSlab-Semibold-Web.eot');
  src: font-url('caponi/CaponiSlab-Semibold-Web.eot?#iefix') format('embedded-opentype'),
     font-url('caponi/CaponiSlab-Semibold-Web.woff') format('woff'),
     font-url('caponi/CaponiSlab-Semibold-Web.ttf') format('truetype'),
     font-url('caponi/CaponiSlab-Semibold-Web.svg#CaponiSlab-Semibold') format('svg');
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}

p {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}