@import 'main';
@import 'selectize';
@import 'jstree';
@import 'vendors/jquery.tagsinput';
@import 'admin/resources';
@import 'admin/curriculums';
@import 'admin/standards';
@import 'admin/components';
@import 'admin/lessons';


.button {
  white-space: nowrap;
}

.c-admin {
  .menu {
    &.vertical:not(.is-dropdown-submenu) {
      display: none !important;
    }

    .active > a { background: inherit; }
  }
  .menu > li > a {
    line-height: inherit;
    white-space: nowrap;
  }

  @include breakpoint($topbar-unstack-breakpoint) {
    .c-header-title__h-menu {
      display: none;
    }
  }
}

.c-admin .o-page {
  display: block;
}

.simple_form {
  small.error {
    color: #ec5840;
    display: block;
    font-weight: bold;
    margin: -.5rem 0 1rem;
  }

  .input.error {
    input {
      border-color: #ec5840;
    }

    label {
      color: #ec5840;
      font-weight: bold;
    }
  }

  .input .selectize-control {
    margin-bottom: 1rem;
  }
}

.text-nowrap {
  white-space: nowrap;
}

.is-dropdown-submenu {
  min-width: 250px;
  z-index: 2;
}

.simple_form {
  small.error {
    color: #ec5840;
    display: block;
    font-weight: bold;
    margin: -.5rem 0 1rem;
  }

  .input.error {
    input {
      border-color: #ec5840;
    }

    label {
      color: #ec5840;
      font-weight: bold;
    }
  }

  .input .selectize-control {
    margin-bottom: 1rem;
  }
}

.flex-pull-right { margin-left: auto; }
.inline-form-btn { display: inline; }
