/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// Colors
$c-gray: #464646;
$c-blue: #1B7CBE;
$c-blue1: #6EADCA;
$c-blue2: #80D0CF;
$c-blue3: #C1DDEC;
$c-blue4: #7FBFBE;
/* text colors */
$t-gray: #515151;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Arvo:700);

// Bootstrap variables
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: "Arvo", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: $t-gray;
$btn-default-color: white;
$btn-default-bg: $c-blue;
$body-bg: #f5f5f5;

$navbar-default-bg: $c-gray; //$-webkit-linear-gradient(top, #515151, #333);
$navbar-default-link-color: white;
$navbar-default-color: white;
$navbar-default-link-hover-bg: $c-gray;
$navbar-default-link-active-bg: $c-gray;
$navbar-default-link-hover-color: white;
$navbar-default-border: none;
$navbar-border-radius: 0px;

$brand-primary: $c-blue;

@import "font-awesome";
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "selectize.bootstrap3";
@import "unbounded/admin/collections";
@import "unbounded/browse";

body {
    padding-top: $navbar-height + 20px;
 	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYTDgoEFUwIEgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACtSURBVBjTTZBBksQwDAIbyc7/fzn7hsSGPSSTmqMk6ALp7/NJd5MEgL0WqsI2SZhzkoQBsPfGNmMMxnOQBIAkJFG2URVVBcB1XQTeGSAJ1WNQEklYazHnpCT23gCc5wlA+Vl8CbZZa2EbgOM4bmJVsfd+Cb+m2K+xkpCniO70r7C6kXTHsc2Y825YBclL10/WkoSfIt+XAPQY2Kaq2GtRj5ruBgnbdDd63mKbAP8CCXbJmWEyvwAAAABJRU5ErkJggg==);

}

h1, h2, h3, h4, .navbar-brand, .media-body p > a, .sidebar strong, .title {
	font-family: $font-family-heading;
}

.navbar-default {
	@include gradient-vertical(#515151, #333, 0%, 100%);
}

.btn-default {
	@include gradient-vertical(#4c98cc, $c-blue, 0%, 100%);
}

.row {
	padding-bottom: $padding-base-vertical;
}

.nc-content {
	padding: $padding-large-vertical $padding-base-horizontal;
	background:  rgba(255, 255, 255, 0.9);
	border-radius: 4px 4px;
}

.nc-panel {
	padding: $padding-large-vertical $padding-base-horizontal;
	h3, h1, h2, h4, h5 {margin-top: $padding-xs-vertical;}
  background:  rgba(255, 255, 255, 0.9);
  border-radius: 4px 4px;
}

.nc-label {
	border: $c-gray 1px solid;
	color: $text-color;
	border-radius: 15px;
	font-size: 100%;
    display: inline-block;
    margin: 4px;
}

footer {
	margin-top: $padding-large-vertical*2;
	padding: $padding-large-vertical*2 0;
	background-color: $c-gray;
}

.margin-auto {
    margin: 0 auto;
    float: none;
}

.faded-notice {
  color: #777;
}

.vertical-breath {
  margin: 15px 0;
}

.list-description {
  max-height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
}
