// Color scheme
$ub-purple: #2f1a45;
$ub-purple-1: #94849e;
$ub-light-purple: #d4ced8;
$ub-gray: #a6aaa9;
$ub-gray-1: #9e90a7;
$ub-light-gray: #edebf0;
$ub-yellow: #f5d329;
$ub-dark-bgray: #34495E;
$ub-bg-filter-light-purple: rgba(26,25,48,0.5);
$ub-bg-filter-purple: rgba(26,25,48,0.8);
$ub-bg-header: rgba(255,255,255,0.9);
$ub-orange: #f3611c;
$ub-green: #11b894;
$ub-green-sbc: #97c40f;
$ub-light-green-sbc: #e5ebce;
$ub-unit-bg: #e6e6e7;
$ub-txt-gray: #58595b;
$ub-txt-light-gray: #949699;
$ub-bg: #f2f3ee;

// Fonts
@import "_fonts";
@import "_icon_fonts";

// Font sizes
$font-size-icon: 21px;
$font-size-form: 18px;
$font-size-caret: 32px;
$font-size-footer: 12px;
$font-size-header: 19px;
// Home page
$font-size-hp-title: 18px;
$font-size-hp-content: 28px;
$font-size-hp-readmore: 20px;
// Curriculum
$font-size-form-label: 24px;
$font-size-form-control: 14px;
$font-size-grade: 32px;
$font-size-base-curriculum: 18px;
$font-size-module: 21px;
$font-size-unit: 16px;
$font-size-toggle: 14px;
// Resource
$font-size-lesson-nav: 12px;
// Subscribe
$font-size-sbc-tagline: 24px;
$font-size-sbc-input: 21px;
$font-size-sbc-btn: 14px;

$font-family-centropro: "PFCentroSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-centropro-light: "PFCentroSansProLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-centrocond: "PFCentroSansCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-centrocond-light: "PFCentroSansCondLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-caponi: "Caponi Slab Web", Georgia, "Times New Roman", Times, serif;

// Bootstrap variables
$font-family-sans-serif: $font-family-centropro-light;
$font-family-serif: $font-family-caponi;
$headings-font-family: $font-family-centrocond-light;
$font-size-base: 18px;

$text-color: $ub-txt-gray;
$body-bg: $ub-bg;

$navbar-height: 95px;
$navbar-default-bg: transparent;
$navbar-default-link-color: $ub-purple;
$navbar-default-color: $ub-purple;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-hover-color: $ub-txt-light-gray;
$navbar-default-border: none;
$navbar-border-radius: 0px;

$breadcrumb-bg: transparent;

$brand-primary: $ub-purple;
$border-radius-base: 0px;
$btn-border-radius-base: 0px;
$btn-border-radius-large: 0px;
$btn-border-radius-small: 0px;

$popover-bg: $ub-unit-bg;
$popover-max-width: 450px;
$popover-min-width: 300px;

// Paddings, element sizes
$ub-module-padding: 30px;
$ub-header-padding: 320px;
$ub-element-padding: 15px;
$ub-logo-padding: 40px;
$logo-height: 30px;
$logo-footer-width: 150px;
$logo-title-height: 36px;

// Curriculum page
$unit-title-height: 65px;
// Lesson page
$lesson-img-height: 195px;
// Home page
$header-img-height: 565px;

@import "font-awesome-sprockets";
@import "font-awesome";
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "selectize.bootstrap3";
@import "unbounded_controls";
@import "unbounded/about";
@import "unbounded/search";

h1, h2 {
  font-family: $font-family-centrocond;
}

h3, h4, h5, .navbar-brand, hero-title, .hero-subtitle {
	font-family: $headings-font-family;
}

@mixin inline-styles-overwrite($txt-color: $ub-txt-gray, $bg-color: white, $font-size: $font-size-base, $font-family: $font-family-sans-serif, $font-style: normal) {
  color: $txt-color!important; font-family: $font-family!important;
  font-size: $font-size!important;
  font-style: $font-style!important;
  background-color: $bg-color!important;
}

@mixin set-typography($font-size: $font-size-base, $font-color: $text-color, $font-family: $font-family-sans-serif) {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-color;
}

@mixin inline-link-styles-overwrite ($font-size: $font-size-base, $color: $ub-txt-light-gray) {
  color: $color!important; text-decoration: none!important;
  font-family: $font-family-sans-serif!important; font-size: $font-size!important;
  &:hover, &:focus {color: darken($color, 15%)!important; text-decoration: underline!important;}
}

hr.tiny {margin-bottom: $padding-base-vertical * 2; margin-top: $padding-base-vertical;}

a {
  color: $ub-txt-light-gray;
  &:hover, &:focus {
    color: darken($ub-txt-light-gray, 15%);
    text-decoration: underline;
  }
}

.module-block {
  background-color: white;
  @include box-shadow(3px 3px 0px darken($ub-unit-bg, 10%));
}

.ela-border {border-top: 4px $ub-orange solid; }
.math-border {border-top: 4px $ub-green solid; }

.lesson.lesson-empty {
  .ub-cc-lesson {background-color: white!important;}
  a {pointer-events: none;}
}

.lesson, .unit-nav, .module-nav {
  a {
    svg {width: 100%; height: 100%;}
  }
}

.math {
  .lesson, .unit-nav, .module-nav {
    a {
      .ub-square-unit, .ub-square-module  {fill: $ub-green;}
      .ub-cc-lesson {background-color: $ub-green;}
      &:hover, &:focus, .active {
        .ub-square-unit, .ub-square-module {fill: darken($ub-green, 20%);}
        .ub-cc-lesson {background-color: darken($ub-green, 20%);}
      }
    }
  }
  .lesson.lesson-active {
    .ub-cc-lesson { background-color: darken($ub-green, 20%);}
  }
  .module .module-title a.active, .unit .unit-title a.active {&, .r-title, .r-subtitle {color: $ub-green!important;}}
  .module .module-title, .unit .unit-title, .lesson-nav, .grade-title {
    a:hover, a:focus {
      &, .r-title, .r-subtitle {color: $ub-green!important;}
      text-decoration: none;
    }
  }
}

.curriculum-map-math.math {
  .lesson.lesson-active {
    .ub-cc-lesson {background-color: $ub-green;}
    a:hover .ub-cc-lesson {background-color: darken($ub-green, 20%);}
  }
}

.ela {
  .lesson, .unit-nav, .module-nav {
    a {
      .ub-square-unit, .ub-square-module  {fill: $ub-orange;}
      .ub-cc-lesson {background-color: $ub-orange;}
      &:hover, .active, &:focus {
        .ub-square-unit, .ub-square-module {fill: darken($ub-orange, 20%)!important;}
        .ub-cc-lesson {background-color: darken($ub-orange, 20%);}
      }
    }
  }
  .lesson.lesson-active {
    .ub-cc-lesson {background-color: darken($ub-orange, 20%);}
  }
  .module .module-title a.active, .unit .unit-title a.active {&, .r-title, .r-subtitle {color: $ub-orange!important;}}
  .module .module-title, .unit .unit-title, .lesson-nav, .grade-title {
    a:hover, a:focus {
      &, .r-title, .r-subtitle {color: $ub-orange!important;}
      text-decoration: none;
    }
  }
}

.curriculum-map-ela.ela {
  .lesson.lesson-active {
    .ub-cc-lesson {background-color: $ub-orange;}
    a:hover .ub-cc-lesson {background-color: darken($ub-orange, 20%);}
  }
}

a.module-nav-unit.active .ub-square-unit {
  fill: darken($ub-orange, 20%);
}

.popover.popover-lesson {
  min-width: $popover-min-width;
  max-width: $popover-max-width;
  border-radius: 0px;
  .popover-title {
    text-transform: uppercase; font-family: $font-family-caponi;
    color: $ub-txt-gray; background-color: none; border: none;
  }
  .popover-content {
    background-color: white;
    color: $ub-txt-gray;
    margin: $ub-element-padding/2; margin-top: 0px;
    padding-bottom: 0px;
    .lesson-popover-breadcrumb { font-size: small; font-family: $headings-font-family;}
    .lesson-popover-content {padding-bottom: $ub-element-padding;padding-top: $ub-element-padding;}
    .lesson-popover-cta {
      margin-left: -14px;
      margin-right: -14px;
      .btn {font-size: $font-size-form;}
      a {
        color: white; font-weight: bold;
      }
    }
    .lesson-popover-cta-ela {.btn {
      background-color: $ub-orange;
      &:hover, &:focus {background-color: darken( $ub-orange, 10%)!important;}
    }}
    .lesson-popover-cta-math {.btn {background-color: $ub-green;
      &:hover, &:focus {background-color: darken( $ub-green, 10%)!important;}
    }}
  }
}

header {
  margin-top: -2px;
  .navbar {
    .container {background-color: $ub-bg-header;}
    font-family: $headings-font-family;
    .nav li a {
      //text-transform: uppercase;
      @include set-typography($font-size-header, $ub-purple, $font-family-centropro-light);
    }
    .nav > li {height: $navbar-height - 3px;}
    .nav li.active { border-bottom: $ub-purple 4px solid; a {color: $ub-purple;}}
    .navbar-brand {
      background-color: $ub-purple;
      height: $navbar-height - 10px;
      margin-left: 10px!important; margin-bottom: 10px;
      padding-top: $ub-logo-padding;
      img {height: $logo-height;}
      &:hover, &:focus {
        background-color: $ub-purple;
      }
    }
    .navbar-form {
      input[name='query'] {min-width: 200px;}
      margin-bottom: $padding-large-vertical; margin-top: $padding-large-vertical;
      border-color: $ub-bg-header;
    }
    ul.dropdown-menu {
      background-color: $ub-bg-header;
      margin: 0px; border: none; box-shadow: none;
      margin-top: 3px;
    }
    margin-bottom: 0px;
  }
}

@mixin ub-placeholder($color, $font-family) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    font-family: $font-family; font-weight: normal; font-style: italic;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: $color; font-family: $font-family; font-weight: normal; font-style: italic;} // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; font-family: $font-family; font-weight: normal; font-style: italic;} // Safari and Chrome
}

.subscribe-module {
  //background-color: white;
  > div.container {
    margin-top: $ub-module-padding * 2; margin-bottom: $ub-module-padding * 2;
    > div.row > div {
      @include make-md-column(12);
      border-top: $ub-green-sbc 10px solid; border-bottom: $ub-green-sbc 2px solid;
      form {
        div.form-group {
          margin-bottom: 0px;
          > label {
            @include make-md-column(6);
            padding-bottom: $ub-module-padding; padding-top: $ub-module-padding + 8px;
            @include set-typography($font-size-sbc-tagline, $ub-txt-gray, $font-family-caponi);
            font-weight: bold; text-align: center;
          }
          > div:nth-child(2) {
            background-color: $ub-light-green-sbc;
            padding-bottom: $ub-module-padding; padding-top: $ub-module-padding;
            @include make-md-column(5.2); padding-right: 0px;
            input {
              border-radius: 0px; background-color: transparent;
              box-shadow: none; border: none;
              font-size: $font-size-sbc-input;
              @include ub-placeholder($ub-txt-gray, $font-family-caponi);
            }
          }
          > div:last-child {
            background-color: $ub-light-green-sbc;
            padding-bottom: $ub-module-padding; padding-top: $ub-module-padding;
            @include make-md-column(0.8); padding-left: 0px;
            button {
              border: none; color: $ub-txt-gray;
            }
          }
        }
      }
    }
  }
}

.home-page {
  margin-top: -$navbar-height;
  .header-module {
    background-image: image-url('home_background.jpeg');
    background-size: cover;
    height: $header-img-height;
  }
  .header-module {
    padding-top: $ub-module-padding * 6.5;
    padding-bottom: $ub-header-padding;
    .hero-text {
      float: right;
      //padding-right: $ub-module-padding;
      color: white;
      > div { padding: $ub-element-padding $ub-element-padding; display: block;}
      .hero-title {
        background-color: $ub-bg-filter-light-purple;
        h1 {font-family: $font-family-caponi; font-size: 44px;}
      }
      .hero-subtitle {
        color: $ub-yellow;
        background-color: $ub-bg-filter-purple;
        font-family: $font-family-centropro-light;
        font-style: italic;
        font-size: 26px;
      }
    }
  }
  .stripe-module {
    margin-top: $ub-module-padding;
    border-top: 4px $ub-purple solid;
    @extend .module-block;
    overflow: hidden; position: relative;
    .hero-img {
      @include make-md-column(5.5); padding-left: 0px; padding-right: 0px;
      height: 100%;
      position: absolute;
      top: 0;
    }
    .hero-img-curriculum {
      background-image: image-url('curriculum.jpg');
      background-size: cover;
      left: 0;
    }
    .hero-img-about {
      background-image: image-url('about.jpg');
      background-size: cover;
      right: 0;
    }
    .hero-text-curriculum {
      @include make-md-column-offset(5.5);
    }
    .hero-text {
      padding-bottom: $ub-module-padding; padding-top: $ub-module-padding;
      .hero-title, .hero-title a {
        @include set-typography($font-size-hp-title, $ub-purple, $font-family-centropro);
        text-transform: uppercase;
        display: table;
      }
      .hero-title a { padding-bottom:  $ub-element-padding; border-bottom: 4px $ub-yellow solid;}
      @include make-md-column(6.5);
      .hero-dsc {
        padding-top:  $ub-element-padding;
        padding-left: 50px; padding-right: 50px;
        @include set-typography($font-size-hp-content, $ub-txt-gray, $font-family-caponi);
        font-weight: 300;
        .hero-readmore{
          a {
            @include set-typography($font-size-hp-readmore, $ub-yellow, $font-family-centropro-light);
            font-style: italic;
            &:hover, &:focus, i:hover, i:focus {
              font-weight: bold; color: $ub-yellow; text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.search-form-page, .search-results-page {
  .header-module {
    margin-top: -$navbar-height;
    padding-top: $navbar-height + $ub-module-padding * 2;
    @include gradient-horizontal($ub-bg-filter-purple, $ub-bg-filter-purple);
    background: linear-gradient($ub-bg-filter-purple, $ub-bg-filter-purple), image-url('curriculum.jpg');
    background-size: cover;
  }
}

.search-form-page {
  .header-module {
    .search-form {
      @include make-md-column(12);
      form {
        @include set-typography($font-size-form-control, white, $font-family-caponi);
        > div.form-group {
          > div {
            @include make-md-column(4, $grid-gutter-width/2);
            > label {min-height: 50px; font-size: $font-size-form-label; font-weight: normal;}
          }
          margin-bottom: $ub-module-padding;
        }
      }
    }
  }
  .curriculum-map-ela {
    .curriculum-grade {@extend .ela-border;}
    .curriculum-grade-title {
      span.title { @include set-typography($font-size-grade, $ub-orange, $font-family-centrocond);}
      span.subtitle { @include set-typography($font-size-grade, $ub-orange, $font-family-centrocond-light);}
    }
  }
  .curriculum-map-math {
    .curriculum-grade {@extend .math-border;}
    .curriculum-grade-title {
      span.title { @include set-typography($font-size-grade, $ub-green, $font-family-centrocond);}
      span.subtitle { @include set-typography($font-size-grade, $ub-green, $font-family-centrocond-light);}
    }
  }

  .curriculum-content {
    padding-top: $ub-module-padding;
    @include set-typography($font-size-base-curriculum, $ub-txt-gray, $font-family-centropro-light);
    .curriculum-grade {
      @include make-md-column(12, $ub-module-padding * 2);
      margin-bottom: $ub-module-padding * 2;
      @extend .module-block;
      padding-top: $ub-module-padding;
      > .row {margin-bottom: $ub-element-padding;}
      .curriculum-grade-title { @include make-md-column(10); }
      .curriculum-grade-control {
        @include make-md-column(2);
        text-align: left; padding-top: $padding-large-vertical;
        @include set-typography($font-size-toggle, $ub-txt-light-gray, $font-family-centropro-light);
        .curriculum-grade-icon {@extend .ub-icon-minus;}
      }
      .curriculum-grade-control.collapsed {.curriculum-grade-icon {@extend .ub-icon-plus;}}
      .curriculum-grade-dsc {
        @include make-md-column(10);
        a {@include inline-link-styles-overwrite($font-size-base-curriculum);}
        .curriculum-grade-short-dsc{
          p, p span { @include inline-styles-overwrite($ub-txt-gray, white, $font-size-base-curriculum, $font-family-centropro-light, italic);}
        }
        .curriculum-grade-materials {
          p, p span { @include inline-styles-overwrite($ub-txt-light-gray, white, $font-size-base-curriculum, $font-family-centropro-light, normal);}
        }
      }
    }
    .module-12, .module-6 {
      .unit.unit-multiple {
        .unit-wrapper .lessons {@include make-md-column(6, $padding-xs-horizontal * 2);}
        .unit-wrapper .lessons-0 {padding-right: $padding-xs-horizontal * 2 + $grid-gutter-width/2;}
        .unit-wrapper .lessons-1 {padding-left: $padding-xs-horizontal * 2 + $grid-gutter-width/2;}
      }
    }
    .module-12 {
      @include make-md-column(12, $padding-base-horizontal);
      .unit {
        @include make-md-column(2, $padding-xs-horizontal * 2);
      }
      .unit.unit-multiple {
        @include make-md-column(4, $padding-xs-horizontal * 2);
      }
    }
    .module-6 {
      @include make-md-column(6,  0px); padding-left: $padding-base-horizontal/2;
      .unit {
        @include make-md-column(4, $padding-xs-horizontal * 2);
      }
      .unit.unit-multiple {
        @include make-md-column(8, $padding-xs-horizontal * 2);
      }
    }
    .module-6 + .module-6 {
     padding-right: $padding-base-horizontal/2; padding-left: 0px;
    }

    .module {
      padding-top: $padding-base-vertical; padding-bottom: $padding-base-vertical;
      .module-title {
        .module-title-title {
          @include make-md-column(12);
          &, & a  {
            .r-title {
               &:after {content: ': ';}
            }
          }
        }
        .module-title-dsc {
          @include make-md-column(10);
          p, p span { @include inline-styles-overwrite($ub-txt-gray, white, $font-size-base-curriculum, $font-family-centropro-light, italic);}
          a {@include inline-link-styles-overwrite($font-size-base-curriculum);}
          a:hover, a:focus { text-decoration: none!important;}
          strong {font-weight: normal!important;}
          p {margin-bottom: 0px!important; display: inline!important;}
          br {display: none;}
          min-height: 50px;
        }
        a {
          color: $ub-txt-gray;
        }
      }
    }
    .unit {
      .unit-wrapper {
        .unit-title {
          min-height: $unit-title-height!important;
          a {
            .r-title {
              &:after {content: ': ';}
            }
          }
        }
      }
    }
  }
}

.search-form-page .curriculum-content,
.lesson-page .sidebar {
  .module-wrapper {
    padding-top: $ub-element-padding/2; padding-bottom: $ub-element-padding/2;
    > div {
      @include make-row(0px);
      .module-title {
        @include make-md-column(12, $padding-xs-horizontal * 2);
        padding-bottom: $ub-element-padding;
        .module-title-title {
          &, & a  {
            .r-title {
              @include set-typography($font-size-module, $ub-txt-gray, $font-family-centropro);
            }
            .r-subtitle {@include set-typography($font-size-module, $ub-txt-gray, $font-family-centropro-light);}
          }
        }
      }
      .unit {
        padding-top: $padding-base-vertical; padding-bottom: $padding-base-vertical;
        .unit-wrapper {
          background-color: $ub-unit-bg;
          padding-top: $ub-element-padding; padding-bottom: $ub-element-padding;
          > div {
            @include make-row(-$ub-element-padding * 2);
            .unit-title {
              @include make-md-column(12, $padding-xs-horizontal * 2);
              padding-bottom: $ub-element-padding;
              a {
                .r-title {
                  @include set-typography($font-size-unit, $ub-txt-gray, $font-family-centropro);
                  text-transform: uppercase;
                }
                .r-subtitle {
                  @include set-typography($font-size-unit - 2px, $ub-txt-gray, $font-family-centropro-light);
                }
                .r-subtitle-break {word-break: break-all;}
              }
            }
            .lessons, .modules, .units {
              color: $ub-light-gray;
              @include make-md-column(12, $padding-xs-horizontal * 2);
              > div {
                @include make-row($padding-xs-horizontal);
              }
            }
            .lessons {
              > div {
                .lesson {
                  @include make-md-column(3, $padding-xs-horizontal);
                  padding-top: $padding-xs-horizontal/2; padding-bottom: $padding-xs-horizontal/2;
                  a {display: block; img {width: 100%;}}
                }
              }
            }
            .units {
              > div {
                .unit-nav {
                  @include make-md-column(4, $padding-xs-horizontal);
                  padding-top: $padding-xs-horizontal/2; padding-bottom: $padding-xs-horizontal/2;
                  a {display: block; img {width: 100%;}}
                }
              }
            }
            .modules {
              > div {
                .module-nav {
                  @include make-md-column(4, $padding-xs-horizontal);
                  padding-top: $padding-xs-horizontal/2; padding-bottom: $padding-xs-horizontal/2;
                  a {display: block; img {width: 100%;}}
                }
              }
            }
          }
        }
      }
    }
  }
}

.search-results-page {
  .header-module {margin-bottom: $ub-module-padding; }
	//background-color: $ub-light-gray;
  //padding-top: $ub-module-padding;
	.search-controls {
    //background: $ub-bg-filter-purple;
    //padding-top: $ub-module-padding;
    //margin-bottom: $ub-element-padding;
		@include make-md-column(12);
    .search-form {
      @include set-typography($font-size-form-control, white, $font-family-caponi);
      > div.form-filters-group {
        > div {
          @include make-md-column(4, $grid-gutter-width/2);
          > label {min-height: 50px; font-size: $font-size-form-label; font-weight: normal;}
        }
        margin-bottom: $ub-module-padding;
      }
      > div.form-keyword-group {
        > label { @include make-md-column-offset(0.5); @include make-md-column(3, $grid-gutter-width/2); font-size: $font-size-form-label; font-weight: normal}
        > div {@include make-md-column(8, $grid-gutter-width/2);}
        margin-bottom: $ub-module-padding;
      }
      > div.form-group:last-child {
       > div {@include make-md-column(2); @include make-md-column-offset(5);}
       .btn {background-color: $ub-purple; border-color: $ub-purple; font-size: $font-size-form-label; color: white; font-weight: bold;}
       margin-bottom: 0px;
      }
    }
	}
  .search-results-content {
    @extend .module-block;
    padding-bottom: $ub-module-padding;
    border-top: 4px $ub-purple solid;
		@include make-md-column(12);
    .breadcrumbs-list {@include make-md-column(12); padding-top: $ub-element-padding;
      .breadcrumb {padding-left: 0px; margin-bottom: 0px;}
    }
    .search-total {@include make-md-column(6); }
		.search-results {
      @include make-md-column(12);
      h5 a {@include set-typography($font-size-base + 2px, $ub-purple, $font-family-caponi);}
    }
		.search-pagination {
      @include make-md-column(6); .pagination {margin: 0px;}
      nav {float:right}
    }
    .search-pagination-bottom {@include make-md-column-offset(6);}
		.list-description {
      background-color: white; color: $ub-txt-gray!important;
      p, span {
        @include inline-styles-overwrite($ub-txt-gray, white, $font-size-small);
        margin: 0 0 10px!important;
        span {@include inline-styles-overwrite($ub-txt-gray, white, $font-size-small);}
      }
    }
	}
}

.file-pdf:before {
  @extend .fa;
  content: $fa-var-file-pdf-o;
}
.file-doc:before {
  @extend .fa;
  content: $fa-var-file-word-o;
}
.file-video:before {
  @extend .fa;
  content: $fa-var-file-video-o;
}
.file-resource:before {
  @extend .fa;
  content: $fa-var-file-text-o;
}

.lesson-page {
  //background-color: $ub-light-gray;
  padding-top: $ub-module-padding; //padding-bottom: $ub-module-padding;
  .sidebar-ela {
    .grade {
      @extend .ela-border;
    }
  }
  .sidebar-math {
    .grade {
      @extend .math-border;
    }
  }
  .sidebar {
    @include make-md-column(2);
    > .row {margin-right: 0px;}
    .grade {
      @include make-md-column(12, 24px);
      @extend .module-block; padding-top: $ub-element-padding; padding-bottom: $ub-element-padding;
      margin-bottom: $ub-element-padding;
      .grade-title a {
        @include set-typography($font-size-module, $ub-txt-gray, $font-family-centrocond);
        &:hover, &:focus {text-decoration: none;}
      }
    }
    .module {
      margin-bottom: $ub-element-padding; padding-top: $ub-element-padding;
      @include make-md-column(12);
      @extend .module-block;
      .module-wrapper {
        > .row {@include make-row($padding-large-horizontal);}
         > div .module-title .module-title-title {
          .r-title {
            display: block;
          }
          .r-subtitle {font-size: $font-size-unit;}
        }
      }
      .unit {
        @include make-md-column(12, $padding-xs-horizontal * 2);
        .unit-wrapper > .row {@include make-row(-$grid-gutter-width/2);}
        .unit-wrapper {
          .unit-title {
            .r-title { display: block;}
          }
        }
      }
      .lesson-nav {
        > div.row > div {padding-bottom: $padding-base-vertical;}
        a {
          @include set-typography($font-size-lesson-nav, $ub-txt-gray, $font-family-caponi);
          text-decoration: none;
        }
        div.disabled {
          color: lighten($ub-txt-light-gray, 15%);
          a {
            color: lighten($ub-txt-light-gray, 15%); pointer-events: none; cursor: default;
            &:hover, &:focus {color: lighten($ub-txt-light-gray, 15%)!important;}
          }
        }
        .nav-module-up, .nav-module-down {
          text-align: center;
          @include make-md-column(12, $padding-xs-horizontal * 2);
          > div:first-child {margin-bottom: -$padding-base-vertical;}
        }
        .nav-lesson-left, .nav-lesson-right {
          @include make-md-column(6, $padding-xs-horizontal);
          .media {
            .media-left {padding-right: $padding-xs-horizontal;}
            .media-right {padding-left: $padding-xs-horizontal;}
          }
        }
      }
    }
  }
  .lesson-content-ela {@extend .ela-border;}
  .lesson-content-math {@extend .math-border;}
  .lesson-content {
    @include make-md-column(10); background-color: white; padding-bottom: $ub-element-padding;
    @extend .module-block;
    h4, h5 {text-transform: uppercase;}
    .r-title {&:after {content: ': ';}}
    .lesson-img {
      @include make-md-column(12);
      background-image: image-url('resource_background.jpg'); background-size: cover;
      height: $lesson-img-height;
      margin-bottom: $ub-element-padding;
    }
    .lesson-dsc {
      @include make-md-column(6.5);
    }
    .lesson-resources {
      @include make-md-column(5.5);
      h5 {font-weight: bold;}
      ul.media-list {padding-top: $ub-element-padding;}
      //color: $ub-dark-bgray; a {color: $ub-dark-bgray;}
      .lesson-inst-resources {@include make-md-column(12);}
      .lesson-dev-resources {@include make-md-column(12);}
    }
  }
}

.page-body {
  @extend .module-block;
  border-top: 4px $ub-purple solid;
  @include make-md-column(12);
  h1, h2 {color: $ub-purple;}
  margin-top: $ub-module-padding; padding-bottom: $ub-module-padding;
}

footer {
  background-color: $ub-purple; color: white;
  i.fa {color: $ub-light-gray; font-size: $font-size-icon;}
  padding-top: $ub-element-padding; padding-bottom: $ub-element-padding;
  .footer-logo { @include make-md-column(2); img{ width: $logo-footer-width;}}
  .footer-txt {
    padding-top: 7px;
    @include make-md-column(8);
    li+li {padding-left: $padding-xs-horizontal;}
    li {color: $ub-txt-light-gray;}
    li:last-child {color: white;}
    font-size: $font-size-footer;
  }
  .footer-list {
    @include make-md-column(2);
    ul {
      margin-bottom: 0px;
      li {padding-left: $padding-xs-horizontal/2; padding-right: $padding-xs-horizontal/2;}
    }
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

@media (min-width: $screen-xs-max) {
  header {
    .navbar {
      line-height: 1;
      .nav li a {
        padding-bottom: 0px;
        padding-top: $ub-logo-padding + ($logo-height - $font-size-header + 5px);
      }
    }
  }
}

.no-gutter {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-wrap {
    white-space: nowrap;
}

.curriculum-grade-icon:hover {
    cursor: pointer;
}

form.inline {
    display: inline;
}

.unbounded-page {
    background-color: $ub-light-gray;
    padding-top: $ub-module-padding;
    padding-bottom: $ub-module-padding;

    .unbounded-content {
        background-color: white;
        padding: $ub-element-padding;
        h4, h5 {
            text-transform: uppercase;
        }
    }
}

.homepage-link:hover {
  //border-bottom: 2px solid;
  text-decoration: none;
}

@media (min-width: $screen-lg-min ){
  .home-page {
    .header-module {
      .hero-wrapper {
        @include container-fixed;
        width: 1200px;
        //> div {@include make-row();
        //  > div {@include make-lg-column(6); @include make-lg-column-offset(6);}
      }
    }
  }
  .nav-lesson-right {
    .media .media-body {padding-left: 15px;}
  }
}


@import "unbounded_md";
@import "unbounded_sm";
@import "unbounded_xs";

.curriculum-search-form input[type=radio] {
    cursor: pointer;
}

.curriculum-grade {
    .collapsed .show-ctrl{
        display: initial;
    }
    .collapsed .hide-ctrl{
        display: none;
    }
    .show-ctrl {
        display: none;
    }
    .hide-ctrl {
        display: initial;
    }
}

.admin-lobject-search .lobject-search-wrap .selectize-control {
    width: 150px;
}
