@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .search-form-page {
    .curriculum-content {
      .curriculum-grade {
        .curriculum-grade-dsc {
          @include make-md-column(12);
        }
      }
      .module {
        .module-title {
          .module-title-dsc {
            @include make-md-column(12);
          }
        }
      }
    }
  }

  .lesson-page {
    .sidebar {
      @include make-md-column(2.4);
      .module {
        padding-bottom: $ub-element-padding;
        @include make-md-column(12);
        .unit {
          @include make-md-column(12, $padding-xs-horizontal);
        }
        .lesson-nav {
          > div.row > div {padding-bottom: $padding-base-vertical;}
          .nav-module-up, .nav-module-down {
            @include make-md-column(12, $padding-xs-horizontal);
            > div:first-child {margin-bottom: -$padding-base-vertical;}
          }
          .nav-lesson-left, .nav-lesson-right {
            @include make-md-column(6, $padding-xs-horizontal);
            .media {
              .media-left {padding-right: $padding-xs-horizontal;}
              .media-right {padding-left: $padding-xs-horizontal;}
            }
          }
        }
      }
    }
    .lesson-content {
      @include make-md-column(9.6);
    }
  }
}