$font-size-hp-content: 20px;
$font-size-form-label: 20px;

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.home-page {
	  .stripe-module {
	    .hero-img {
	      @include make-sm-column(5.5); padding-left: 0px; padding-right: 0px;
	      height: 100%;
	      position: absolute;
	      top: 0;
	    }
	    .hero-text-curriculum {
	      @include make-sm-column-offset(5.5);
	    }
	    .hero-text {
	      @include make-sm-column(6.5);
	      .hero-dsc {
	        @include set-typography($font-size-hp-content, $ub-txt-gray, $font-family-caponi);
	        padding-left: $padding-large-horizontal; padding-right: $padding-large-horizontal;
	      }
	    }
	  }
	}

	.search-form-page {
	  .header-module {
	    .search-form {
	      @include make-sm-column(12);
	      form {
	        > div.form-group {
	          > div {
	            @include make-sm-column(4, $grid-gutter-width/2);
	            > label {min-height: 38px; font-size: $font-size-form-label;}
	          }
	        }
	        .curriculum-grade-selection {
	        	> div {@include make-sm-column(6, $grid-gutter-width/2);}
	        }
	      }
	    }
	  }
	  .curriculum-content {
	    .curriculum-grade {
	      @include make-sm-column(12);
	      .curriculum-grade-title { @include make-sm-column(10); }
	      .curriculum-grade-control {
	        @include make-sm-column(2);
	      }
	      .curriculum-grade-dsc {
	        @include make-sm-column(12);
	      }
	    }
	    .module-12 {
	      @include make-sm-column(12, $padding-base-horizontal);
	      .unit {
	        @include make-sm-column(4, $padding-xs-horizontal * 2);
	      }
	    }
	    .module-6 {
	      @include make-sm-column(12, $padding-base-horizontal);
	      .unit {
	        @include make-sm-column(4, $padding-xs-horizontal * 2);
	      }
	    }
	    .module-12, .module-6 {
	      .unit-0 {
	        padding-right: 0px; margin-right: 0px;
	        .unit-wrapper {padding-right: $padding-xs-horizontal;}
	      }
	      .unit-1 {
	        padding-left: 0px; margin-left: 0px;
	        .unit-wrapper {
	          padding-left: $padding-xs-horizontal;
	        }
	      }
	    }
	    .module {
	      padding-top: $padding-base-vertical; padding-bottom: $padding-base-vertical;
	      .module-title {
	        .module-title-title {@include make-sm-column(12);}
	        .module-title-dsc {@include make-sm-column(12);}
	      }
	    }
	  }
	}


	.search-form-page .curriculum-content,
	.lesson-page .sidebar {
	  .module-wrapper {
	    > div {
	      @include make-row(-$padding-xs-horizontal * 4);
	      .module-title {
	        @include make-sm-column(12, $padding-xs-horizontal * 2);
	      }
	      .unit {
	        .unit-wrapper {
	          > div {
	            @include make-row(-$ub-element-padding * 2);
	            .unit-title {
	              @include make-md-column(12, $padding-xs-horizontal * 2);
	            }
	            .lessons, .modules, .units {
	              @include make-sm-column(12, $padding-xs-horizontal * 2);
	              > div {
	                @include make-row($padding-xs-horizontal);
	              }
	            }
	            .lessons {
	              > div {
	                .lesson {
	                  @include make-sm-column(3, $padding-xs-horizontal * 2);
	                  padding-top: $padding-xs-horizontal; padding-bottom: $padding-xs-horizontal;
	                }
	              }
	            }
	            .units {
	              > div {
	                .unit-nav {
	                  @include make-sm-column(4, $padding-xs-horizontal * 2);
	                  padding-top: $padding-xs-horizontal; padding-bottom: $padding-xs-horizontal;
	                }
	              }
	            }
	            .modules {
	              > div {
	                .module-nav {
	                  @include make-sm-column(4, $padding-xs-horizontal * 2);
	                  padding-top: $padding-xs-horizontal; padding-bottom: $padding-xs-horizontal;
	                }
	              }
	            }
	          }
	        }
	      }
	    }
	  }
	}

	.lesson-page {
	  padding-top: $ub-module-padding; padding-bottom: $ub-module-padding;
	  .sidebar {
	    @include make-sm-column(3); //padding-left: 0px;
		  .module-wrapper {
		    > div {
		      @include make-row(-$padding-xs-horizontal * 4);
		      .unit {
		        .unit-wrapper {
		          > div {
		            @include make-row(-$padding-xs-horizontal * 2);
		          }
		        }
		      }
		    }
		  }

	    .module {
	      @include make-sm-column(12);
	      .unit {
	        @include make-sm-column(12, $padding-xs-horizontal);
	      }
	      .lesson-nav {
	        .nav-module-up, .nav-module-down {
	          @include make-sm-column(12, $padding-xs-horizontal);
	        }
	        .nav-lesson-left, .nav-lesson-right {
	          @include make-sm-column(6, $padding-xs-horizontal);
	        }
	        .nav-lesson-right .media-body { padding-left: 10px;}
	      }
	    }
	  }
	  .lesson-content {
	    @include make-sm-column(9);
	    .lesson-img {
	      @include make-sm-column(12);
	    }
	    .lesson-dsc {
	      @include make-sm-column(12);
	    }
	    .lesson-resources {
	      @include make-sm-column(12);
	      .lesson-inst-resources {@include make-md-column(12); padding-bottom: $ub-element-padding;}
	      .lesson-dev-resources {@include make-md-column(12);}
	    }
	  }
	}

	    // .search-form {
	    //   @include make-sm-column(12);
	    //   form {
	    //     > div.form-group {
	    //       > div {
	    //         @include make-sm-column(4, $grid-gutter-width/2);
	    //         > label {min-height: 38px; font-size: $font-size-form-label;}
	    //       }
	    //     }
	    //     .curriculum-grade-selection {
	    //     	> div {@include make-sm-column(6, $grid-gutter-width/2);}
	    //     }
	    //   }
	    // }

	.search-results-page {
		.search-controls {
			@include make-sm-column(12);
	    form {
	      > div.form-filters-group {
	        > div {
	          @include make-sm-column(4, $grid-gutter-width/2);
	          > label {min-height: 38px; font-size: $font-size-form-label; }
	        }
	      }
	      .curriculum-grade-selection {
	      	> div {@include make-sm-column(6, $grid-gutter-width/2);}
	    	}
	      > div.form-keyword-group {
	        > label { @include make-sm-column-offset(0); @include make-sm-column(4, $grid-gutter-width/2); font-size: $font-size-form-label;}
	        > div {@include make-sm-column(8, $grid-gutter-width/2);}
	      }
	      > div.form-group:last-child {
	       > div {@include make-sm-column(4); @include make-sm-column-offset(4);}
	       .btn {font-size: $font-size-form-label;}
	      }
	    }
		}
	  .search-results-content {
			@include make-sm-column(12);
	    .breadcrumbs-list {@include make-sm-column(12);}
	    .search-total {@include make-sm-column(7); }
			.search-results {
	      @include make-sm-column(12);
	    }
			.search-pagination {
	      @include make-sm-column(5);
	    }
	    .search-pagination-bottom {@include make-sm-column-offset(7);}
		}
	}

	.subscribe-module {
	  > div.container {
	    > div.row > div {
	      @include make-sm-column(12);
	      form {
	        div.form-group {
	          > label {
	            @include make-sm-column(6);
	            padding-top: $ub-module-padding + 8px;
	          }
	          > div:nth-child(2) {
	            @include make-sm-column(5.2);
	          }
	          > div:last-child {
	            @include make-sm-column(0.8);
	          }
	        }
	      }
	    }
	  }
	}


	footer {
	  .footer-logo { @include make-sm-column(4); }
	  .footer-txt { @include make-sm-column(8); }
	}
}