@mixin appearance ($value: none) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

.ub-select, .ub-input {
  .selectize-input, .selectize-input.input-active {
    border: none; box-shadow: none;
    color: white; font-size: $font-size-form; line-height: $font-size-form + 2px;
    border-radius: 0px;
    border-bottom: 2px solid white;
    padding-top: 2px;
    background-color: transparent!important;
    outline: none; transition: none; outline: 0; box-sizing: none;
    @include appearance;
    input {color: white;}
  }
  .selectize-input.input-active { padding-top: 0px;}
  .selectize-control.single .selectize-input:after {
    color: white;
    @extend .fa;
    content: $fa-var-angle-right;
    font-size: $font-size-caret;
    margin-top: -$font-size-caret/3!important;
    border: none;
  }
  .selectize-control.single .selectize-input.dropdown-active:after {
    content: $fa-var-angle-up;
    margin-top: -$font-size-caret/3; border: none;
  }
  .selectize-dropdown, .selectize-dropdown.form-control  {
    background-color: rgba(0, 0, 0, 0.75);
    color: white; font-size: $font-size-form;
    margin-top: $font-size-caret/3!important;
  }
  .selectize-dropdown .active {
    background-color: rgba(255, 255, 255, 0.5);
    color: $ub-light-gray;
  }
  input, textarea {
    font-size: $font-size-form;
  }
}


@mixin radio-variant($parent, $color) {
  #{$parent} input[type="radio"]{
    & + label{
      &::after{
        background-color: $color;
      }
    }
    &:checked + label{
      &::before {
        border-color: $color;
      }
      &::after{
        background-color: $color;
      }
    }
  }
}

@include radio-variant('.ub-radio', white);

.ub-radio {
  .radio{
    padding-left: 20px;

    label{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding-left: 5px;

      &::before{
        content: "";
        display: inline-block;
        position: absolute;
        width: 18px;
        height: 18px;
        left: 0;
        margin-left: -20px;
        border: 1px solid white;
        border-radius: 50%;
        //background-color:  $ub-purple;
        @include transition(border 0.15s ease-in-out);
      }

      &::after{
        display: inline-block;
        position: absolute;
        content: " ";
        width: 10px;
        height: 10px;
        left: 4px;
        top: 4px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: tra;
        @include scale(0, 0);

        @include transition-transform(.1s cubic-bezier(.8,-0.33,.2,1.33));
        //curve - http://cubic-bezier.com/#.8,-0.33,.2,1.33
      }
    }

    input[type="radio"]{
      opacity: 0;
      z-index: 1;

      &:focus + label::before{
        @include tab-focus();
      }

      &:checked + label::after{
        @include scale(1, 1);
      }

      &:disabled + label{
        opacity: 0.65;

        &::before{
          cursor: not-allowed;
        }
      }

    }

    &.radio-inline{
      margin-top: 0;
    }
  }
}