// Font sizes
$font-size-icon: 21px;
$font-size-form: 18px;
$font-size-caret: 32px;
$font-size-form-label: 20px;
$font-size-grade: 24px;
$font-size-sbc-input: 18px;

// Paddings, element sizes
$logo-height: 21px;

// Home page
$header-img-block-height: 195px;

@media (max-width: $screen-xs-max) {
  header {
    .navbar {
      .navbar-brand {
        img {height: $logo-height;}
      }
      .nav {
        > li { height: auto;}
        > li.active {border-bottom: none; font-weight: bold;}
      }
      .navbar-header {
        .navbar-toggle {
          padding-bottom: 0px;
          .header-toggle-icon { &:before {content: "\e117";}}
        }
        .navbar-toggle.collapsed {
          .header-toggle-icon { &:before {content: "\e120";}}
        }
      }
    }
    .navbar-form {
      margin-left: 0px; margin-right: 0px;
      padding-top: 0px;
      input[name='query'] {min-width: 200px;}
    }
    margin-bottom: 0px;
  }

  .home-page {
    .stripe-module {
      .hero-img {
        @include make-xs-column(12); padding-left: 0px; padding-right: 0px;
        height: $header-img-block-height;
      }
      .hero-text {
        @include make-xs-column(12);
      }
    }
  }

  .search-form-page {
    .header-module {
      padding-top: $navbar-height + $ub-module-padding  ;
      .search-form {
        @include make-xs-column(12);
        form {
          > div.form-group {
            > div {
              @include make-xs-column(12); padding-top: $ub-element-padding;
              > label {min-height: auto; font-size: $font-size-form-label;}
            }
          }
          .curriculum-subject-selection { @include make-row();}
          .curriculum-grade-selection {
            > div {@include make-xs-column(6);}
          }
          .curriculum-subject-selection {
            > div {@include make-xs-column(6, 70px);}
          }
        }
      }
    }

    .curriculum-content {
      .curriculum-grade {
        @include make-xs-column(12);
        .curriculum-grade-title {
          @include make-xs-column(10);
          span.title, span.subtitle { font-size: $font-size-grade;}
        }
        .curriculum-grade-control {
          @include make-xs-column(2);
        }
        .curriculum-grade-dsc {
          @include make-xs-column(12);
        }
      }
      .module-12 {
        @include make-xs-column(12, $padding-base-horizontal);
        .unit {
          @include make-xs-column(12, $padding-xs-horizontal * 2);
        }
      }
      .module-6 {
        @include make-xs-column(12, $padding-base-horizontal);
        .unit {
          @include make-xs-column(12, $padding-xs-horizontal * 2);
        }
      }
      .module-12, .module-6 {
        .unit-0 {
          padding-bottom: 0px!important;
          .unit-wrapper {padding-bottom: 0px!important; padding-right: 0px;}
        }
        .unit-1 {
          padding-top: 0px!important;
          .unit-wrapper {
            padding-top: 0px!important;
            padding-left: 0px;
          }
        }
      }
      .module {
        padding-top: $padding-base-vertical; padding-bottom: $padding-base-vertical;
        .module-title {
          .module-title-title {@include make-xs-column(12);}
          .module-title-dsc {@include make-xs-column(12);}
        }
      }
    }
  }

  .search-form-page .curriculum-content,
  .lesson-page .sidebar {
    .module-wrapper {
      > div {
        @include make-row(-$padding-xs-horizontal * 4);
        .module-title {
          @include make-xs-column(12, $padding-xs-horizontal * 2);
        }
        .unit {
          .unit-wrapper {
            > div {
              @include make-row(-$ub-element-padding * 2);
              .unit-title {
                @include make-xs-column(12, $padding-xs-horizontal * 2);
              }
              .lessons, .modules, .units {
                @include make-xs-column(12, $padding-xs-horizontal * 2);
                > div {
                  @include make-row($padding-xs-horizontal);
                }
              }
              .lessons {
                > div {
                  .lesson {
                    @include make-xs-column(1.5, $padding-xs-horizontal * 2);
                    padding-top: $padding-xs-horizontal; padding-bottom: $padding-xs-horizontal;
                  }
                }
              }
              .units {
                > div {
                  .unit-nav {
                    @include make-xs-column(1.5, $padding-xs-horizontal * 2);
                    padding-top: $padding-xs-horizontal; padding-bottom: $padding-xs-horizontal;
                  }
                }
              }
              .modules {
                > div {
                  .module-nav {
                    @include make-xs-column(1.5, $padding-xs-horizontal * 2);
                    padding-top: $padding-xs-horizontal; padding-bottom: $padding-xs-horizontal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .lesson-page {
    padding-top: 0px; padding-bottom: 0px;
    .sidebar {
      @include make-xs-column(12);
      > .row {@include make-row();}
      .module-wrapper {
        > div {
          @include make-row(-$padding-xs-horizontal * 4);
          .unit {
            .unit-wrapper {
              > div {
                @include make-row(-$padding-xs-horizontal * 2);
              }
            }
          }
        }
      }

      .module {
        @include make-xs-column(12);
        .unit {
          @include make-xs-column(12, $padding-xs-horizontal);
        }
        .lesson-nav {
          a {font-size: $font-size-form;}
          .nav-module-up, .nav-module-down {
            @include make-xs-column(12, $padding-large-horizontal * 2);
          }
          .nav-lesson-left, .nav-lesson-right {
            @include make-xs-column(6, $padding-large-horizontal * 2);
            .media-body {vertical-align: middle;}
          }
        }
      }
    }
    .resource-content {@include make-xs-column(12);}
    .lesson-content, .unit-content {
      @include make-xs-column(12);
      margin-bottom: $ub-module-padding;
      .lesson-img {
        @include make-xs-column(12);
      }
      .lesson-dsc {
        @include make-xs-column(12);
      }
      .lesson-resources {
        @include make-xs-column(12);
        .lesson-inst-resources {@include make-xs-column(12); padding-bottom: $ub-element-padding;}
        .lesson-dev-resources {@include make-xs-column(12);}
      }
    }
  }

  .search-results-page {
    .search-controls {
      @include make-xs-column(12);
      form {
        > div.form-filters-group {
          > div {
            @include make-xs-column(12); padding-bottom: $ub-element-padding;
            > label {min-height: auto; font-size: $font-size-form-label;}
          }
        }
        .curriculum-subject-selection { @include make-row();}
        .curriculum-grade-selection {
          > div {@include make-xs-column(6);}
        }
        .curriculum-subject-selection {
          > div {@include make-xs-column(6, 70px);}
        }
        > div.form-keyword-group {
          > label { @include make-sm-column-offset(0); @include make-xs-column(12); font-size: $font-size-form-label;}
          > div {@include make-xs-column(12);}
        }
        > div.form-group:last-child {
         > div {@include make-xs-column(5); @include make-xs-column-offset(3.5);}
         .btn {font-size: $font-size-form-label;}
        }
      }
    }
    .search-results-content {
      @include make-xs-column(12);
      .breadcrumbs-list {@include make-xs-column(12);}
      .search-total {@include make-xs-column(12); }
      .search-results {
        @include make-xs-column(12);
      }
      .search-pagination {
        @include make-xs-column(12);
      }
      .search-pagination-bottom {@include make-xs-column-offset(0);}
    }
  }

  .subscribe-module {
    > div.container {
      margin-bottom: 0px; margin-top: $ub-module-padding;
      > div.row > div {
        @include make-xs-column(12);
        form {
          div.form-group {
            > label {
              @include make-xs-column(12);
              padding-top: $ub-element-padding; padding-bottom: $ub-element-padding;
            }
            > div:nth-child(2) {
              @include make-xs-column(10);
              padding-top: $ub-element-padding; padding-bottom: $ub-element-padding;
              input {font-size: $font-size-sbc-input;}
            }
            > div:last-child {
              @include make-xs-column(2);
              padding-top: $ub-element-padding; padding-bottom: $ub-element-padding;
            }
          }
        }
      }
    }
  }

  footer {
    text-align: center;
    .footer-logo { @include make-xs-column(12); padding-bottom: $padding-large-vertical; }
    .footer-txt { @include make-xs-column(12);  ul {float: none!important; text-align: center;}}
  }
}

@media (min-width: 480px) and (max-width: $screen-xs-max) {
  .search-form-page .curriculum-content {
    .module-wrapper {
      > div {
        .unit {
          .unit-wrapper {
            > div {
              .lessons {
                > div {
                  .lesson {
                    @include make-xs-column(0.75, $padding-xs-horizontal);
                    padding-top: $padding-xs-horizontal; padding-bottom: $padding-xs-horizontal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .lesson-page .sidebar {
    .module-wrapper {
      > div {
        @include make-row(-$padding-xs-horizontal * 4);
        .module-title {
          @include make-xs-column(12, $padding-xs-horizontal * 2);
        }
        .unit {
          .unit-wrapper {
            > div {
              @include make-row(-$ub-element-padding * 2);
              .unit-title {
                @include make-xs-column(12, $padding-xs-horizontal * 2);
              }
              .lessons, .modules, .units {
                @include make-xs-column(12, $padding-xs-horizontal * 2);
                > div {
                  @include make-row($padding-xs-horizontal);
                }
              }
              .lessons {
                > div {
                  .lesson {
                    @include make-xs-column(1, $padding-xs-horizontal * 2);
                    padding-top: $padding-xs-horizontal; padding-bottom: $padding-xs-horizontal;
                  }
                }
              }
              .units {
                > div {
                  .unit-nav {
                    @include make-xs-column(1, $padding-xs-horizontal * 2);
                    padding-top: $padding-xs-horizontal; padding-bottom: $padding-xs-horizontal;
                  }
                }
              }
              .modules {
                > div {
                  .module-nav {
                    @include make-xs-column(1, $padding-xs-horizontal * 2);
                    padding-top: $padding-xs-horizontal; padding-bottom: $padding-xs-horizontal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
