// Color scheme
$ub-purple: #2f1a45;
$ub-light-purple: #d4ced8;
$ub-gray: #a6aaa9;
$ub-light-gray: #edebf0;
$ub-yellow: #f5d329;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:700);

// Font sizes
$font-size-icon: 21px;
$font-size-form: 18px;
$font-size-caret: 32px;

// Bootstrap variables
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: $ub-purple;
$body-bg: white;

$navbar-height: 55px;
$navbar-default-bg: white;
$navbar-default-link-color: $ub-gray;
$navbar-default-color: $ub-gray;
$navbar-default-link-hover-bg: white;
$navbar-default-link-active-bg: white;
$navbar-default-link-hover-color: $ub-purple;
$navbar-default-border: none;
$navbar-border-radius: 0px;

$brand-primary: $ub-purple;
$border-radius-base: 0px;
$btn-border-radius-base: 0px;
$btn-border-radius-large: 0px;
$btn-border-radius-small: 0px;

// Paddings, element sizes
$ub-module-padding: 30px;
$ub-header-padding: 320px;
$ub-element-padding: 15px;
$logo-height: 30px;
$logo-footer-width: 110px;
$logo-title-height: 36px;

@import "font-awesome-sprockets";
@import "font-awesome";
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "selectize.bootstrap3";

h1, h2, h3, h4, .navbar-brand, hero-title, .hero-subtitle {
	font-family: $font-family-heading;
}

header {
	.navbar {
		.nav li a {
			text-transform: uppercase;
		}
		margin-bottom: 0px;
	}
}

@mixin appearance ($value: none) {
	-webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

.header-module {
	background-image: image-url('home_background.jpeg');
	background-size: cover;
}

.subscribe-module {
	background-color: white;
	> div.container {
		margin-top: $ub-module-padding * 2; margin-bottom: $ub-module-padding;
		> div.row > div {
			@include make-md-column(12);
			form {
		    div.form-group {
		      > label {@include make-md-column(5); font-size: $font-size-h3; font-style: italic; font-weight: normal;}
		      > div:nth-child(2) {
		        @include make-md-column(4); padding-right: 0px;
		        input {border-radius: 0px; background-color: $ub-light-gray;}
		      }
		      > div:last-child {
		        @include make-md-column(2); padding-left: 0px;
		        button {
		        	background-color: white;
		        	border: none; color: $ub-purple;
		        }
		      }
		    }
		  }
		}
	}
}

.home-page {
	.header-module {
		padding-top: $ub-module-padding * 2;
		padding-bottom: $ub-header-padding;
		.hero-text {
			float: right;
			//padding-right: $ub-module-padding;
			color: white;
			> div { padding: $ub-element-padding $ub-element-padding; display: block;}
			.hero-title {
				background-color: rgba(26,25,48,0.5);
			}
			.hero-subtitle {
				color: $ub-yellow;
				background-color: rgba(26,25,48,0.8);
			}
		}
	}
	.stripe-module {
		margin-top: $ub-module-padding; margin-bottom: $ub-module-padding;
		background-color: $ub-light-gray;
		.hero-img {
			@include make-md-column(6.5); padding-left: 0px; padding-right: 0px;
			img { width: 100%;}
		}
		.hero-text {
			h2 img {height: $logo-title-height; padding-bottom: 9px;}
			@include make-md-column(5.5);
			padding-bottom: $ub-element-padding;
		}
	}
}

.ub-select, .ub-input {
	.selectize-input, .selectize-input.input-active {
		border: none; box-shadow: none;
		color: white; font-size: $font-size-form; line-height: $font-size-form + 2px;
		border-radius: 0px;
		border-bottom: 2px solid $ub-yellow;
		padding-top: 2px;
		background-color: transparent!important;
		outline: none; transition: none; outline: 0; box-sizing: none;
		@include appearance;
		input {color: white;}
	}
	.selectize-input.input-active { padding-top: 0px;}
	.selectize-control.single .selectize-input:after {
		color: $ub-yellow;
		@extend .fa;
    content: $fa-var-caret-down;
    font-size: $font-size-caret;
    margin-top: -$font-size-caret/3!important;
    border: none;
	}
	.selectize-control.single .selectize-input.dropdown-active:after {
		content: $fa-var-caret-up;
		margin-top: -$font-size-caret/3; border: none;
	}
	.selectize-dropdown, .selectize-dropdown.form-control	{
		background-color: rgba(0, 0, 0, 0.75);
		color: white; font-size: $font-size-form;
		margin-top: $font-size-caret/3!important;
	}
	.selectize-dropdown .active {
	  background-color: rgba(255, 255, 255, 0.5);
	  color: $ub-light-gray;
	}
	input, textarea {
    font-size: $font-size-form;
  }
}

.search-form-page {
	.header-module {
		padding-top: $ub-module-padding;
		margin-bottom: $ub-module-padding;
		.search-form {
			@include make-md-column(12);
			form {
				color: white; font-size: $font-size-form;
				> div.form-group {
					> div { @include make-md-column(4);}
					label {min-height: 50px;}
					margin-bottom: $ub-module-padding;
				}
				> div.form-group:last-child {
					> div {
						@include make-md-column(12);
						button { @include center-block;}
					}
					margin-bottom: 0px;
				}
				.btn-ub {background-color: $ub-yellow; color: $ub-purple; }
			}
		}
	}
	.page-content {
		background-color: $ub-light-purple;
	}
}

footer {
	background-color: $ub-purple; color: white;
	i.fa {color: $ub-light-gray; font-size: $font-size-icon;}
	padding-top: $ub-element-padding; padding-bottom: $ub-element-padding;
	.footer-logo { @include make-md-column(2); img{ width: $logo-footer-width;}}
	.footer-txt { @include make-md-column(8); span+span {padding-left: $padding-base-horizontal;} font-size: small;}
	.footer-list {
		@include make-md-column(2);
		ul {
			margin-bottom: 0px;
			li {padding-left: $padding-xs-horizontal/2; padding-right: $padding-xs-horizontal/2;}
		}
	}
}

@media (min-width: $screen-xs-max) {
	header {
		.navbar {
			line-height: 1;
			.nav li a {
				padding-bottom: 0px;
				padding-top: ($navbar-height - $logo-height)/2 + ($logo-height - $font-size-base);
			}
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	footer {
		.row > div + div { padding-top: $ub-element-padding;}
	}
}

@media (max-width: $screen-xs-max) {
		footer {
		.row > div + div { padding-top: $ub-element-padding;}
	}
}