<div class="header-module">
  <div class="container">
    <div class="row">
      <div class="search-form">
        <form class="curriculum-search-form form-horizontal" action="" method="POST">
          <div class="form-group">
            <%= render partial: 'shared/search_options', locals: { dropdown_options: dropdown_options } %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
