<div class="lesson" data-resource-id="<%= lesson.content.id %>">
  <%= link_to(unbounded_resource_path(lesson.content, curriculum)) do %>
    <%= render partial: 'shared/lesson_svg' %>
  <% end %>
</div>
