<% cache(cache_key_for_curriculum) do %>
  <div class="search-form-page curriculum-page" data-role="page">
    <%= render partial: 'header', locals: { dropdown_options: @dropdown_options } %>

    <div class="curriculum-content">
      <div class="container">
        <div id="curriculum-resources" class="row">
          <div class="curriculum-map curriculum-map-ela ela">
            <% @curriculum_roots[:ela].each do |grade| %>
              <%= render partial: 'grade', locals: { grade: grade } %>
            <% end %>
          </div>

          <div class="curriculum-map curriculum-map-math math">
            <% @curriculum_roots[:math].each do |grade| %>
              <%= render partial: 'grade', locals: { grade: grade } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'shared/resource_preview' %>

  </div>
<% end %>
