<body onload="subst()">
  <table class="c-pdf-footer">
    <tr>
      <td class="c-pdf-footer__left"><strong>Unbound</strong>Ed<span class="pdf-bullet"></span><strong><%= title %></strong></td>
      <td class="c-pdf-footer__right">
        <span class="page"></span>
      </td>
    </tr>
  </table>
</div>
