<body onload="subst()">
  <div class="c-pdf-footer">
    <div class="c-pdf-footer__left">
        <strong>Unbound</strong>Ed<span class="pdf-bullet"></span><strong><%= title %></strong>
    </div>
    <div class="c-pdf-footer__right">
      <span class="page"></span>
    </div>
  </div>
</div>
