<div class="o-sidebar" data-sticky-container>
  <nav class="o-sidebar__wrap sticky hide-for-small-only" data-sticky data-anchor="c-ch-content" data-sticky-on="medium" data-check-every="50">
    <ul class="o-sidebar-nav o-sidebar-nav__menu">
      <li class=o-sidebar-nav__header><%= t('ui.contents') %>
      <li><div class=o-sidebar-nav__sep></div>

      <% headings.each do |heading| %>
        <%= render 'nav_item', heading: heading %>
      <% end %>
    </ul>
  </nav>
</div>
