---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1JfwvPLtAzJ7Hwq-qOWmHAqAip0EeiObgcz_HaeveS5c?fields=lastModifyingUser,modifiedTime,name,version
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }
  recorded_at: Sun, 16 Apr 2017 10:05:58 GMT
recorded_with: VCR 3.0.3
