.aboutPage__members {
  background: $ub-bg;
  font-size: 0;
  padding: 0;
}

.aboutPage__member {
  display: inline-table;
  font-size: $font-size-base-curriculum;
  width: 50%;

  &:nth-child(even) {
    .aboutPage__member__bio {
      margin-left: -100%;
    }
  }

  &.active {
    background: $ub-unit-bg;

    .aboutPage__member__close {
      display: block;
    }

    .aboutPage__member__bio {
      background: $ub-unit-bg;
      display: block;
    }
  }
}

.aboutPage__member__close {
  color: #ff9800;
  cursor: pointer;
  display: none;
  font-size: 42px;
  line-height: 1;
  position: absolute;
  right: 13px;
  top: 0;
}

.aboutPage__member__label {
  cursor: pointer;
  margin: 0;
  padding: 32px 13px 5px;
  position: relative;
}

.aboutPage__member__name {
  margin: 0;
}

.aboutPage__member__bio {
  display: none;
  padding: 32px 13px;
  width: 200%;
}
