.contengGuide {
  .popover {
    line-height: 1.2;
    width: 300px;
  }
}

.contengGuide__nav__item {
  &.level1 {
    padding-left: 1em;
  }
  &.level2 {
    padding-left: 2em;
  }
  &.level3 {
    padding-left: 3em;
  }
  &.level4 {
    padding-left: 4em;
  }
  &.level5 {
    padding-left: 5em;
  }
}

.contengGuide__task__hidden {
  display: none;
  padding-top: 1em;
}

.contengGuide__task__toggler {
  display: inline-block;
  margin-top: 1em;
}
