.searchForm__fts {
  text-align: center;
}

.searchForm__fts__label {
  float: none !important;
  margin: 0 !important;
  width: auto !important;
}

.searchForm__fts__inputWrap {
  display: inline-block;
  float: none !important;
}
