<div class="header-module">
  <div class="container">
    <div class="row">
      <div class="search-form">
        <form class="curriculum-search-form form-horizontal" action="" method="POST">
          <div class="form-group">
            <div class="ub-group">
              <label for="">1. <%= t('curriculum_page.search_form.subject_label') %></label>
              <div class="ub-radio">
                <div class="radio">
                  <input type="radio" name="ela-radio" value="">
                  <label>English Language Arts</label>
                </div>
                <div class="radio" checked>
                  <input type="radio" name="math-radio" value="" checked>
                  <label>Mathematics</label>
                </div>
              </div>
            </div>
            <div class="ub-group">
              <label for="">2. <%= t('curriculum_page.search_form.grade_label') %></label>
              <div class="form-group">
                <div class="col-md-6">
                  <div class="ub-radio">
                    <div class="radio" disabled>
                      <label>
                        <input type="radio" name="gr9-radio" value="" disabled>
                        Grade9
                      </label>
                    </div>
                    <div class="radio" disabled>
                      <label>
                        <input type="radio" name="gr10-radio" value="" disabled>
                        Grade10
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="ub-radio">
                    <div class="radio" disabled>
                      <label>
                        <input type="radio" name="ela-radio" value="" disabled>
                        Grade9
                      </label>
                    </div>
                    <div class="radio" disabled>
                      <label>
                        <input type="radio" name="math-radio" value="" disabled>
                        Grade10
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ub-group">
              <label for="">3. <%= t('curriculum_page.search_form.standard_label') %></label>
              <div class="ub-select">
                <%= select('dropdown_options', 'standards', dropdown_options.standard_options, { include_blank: true, selected: dropdown_options.standard_ids }, { class: 'curriculum-filter curriculum-filter-standard selectize form-control', multiple: true}) %>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
