<div class="lesson" data-lobject-id="<%= lesson.content.id %>">
  <%= link_to(unbounded_show_path(lesson.content.id)) do %>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" class="injected-svg svg-inject">
    <g><rect class="ub-square-lesson" width="64" height="64" x="0" y="0"></rect></g>
    </svg>
  <% end %>
</div>
