<div class="lesson" data-lobject-id="<%= lesson.content.id %>">
  <%= link_to(unbounded_show_path(lesson.content.id)) do %>
    <%= render partial: 'unbounded/shared/lesson_svg' %>
  <% end %>
</div>
