<% each_units(unit) do |lessons, i| %>
  <div class="unit unit-<%= i if unit.children.size > 16 %>">
    <div class="unit-wrapper">
      <div class="row">
        <div class="unit-title">
          <div>
            <%= link_to(unit_node_title(unit), unbounded_show_path(unit.content.id), data: { 'lobject-id' => unit.content.id }) %>
          </div>
        </div>
        <div class="lessons">
          <div class="row">
            <% lessons.each do |lesson| %>
              <%= render partial: 'lesson', object: lesson %>
            <% end %>

            <% if (unit.children.size > 0 && unit.children.size < 16) || (lessons.size > 0 && lessons.size < 16) %>
              <% (16 - lessons.size).times do %>
                <%= render partial: 'empty_lesson' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
