<li class=lobject-node>
  <% if tree.children.size > 0 %>
    <% node_id = "node_#{tree.content.id}" %>
    <%= check_box_tag nil, nil, true, class: 'collection-tree-opener', id: node_id %>
    <%= label_tag node_id, '' %>
  <% end %>

  <%= tree.content.title %>

  <% if tree.children.size > 0 %>
    <ul>
        <% tree.children.each do |child_tree| %>
            <%= render partial: 'tree', locals: { tree: child_tree } %>
        <% end %>
    </ul>
  <% end %>
</li>
