<div class=nc-content>
  <h2 class=text-center><%= t('.page_title', collection_id: @collection.id) %></h2>

  <%= simple_form_for @collection, url: unbounded_admin_collection_path(@collection) do |f| %>
    <ul class='editable-tree'>
      <%= render partial: 'editable_tree', locals: { form: f, tree: @collection.tree } %>
    </ul>

    <%= f.button :submit, t('ui.save'), name: nil %>
  <% end %>
</div>
