<div class=nc-content>
  <div class=clearfix>
    <div class=pull-right>
      <%= link_to t('ui.edit'), edit_unbounded_admin_collection_path(@collection), class: 'btn btn-default' %>
      <%= link_to t('ui.delete'), delete_unbounded_admin_collection_path(@collection), class: 'btn btn-danger' %>
    </div>
  </div>

  <h2 class=text-center><%= t('.page_title', collection_id: @collection.id) %></h2>

  <ul class=collection-tree>
    <%= render partial: 'tree', locals: { tree: @collection.tree } %>
  </ul>
</div>
