$ub-material-radius: 2px;
$ub-material-card-margin: 2px;

%material-card {
  box-shadow: 0 $ub-material-card-margin $ub-material-card-margin rgba(0, 0, 0, .12);
  margin-bottom: $ub-material-card-margin;
  border-radius: $ub-material-radius;
}

%map-transition {
  transition-duration: .4s;
  transition-property: width, height, min-height, padding;
  transition-timing-function: ease;
}

%btn-transition {
  transition-duration: .4s;
  transition-property: min-width;
  transition-timing-function: ease-out;
}

// fadeIn transition
.m-fadeIn-enter {
  opacity: .01;
}

.m-fadeIn-enter.m-fadeIn-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}
